<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil uil-utensils'"
    [title]="'Recetario'"
    [number]="list.countSig()"
    [type]="'recetas'"
  />
  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
    ></app-filters>
    <app-page-toolbar
      [columns]="headerListRecipes"
      [visibility]="col.columnVisSig"
      [addText]="'Nueva receta'"
      (add)="addNewRecipeModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    />
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (recipesFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (list.processedSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado recetas</h2>
    <app-table
      [data]="list.processedSig()"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay recetas registradas.
  </div>
  } }
</div>

<!-- Modal -->
<app-modal-shell
  [renderKey]="modalKey"
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormRecipeData)="sendFormRecipe($event)"
/>
