<div class="side-bar h-full flex flex-col justify-between bg-azulOscuro">
  <div>
    <ul class="side-bar__list">
      @for (item of homeMenu; track item) {
      <li
        [routerLink]="item.router"
        [queryParams]="item.query"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <div class="list-wrapper-item" [class.active]="rla.isActive">
          <i [ngClass]="['uil', item.icon]"></i>
          <span class="side-bar__list list-label">{{ item.name }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list">
      @for (item of eventsMenu; track item) {
      <li
        [routerLink]="item.router"
        [queryParams]="item.query"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <div class="list-wrapper-item" [class.active]="rla.isActive">
          <i [ngClass]="['uil', item.icon]"></i>
          <span class="side-bar__list list-label">{{ item.name }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list">
      @for (item of mainMenu; track item) {
      <li
        [routerLink]="item.router"
        [queryParams]="item.query"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <div class="list-wrapper-item" [class.active]="rla.isActive">
          <i [ngClass]="['uil', item.icon]"></i>
          <span class="side-bar__list list-label">{{ item.name }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list">
      @for (item of customOptions; track item) {
      <li
        [routerLink]="item.router"
        [queryParams]="item.query"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <div class="list-wrapper-item" [class.active]="rla.isActive">
          <i [ngClass]="['uil', item.icon]"></i>
          <span class="side-bar__list list-label">{{ item.name }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list">
      @for (item of accountingOptions; track item) {
      <li
        [routerLink]="item.router"
        [queryParams]="item.query"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <div class="list-wrapper-item" [class.active]="rla.isActive">
          <i [ngClass]="['uil', item.icon]"></i>
          <span class="side-bar__list list-label">{{ item.name }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="side-bar__separator line-separator"></div>
  </div>

  <!-- Footer -->
  <ul class="side-bar__list">
    @for (item of footerOptions; track item) {
    <li
      [routerLink]="item.router"
      routerLinkActive="active"
      #rla="routerLinkActive"
    >
      <div class="list-wrapper-item" [class.active]="rla.isActive">
        <i [ngClass]="['uil', item.icon]"></i>

        <span class="side-bar__list list-label">{{ item.name }}</span>
      </div>
    </li>
    }
  </ul>
</div>
