<div class="flex flex-col mx-3 md:mx-8 mt-2 md:mt-4">
  <app-filters
    [filters]="filters"
    (filterClicked)="filterSelected($event)"
  ></app-filters>

  <!-- Spinner Loading -->
  @if (isLoading) {
  <div class="mt-24">
    <app-spinner-loading />
  </div>
  } @else { @if (showCalendar && selectedFilter) {
  <app-calendar
    [events]="eventsAll"
    [filterYear]="selectedFilter"
  ></app-calendar>
  } @if (areThereResults) {
  <app-section-generic
    [typeSection]="typeList.Events"
    [data]="nonRepeatedEvents"
    [total]="number"
  />
  } @else {
  <app-no-results [text]="'eventos' | lowercase" />
  } }
</div>
