<div class="flex flex-col mx-3 md:mx-8 mt-2 md:mt-4">
  <app-filters
    [filters]="filtersEvents"
    (filterClicked)="filterSelected($event)"
  ></app-filters>
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="isLoading; else results" />
  <!-- Sección cards -->
  <ng-template #results>
    <app-section-generic
      *ngIf="areThereResults; else notResults"
      [type]="typeList.Events"
      [data]="Events"
      [total]="number"
  /></ng-template>
  <!-- Sección no hay resultados -->
  <ng-template #notResults
    ><app-no-results [text]="'eventos' | lowercase"
  /></ng-template>
</div>
