<div class="flex flex-col mx-3 md:mx-8 mt-2 md:mt-4">
  <app-filters
    [filters]="filters"
    (filterClicked)="filterSelected($event)"
  ></app-filters>
  <!-- Spinner Loading -->
  @if (isLoading) {
    <app-spinner-loading />
  } @else {
    @if (areThereResults) {
      <app-section-generic
        [type]="typeList.Events"
        [data]="filteredEvents"
        [total]="number"
        />
    } @else {
      <app-no-results [text]="'eventos' | lowercase"
        />
    }
  }
  <!-- Sección cards -->
  <!-- Sección no hay resultados -->
</div>
