<div class="sticky-zone">
  <app-dashboard-header
    [icon]="'uil uil-newspaper'"
    [title]="''"
    [number]="number"
    [type]="'Podcasts'"
  />
  <div class="flex flex-1 flex-col justify-center px-8 gap-y-8">
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nuevo Podcast'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewPodcastModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />

      <app-icon-action
        [icon]="'uil-print'"
        [tooltip]="'Imprimir tabla'"
        (click)="printTableAsPdf()"
      ></app-icon-action>

      <app-button
        [buttonText]="'Filtrar columnas'"
        [menu]="columnsMenu"
      ></app-button>

      <mat-menu #columnsMenu="matMenu">
        <button mat-menu-item *ngFor="let column of headerListPodcasts">
          <mat-checkbox
            [checked]="columnVisibility[column.key]"
            (change)="toggleColumn(column.key)"
          >
            {{ column.title }}
          </mat-checkbox>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  @if (isLoading) {
  <app-spinner-loading />
  } @else {
  <div class="pb-4 flex">
    <app-table
      [data]="filteredPodcasts"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="getVisibleColumns()"
      [columnVisibility]="columnVisibility"
      (openModal)="onOpenModal($event)"
    />
  </div>
  }
  <!-- Tabla -->
</div>

<!-- Modal -->
@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeletePodcast(item)"
  (sendFormPodcastData)="sendFormPodcast($event)"
></app-modal>
}
