<app-sticky-zone [height]="210">
  <app-dashboard-header
    [icon]="'uil uil-microphone'"
    [title]="'Podcasts'"
    [number]="list.countSig()"
    [type]="'Podcasts'"
  />
  <app-page-toolbar
    [columns]="headerListPodcasts"
    [visibility]="col.columnVisSig"
    [addText]="'Nuevo Podcast'"
    (add)="addNewPodcastModal()"
    (search)="applyFilterWord($event)"
    (print)="printTableAsPdf()"
    (toggle)="col.toggleColumn($event)"
  />
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (podcastsFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (list.processedSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado de podcasts</h2>

    <app-table
      [data]="list.processedSig()"
      [typeSection]="TypeList.Podcasts"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
      [topHeader]="210"
      [printIncludeNumber]="false"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay podcasts registrados.
  </div>
  } }
</div>

<!-- Modal controlado por ModalFacade -->
<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="currentModalTypeSig()"
  [action]="currentModalActionSig()"
  [item]="currentItemSig()"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormPodcastData)="sendFormPodcast($event)"
/>
