<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormEvent()"
    [formGroup]="formEvent"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="box-input gap-x-4">
        <label for="email">Título</label>
        <div class="flex flex-col flex-1">
          <input
            formControlName="title"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && formEvent.get('title')?.invalid
            }"
          />
          <div
            *ngIf="submitted && formEvent.get('title')?.invalid"
            class="is-invalid-text"
          >
            Campo requerido
          </div>
        </div>
      </div>
      <div class="flex justify-between gap-x-4">
        <div class="flex flex-col w-3/4 gap-y-4">
          <div class="flex justify-between gap-x-4">
            <!-- Provincia -->
            <div class="box-input gap-x-4 flex flex-1">
              <label for="province">Provincia</label>
              <select
                formControlName="province"
                (change)="onProvinceChange()"
                [ngClass]="{
                  'is-invalid': submitted && formEvent.get('province')?.invalid
                }"
              >
                <option value="">Seleccione una provincia</option>
                <option *ngFor="let prov of provincias" [value]="prov.label">
                  {{ prov.label }}
                </option>
              </select>
              <div
                *ngIf="submitted && formEvent.get('town')?.invalid"
                class="is-invalid-text"
              >
                Campo requerido
              </div>
            </div>
            <!-- Municipio -->
            <div class="box-input flex flex-1">
              <label for="town">Municipio</label>
              <select
                formControlName="town"
                [ngClass]="{
                  'is-invalid': submitted && formEvent.get('town')?.invalid
                }"
                (change)="onTownChange()"
              >
                <option value="">Seleccione un municipio</option>
                <option *ngFor="let mun of municipios" [value]="mun.label">
                  {{ mun.label }}
                </option>
              </select>
              <div
                *ngIf="submitted && formEvent.get('town')?.invalid"
                class="is-invalid-text"
              >
                Campo requerido
              </div>
            </div>
          </div>
          <div class="box-input gap-x-4">
            <label for="place">Espacio</label>
            <select formControlName="place" (change)="onPlaceChange()">
              <option *ngFor="let place of espacios" [value]="place.id">
                {{ place.name }}
              </option>
            </select>
          </div>
          <!-- Mostrar select de salas si hay subspaces -->
          <div *ngIf="selectedPlace?.salas?.length" class="box-input gap-x-4">
            <label for="sala">Sala</label>
            <select formControlName="sala" (change)="onSalaChange()">
              <option
                *ngFor="let sala of selectedPlace?.salas"
                [value]="sala.name"
              >
                {{ sala.name }}
              </option>
            </select>
          </div>
          <div class="box-input gap-y-2 gap-x-4">
            <label for="status">Aforo</label>
            <input formControlName="capacity" type="number" />
          </div>
          <div class="box-input gap-y-2 gap-x-4">
            <label for="price">Precio</label>
            <input formControlName="price" type="text" />
          </div>
        </div>
        <div class="flex flex-col gap-y-4 w-1/4 bg-lilaMuyClaro p-4">
          <div class="flex box-input gap-x-4">
            <label for="start">Inicio</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="start"
                type="date"
                [ngClass]="{
                  'is-invalid': submitted && formEvent.get('start')?.invalid
                }"
              />
              <div
                *ngIf="submitted && formEvent.get('start')?.invalid"
                class="is-invalid-text"
              >
                Campo requerido
              </div>
            </div>
          </div>
          <div class="flex box-input gap-x-4">
            <label for="end">Fin</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="end"
                type="date"
                [ngClass]="{
                  'is-invalid': submitted && (formEvent.get('end')?.invalid || formEvent.errors?.['invalidDateRange'])
                }"
              />

              <!-- Mensaje de CAMPO REQUERIDO -->
              <div
                *ngIf="submitted && formEvent.get('end')?.hasError('required')"
                class="is-invalid-text"
              >
                Campo requerido.
              </div>

              <!-- Mensaje de FECHA INCORRECTA -->
              <div
                *ngIf="submitted && formEvent.errors?.['invalidDateRange']"
                class="is-invalid-text"
              >
                Fecha fin no puede ser anterior a fecha inicio.
              </div>
            </div>
          </div>
          <div class="flex box-input gap-x-4">
            <label for="time">Hora</label>
            <input formControlName="time" type="time" placeholder="00:00" />
          </div>
        </div>
      </div>
      <div class="flex gap-x-4">
        <div class="flex-col gap-y-4 w-3/4">
          <div class="box-input gap-x-4">
            <label for="description">Descripción</label>
            <mat-card-content>
              <editor
                apiKey="c8uxjgc7f76nt677zqdn22a8a97bjhc7fyph9y4oxuj7nrx3"
                [init]="{
                  height: 250,
                  plugins: ['advlist', 'lists', 'wordcount'],
                  toolbar:
                    'undo redo | bold italic  underline strikethrough | fontfamily fontsize forecolor  backcolor| \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist  | removeformat '
                }"
                formControlName="description"
              ></editor>
            </mat-card-content>
          </div>
          <div class="flex gap-x-4 py-4">
            <label for="inscription">¿Requiere de incripción previa?</label>
            <input formControlName="inscription" type="checkbox" />
          </div>
          <div class="box-input gap-y-2 gap-x-4">
            <label for="status">Estado</label>
            <select formControlName="status">
              <option value="" selected>En marcha</option>
              <option value="Cancelado">Cancelado</option>
              <option value="Aplazado">Aplazado</option>
              <option value="Agotadas">Plazas agotadas</option>
            </select>
          </div>
          <div
            class="box-input gap-x-4 pt-4"
            *ngIf="formEvent.get('status')?.value !== ''"
          >
            <label for="description">Motivos <br />cambio</label>
            <mat-card-content>
              <editor
                apiKey="c8uxjgc7f76nt677zqdn22a8a97bjhc7fyph9y4oxuj7nrx3"
                [init]="{
                  height: 250,
                  plugins: ['advlist', 'lists', 'wordcount'],
                  toolbar:
                    'undo redo | bold italic  underline strikethrough | fontfamily fontsize forecolor  backcolor| \
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist  | removeformat '
                }"
                formControlName="status_reason"
              ></editor>
            </mat-card-content>
          </div>
        </div>
        <div class="box-input gap-y-2 w-1/4">
          <app-image-control
            [previewImg]="
              formEvent.get('img')?.value ? formEvent.get('img')?.value! : null
            "
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
          ></app-image-control>
        </div>
      </div>
      <div *ngIf="errorSession">Hay algún campo incorrecto</div>
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
