<div class="flex flex-1 flex-col justify-between" #pdfArea>
  <div class="inline-block border-b border-[#1C1C3A] pb-4 mb-4 md:pb-4 md:mb-8">
    <app-text-title [text]="item.title + ' ' + item.year" />
  </div>
  <div class="flex justify-center mb-4">
    <app-text-background [text]="'SUBVENCIÓN - ' + item.subsidy_name!" />
    <app-icon-action
      [icon]="'uil-print'"
      [tooltip]="'Imprimir PDF'"
      (click)="printTableAsPdf()"
      data-html2canvas-ignore="true"
    ></app-icon-action>
  </div>

  <div class="flex flex-row gap-x-4 justify-center">
    <div class="box-amount w-auto box-invoices">
      <p>EVENTOS</p>
      <p class="text-center">{{ item.events?.length }}</p>
    </div>
    <div class="box-amount w-auto box-invoices">
      <p>TAREAS</p>
      <p class="text-center">{{ item.activities?.length }}</p>
    </div>
    <div class="box-amount w-auto">
      <p>PRESUPUESTO INICIAL</p>
      <p class="text-center">
        {{ getProjectTotalBudget(item) | eurosFormat }}
      </p>
    </div>

    <div class="box-amount w-auto">
      <p>FACTURACIÓN FINAL</p>
      <p class="text-center">
        {{ getProjectInvoicesTotalBudget(item) | eurosFormat }}
      </p>
    </div>
  </div>

  @if (item.description) {
  <app-text-editor [text]="item.description" />
  } @if (item.events && item.events.length > 0) {
  <p class="text-[18px] font-normal mt-6 mb-4">Eventos</p>
  <table class="w-full -collapse tableProjects my-4">
    @for (event of item.events; track event; let pIndex = $index) {
    <tbody>
      <tr
        class="hover:bg-gray-50 cursor-pointer"
        (click)="onOpenEvent(event.id)"
      >
        <td>
          @if (event.img) {
          <img
            [src]="event.img | itemImage : typeEvent"
            [alt]="event.title"
            class="object-cover w-full h-full transition-transform duration-300 ease-out group-hover:scale-[1.03]"
          />
          }
        </td>
        <td class="p-2 w-auto text-[14px]">
          {{ event.title }}
        </td>
        <td>
          @if (event.placeData?.name) {
          <p class="text-[12px] text-gray-600">
            {{ event.placeData?.name }}
          </p>
          } @if (event.town) {
          <p class="text-[12px] text-gray-600">
            {{ event.town }}
          </p>
          }
        </td>
        <td>
          @if (event.start) {
          <p class="text-[12px] text-gray-600">
            {{
              event.start | date : "EEEE dd MMMM" : "" : "es-ES" | titlecase
            }}@if (event.time_start) { | {{ event.time_start!.slice(0, 5) }}h}
          </p>

          }
        </td>
        <td class="p-2 w-1/2">
          <div>
            <p class="text-[13px] text-gray-800">
              <span [innerHTML]="event.description"></span>
            </p>
          </div>
        </td>
      </tr>
    </tbody>

    }
  </table>
  } @if (item.activities && item.activities.length > 0) {
  <p class="text-[18px] font-normal mt-6 mb-4">Tareas</p>
  <table class="w-full -collapse tableProjects my-4">
    @for (activity of item.activities; track activity; let pIndex = $index) {

    <tbody>
      <tr class="hover:bg-gray-50 cursor-pointer">
        <td class="p-2 w-auto">
          {{ activity.name }}
        </td>

        <td class="p-2 w-1/2">
          <div>
            <p class="text-[13px] text-gray-800">
              <span [innerHTML]="activity.observations"></span>
            </p>
            @if (activity.attendant) {
            <p class="text-[12px] text-gray-500 flex items-center gap-1 mt-1">
              <i class="uil uil-user text-[10px]"></i>
              {{ activity.attendant }}
            </p>
            }
          </div>
        </td>

        <td class="p-2 w-auto text-right">
          {{ activity.budget | eurosFormat }}
        </td>
      </tr>
    </tbody>

    }
    <tfoot>
      <tr class="total_table">
        <!-- Etiqueta total ocupando las 3 primeras columnas -->
        <td colspan="2" class="text-right text-[12px] font-semibold pr-4">
          TOTAL
        </td>
        <!-- Total de todos los proyectos -->
        <td class="text-right text-[12px] font-bold">
          {{ getProjectTotalBudget(item) | eurosFormat }}
        </td>
      </tr>
    </tfoot>
  </table>
  } @if (item.invoices && item.invoices.length > 0) {
  <p class="text-[18px] font-normal mt-12 mb-4">Facturas</p>
  <div class="w-full">
    @if (item.invoices && item.invoices.length>0) {
    <div class="mb-10">
      <app-invoices-table
        [invoices]="item.invoices"
        [showCreditor]="true"
        [showTotals]="true"
        totalLabel="TOTAL"
        (rowClick)="onOpenInvoice($event)"
      />
    </div>
    }
  </div>
  }
</div>
