.body-inscription {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 0.4rem;
  color: rgb(96, 24, 24);
}
.box-amount {
  border-radius: 4px;
  border: 1px solid #eee1ff;
  padding: 4px 10px;
  background-color: #eee1ff;
}
.box-amount p:first-child {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #5d4364;
}
.box-amount p {
  font-size: 14px;
  font-weight: 600;
  color: #5d4364;
}
.box-amount span {
  font-size: 9px;
  font-weight: 400;
}
.tableProjects {
  width: 100%;
}
.tableProjects th {
  border-top: 1px solid #1c1c3a;
  border-bottom: 1px solid #1c1c3a;
  color: #1c1c3a;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 0;
}
.tableProjects tr {
  border-top: 1px solid #a4a4a7;
  border-bottom: 1px solid #a4a4a7;
}
.tableProjects td {
  font-size: 10px;
  color: #1c1c3a;
}

.tableProjects .total_table {
  border-top: 1px solid #1c1c3a;
  border-bottom: 1px solid #1c1c3a;
}
.total_table td {
  padding: 12px 0;
}

/* Media Queries para dispositivos más pequeños */
/* Ordenador pequeño */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
}
/* Móvil */
@media (max-width: 768px) {
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
