<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    (ngSubmit)="onSendFormAgent()"
    [formGroup]="formAgent"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col bg-lilaMuyClaro p-4 gap-y-4">
        <!-- Nombre -->
        <div class="box-input">
          <label for="name">Institución</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="name"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formAgent.get('name')?.invalid
              }"
            />

            @if (submitted && formAgent.get('name')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <div class="flex justify-between gap-x-4">
          <!-- Provincia -->
          <div class="box-input flex flex-1">
            <label for="province">Provincia</label>
            <select formControlName="province" (change)="onProvinceChange()">
              <option value="">Seleccione una provincia</option>
              @for (prov of provincias; track prov) {
              <option [value]="prov.label">
                {{ prov.label }}
              </option>
              }
            </select>
          </div>
          <!-- Municipio -->
          <div class="box-input flex flex-1">
            <label for="town">Municipio</label>
            <select formControlName="town">
              <option value="">Seleccione un municipio</option>
              @for (mun of municipios; track mun) {
              <option [value]="mun.label">
                {{ mun.label }}
              </option>
              }
            </select>
          </div>
          <div class="box-input w-auto">
            <label for="post_code">C.Postal</label>
            <input formControlName="post_code" type="text" />
          </div>
        </div>
        <!-- Dirección -->
        <div class="box-input">
          <label for="address">Dirección</label>
          <input formControlName="address" type="text" />
        </div>
      </div>
      <hr />
      <div class="box-input gap-x-4 px-4">
        <label for="contact">Contacto</label>
        <input formControlName="contact" type="text" />
      </div>
      <div class="flex justify-between gap-x-4 px-4">
        <!-- Teléfono -->
        <div class="box-input gap-x-4">
          <label for="address">Teléfono</label>
          <input formControlName="phone" type="text" />
        </div>
        <!-- Email -->
        <div class="box-input gap-x-4 flex-1">
          <label for="address">Email</label>
          <input formControlName="email" type="text" />
        </div>
      </div>
      <hr />
      <div class="box-input gap-x-4 px-4">
        <label for="category">Categoría </label>
        <select formControlName="category">
          @for (type of CategoryFilterAgents; track type) {
          <option [value]="type.code">
            {{ type.name }}
          </option>
          }
        </select>
      </div>
      <div class="flex gap-x-4 px-4">
        <!-- Descripción -->
        <div class="box-input gap-x-4 flex-1">
          <label for="observations">Descripción</label>
          <quill-editor
            formControlName="observations"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción..."
            class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
        <!-- Portada (Imagen) -->
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formAgent.get('img')?.value ? formAgent.get('img')?.value! : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      @if (formAgent.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
