<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormBook()"
    [formGroup]="formBook"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col gap-y-4 bg-lilaMuyClaro p-4">
        <!-- Título -->
        <div class="box-input gap-x-4">
          <label for="email">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formBook.get('title')?.invalid
              }"
            />
            @if (submitted && formBook.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>

        <!-- Autor -->
        <div class="box-input gap-x-4">
          <label for="author">Autor/a</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="author"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formBook.get('author')?.invalid
              }"
            />
            @if (submitted && formBook.get('author')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <!-- Género -->
        <div class="flex flex-row gap-x-4">
          <div class="box-input gap-y-2 gap-x-4 flex flex-1">
            <label for="gender">Género</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="gender"
                [ngClass]="{
                  'is-invalid': submitted && formBook.get('gender')?.invalid
                }"
              >
                @for (gender of genderBooks; track gender) {
                <option [value]="gender.code">
                  {{ gender.name }}
                </option>
                }
              </select>
              @if (submitted && formBook.get('gender')?.invalid) {
              <div class="is-invalid-text">Selecciona un género</div>
              }
            </div>
          </div>
          <!-- Año de compra -->
          <div class="box-input gap-x-4">
            <label for="year">Año de compra</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formBook.get('year')?.invalid
                }"
              >
                @for (year of years; track year) {
                <option [value]="year">
                  {{ year }}
                </option>
                }
              </select>
              @if (submitted && formBook.get('year')?.invalid) {
              <div class="is-invalid-text">Selecciona un año</div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <!-- Descripción -->
        <div class="box-input gap-x-4 px-4 w-3/4">
          <label for="description">Descripción</label>
          <quill-editor
            formControlName="description"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción del macroevento..."
            class="rounded-md border border-gray-300 bg-white p-3 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
        <!-- Portada (Imagen) -->
        <div class="box-input gap-x-4 px-4 w-72">
          <app-image-control
            [previewImg]="
              formBook.get('img')?.value ? formBook.get('img')?.value! : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
          ></app-image-control>
        </div>
      </div>

      <!-- Mensaje de error global -->
      @if (errorSession) {
      <div class="is-invalid-text">
        Ocurrió un error con el envío del formulario
      </div>
      }

      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
