<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    (ngSubmit)="onSendFormArticle()"
    [formGroup]="formArticle"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between gap-x-4">
        <!-- Título -->
        <div class="box-input gap-x-4 flex-1">
          <label for="title">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              placeholder="Título del artículo"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formArticle.get('title')?.invalid
              }"
            />
            @if (submitted && formArticle.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <!-- Año -->
        <div class="box-input gap-x-4">
          <label for="date">Fecha publicación</label>
          <div class="w-2/3">
            <input
              formControlName="date"
              type="date"
              [ngClass]="{
                'text-placeholder': !formArticle.get('date')?.value,
                'is-invalid': submitted && formArticle.get('date')?.invalid
              }"
            />
            @if (submitted && formArticle.get('date')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
      </div>
      <div class="flex gap-x-4">
        <!-- Descripción -->
        <div class="box-input gap-x-4 flex-1">
          <label for="description">Descripción</label>
          <quill-editor
            formControlName="description"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción..."
            class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
        <!-- Portada (Imagen) -->
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formArticle.get('img')?.value
                ? formArticle.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            [textImg]="'Añadir imagen'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      <!-- Mensaje de error global -->
      @if (formArticle.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
