.home-wrapper {
  margin-top: 18vh;
  min-height: 82vh;
  overflow-y: auto;
}
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
  .home-wrapper {
    margin-top: 12vh;
    min-height: 88vh;
  }
}
/* Móvil */
@media (max-width: 768px) {
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
@media (max-width: 380px) {
}
