<div class="section--generic">
  <div class="flex flex-row justify-start section--generic--total">
    Total: <span>{{ total }} {{ type }}</span>
  </div>
  <div class="section--generic--list">
    <ul class="list">
      @for (item of data; track item) {
        <li
          [ngClass]="{ 'opacity-50 grayscale': item.isPast }"
          >
          <app-card-player
            [item]="item"
            [type]="selectedTypeModal"
            (click)="type !== TypeList.Piteras ? openModalView(item) : null"
          ></app-card-player>
        </li>
      }
    </ul>
  </div>
</div>

@if (showModalView) {
  <app-modal
    [item]="selectedItem"
    [type]="selectedTypeModal"
    [action]="TypeActionModal.Show"
    (closeModal)="onCloseModal(TypeActionModal.Show)"
  ></app-modal>
}
