.button-filter {
  padding: 4px 16px;
  font-size: 1.1rem;
  background-color: #f6f0ff;
  border: 0.3px solid #2f2f61;
  border-radius: 16px;
}
.button-filter:hover {
  cursor: pointer;
  background-color: rgb(166, 128, 181);
  color: white;
}
.active {
  background-color: #e1cff8;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .button-filter {
    padding: 4px 8px;
    font-size: 1rem;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .button-filter {
    padding: 4px 8px;
    font-size: 0.9rem;
  }
}
/* Móvil */
@media (max-width: 768px) {
  .button-filter {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
}
/* Móvil pequeño */
@media (max-width: 480px) {
  .button-filter {
    padding: 4px 4px;
    font-size: 0.6rem;
  }
}
@media (max-width: 380px) {
}
