<app-sticky-zone [height]="210">
  <app-dashboard-header
    [icon]="'uil-newspaper'"
    [title]="'Artículos'"
    [number]="number"
    [type]="'Artículos'"
  />
  <div class="flex flex-col gap-y-8">
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nuevo artículo'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewArticleModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />

      <app-icon-action
        [icon]="'uil-print'"
        [tooltip]="'Imprimir tabla'"
        (click)="printTableAsPdf()"
      ></app-icon-action>

      <app-button
        [buttonText]="'Filtrar columnas'"
        [menu]="columnsMenu"
      ></app-button>

      <mat-menu #columnsMenu="matMenu">
        @for (column of headerListArticles; track $index) {
        <button mat-menu-item>
          <mat-checkbox
            [checked]="columnVisibility[column.key]"
            (change)="toggleColumn(column.key)"
          >
            {{ column.title }}
          </mat-checkbox>
        </button>
        }
      </mat-menu>
    </div>
  </div>
</app-sticky-zone>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  @if (isLoading) {
  <app-spinner-loading />
  } @else {@if(filteredArticles.length > 0){
  <div class="pb-4 flex">
    <app-table
      [data]="filteredArticles"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="getVisibleColumns()"
      [columnVisibility]="columnVisibility"
      (openModal)="onOpenModal($event)"
      [topHeader]="210"
    />
  </div>
  }@else{
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay artículos registrados.
  </div>
  } }
  <!-- Tabla -->
</div>

<!-- Modal -->
@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeleteArticle(item)"
  (sendFormArticleData)="sendFormArticle($event)"
></app-modal>
}
