<div class="sticky-zone">
  <app-dashboard-header
    [icon]="'uil-newspaper'"
    [title]="''"
    [number]="number"
    [type]="'Artículos'"
  />
  <div class="flex flex-1 flex-col justify-center px-8 gap-y-8">
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nuevo artículo'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewArticleModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />
    </div>
  </div>
</div>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  @if (isLoading) {
  <app-spinner-loading />
  } @else {
  <div class="pb-4 flex">
    <app-table
      [data]="filteredArticles"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="headerListArticles"
      (openModal)="onOpenModal($event)"
    />
  </div>
  }
  <!-- Tabla -->
</div>

<!-- Modal -->
@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeleteArticle(item)"
  (sendFormArticleData)="sendFormArticle($event)"
></app-modal>
}
