<div class="flex flex-1 flex-col justify-between">
  <div>
    <app-text-title [text]="item.name" />
    <app-text-icon
      [icon]="'uil uil-building icon'"
      [text]="
        (item.address ? item.address : '') +
        (item.town ? ', ' + item.town : '') +
        (item.post_code ? ' - ' + item.post_code : '') +
        (item.province ? ' - ' + item.province : '')
      "
    ></app-text-icon>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Descripción'"></app-text-background>
      <app-text-editor *ngIf="item.description" [text]="item.description" />
    </div>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Observaciones'"></app-text-background>
      <app-text-editor *ngIf="item.observations" [text]="item.observations" />
    </div>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Gestión'"></app-text-background>
      <app-text-subtitle
        *ngIf="item.management"
        [text]="item.management | filterTransformCode : 'PlaceManagement'"
      />
    </div>
    <div class="mt-4" *ngIf="item.salas!.length > 0">
      <app-text-background [text]="'Salas'"></app-text-background>
      <table class="w-full -collapse tableInvoices">
        <thead>
          <tr>
            <th class="p-2 text-left">Sala</th>
            <th class="p-2 text-center">Ubicación</th>
            <th class="p-2 text-center">Tipo</th>
            <th class="p-2 text-center">Aforo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sala of item.salas" class="hover:bg-gray-50">
            <td class="p-2 w-auto text-left">{{ sala.name }}</td>
            <td class="p-2 text-center">
              {{ sala.location }}
            </td>
            <td class="p-2 text-center">
              <span *ngIf="sala.type">
                {{ sala.type | filterTransformCode : "PlaceType" }}</span
              >
            </td>
            <td class="p-2 w-auto text-right">
              {{ sala.capacity }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="item.lat && item.lon">
      <app-map [lat]="item.lat" [lon]="item.lon"></app-map>
    </div>
  </div>
</div>
