<div class="flex flex-1 flex-col justify-between">
  <div>
    <app-text-title [text]="item.name" />
    <app-text-icon
      [icon]="'uil uil-building icon'"
      [text]="
        (item.address ? item.address : '') +
        (item.town ? ', ' + item.town : '') +
        (item.post_code ? ' - ' + item.post_code : '') +
        (item.province ? ' - ' + item.province : '')
      "
    ></app-text-icon>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Descripción'"></app-text-background>
      @if (item.description) {
      <app-text-editor [text]="item.description" />
      }
    </div>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Observaciones'"></app-text-background>
      @if (item.observations) {
      <app-text-editor [text]="item.observations" />
      }
    </div>
    <div class="flex flex-col gap-y-4 mt-4">
      <app-text-background [text]="'Gestión'"></app-text-background>
      @if (item.management) {
      <app-text-subtitle
        [text]="item.management | filterTransformCode : 'PlaceManagement'"
      />
      }
    </div>
    @if (item.salas!.length > 0) {
    <div class="mt-4">
      <app-text-background [text]="'Salas'"></app-text-background>
      <table class="w-full -collapse tableInvoices">
        <thead>
          <tr>
            <th class="p-2 text-left">Sala</th>
            <th class="p-2 text-center">Ubicación</th>
            <th class="p-2 text-center">Tipo</th>
            <th class="p-2 text-center">Aforo</th>
          </tr>
        </thead>
        <tbody>
          @for (sala of item.salas; track sala) {
          <tr class="hover:bg-gray-50">
            <td class="p-2 w-auto text-left">{{ sala.name }}</td>
            <td class="p-2 text-center">
              {{ sala.location }}
            </td>
            <td class="p-2 text-center">
              @if (sala.type) {
              <span> {{ sala.type | filterTransformCode : "typePlaces" }}</span>
              }
            </td>
            <td class="p-2 w-auto text-right">
              {{ sala.capacity }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (item.lat && item.lon) {
    <div>
      <app-map [lat]="item.lat" [lon]="item.lon"></app-map>
    </div>
    }
  </div>
</div>
