<div class="flex flex-1 flex-col justify-between w-full">
  <div>
    <app-text-title [text]="item.company" />
    @if (item.cif) {
    <app-text-subtitle [text]="item.cif" />
    }
    <app-text-icon
      [icon]="'building'"
      [text]="
        (item.address ? item.address + ', ' : '') +
        (item.town ? item.town : '') +
        (item.post_code ? ' (' + item.post_code + ')' : '') +
        (item.province ? ' - ' + item.province : '')
      "
    ></app-text-icon>

    <hr class="mt-6 border-b-1 border-[#1C1C3A]" />

    <div class="mt-4">
      <p class="text-[14px] font-semibold">Contacto:</p>
    </div>
    <div class="flex flex-col gap-y-2 ml-4 pt-3">
      <app-text-icon [icon]="'person'" [text]="item.contact"></app-text-icon>
      <app-text-icon
        [icon]="'phone'"
        [text]="item.phone | phoneFormat"
      ></app-text-icon>
      <app-text-icon [icon]="'email'" [text]="item.email"></app-text-icon>
    </div>

    @if (item.category) {
    <div class="mt-4 mb-2">
      <p class="text-[12px] font-semibold">Área de trabajo</p>
    </div>
    <app-text-background [text]="item.category"></app-text-background>
    }
    <div class="flex flex-col gap-y-2 ml-4 pt-3">
      @if (item.observations) {
      <app-text-editor [text]="item.observations" />
      }
    </div>
    <hr class="mt-6 mb-6 border-b-1 border-[#1C1C3A]" />

    <p class="text-[18px] font-normal mb-6">Facturas</p>
    <!-- Contenedor de la tabla de facturas -->
    <div class="w-full">
      @if (invoicesSorted.length > 0) {

      <!-- 🔹 Iterar por año (descendente) -->
      @for (year of (invoicesByYear | keyvalue : keyDesc); track
      trackYear($index, year)) {
      <div class="mb-10">
        <p class="text-[14px] font-semibold">{{ year.key }}</p>
        <app-invoices-table
          [invoices]="item.invoices"
          [showCreditor]="false"
          [showTotals]="true"
          totalLabel="TOTAL"
        />
      </div>
      }

      <!-- 🔹 Tabla Final con Totales de Todos los Años -->
      <div class="mb-4">
        <p class="text-[14px] font-semibold">Facturas totales por año</p>
      </div>
      <table class="w-full -collapse tableInvoicesYears">
        <colgroup>
          <col class="w-[80px]" />
          <col class="w-[140px]" />
          <col class="w-[auto]" />
        </colgroup>
        <thead>
          <tr>
            <th class="p-2 text-center">Año</th>
            <th class="p-2 text-center">Nº Facturas</th>
            <th class="p-2 text-right pr-4">Total</th>
          </tr>
        </thead>
        <tbody>
          @for (year of (invoicesByYear | keyvalue : keyDesc); track
          trackYear($index, year)) {
          <tr class="hover:bg-gray-50 fila">
            <td class="p-2 w-auto text-center">{{ year.key }}</td>
            <td class="p-2 text-center">{{ year.value.length }}</td>
            <td class="p-2 w-auto text-right">
              {{ totalAmountByYear.get(year.key)! | eurosFormat }}
            </td>
          </tr>
          }
          <tr class="total_table">
            <td class="text-center text-[12px] font-semibold">TOTAL</td>
            <td class="p-2 text-center text-[12px] font-bold">
              {{ totalInvoices }}
            </td>
            <td class="p-2 text-right text-[12px] font-bold">
              {{ totalAmount | eurosFormat }}
            </td>
          </tr>
        </tbody>
      </table>

      } @else {
      <!-- 🔹 Mensaje si no hay facturas -->
      <div class="mt-6">
        <app-text-background [text]="'Facturas'"></app-text-background>
        <p class="text-left text-gray-600 mt-4">
          No hay facturas registradas de este acreedor.
        </p>
      </div>
      }
    </div>
  </div>
</div>
