<div class="flex flex-1 flex-col justify-between">
  <app-text-title *ngIf="item.name" [text]="item.name" />
  <app-text-background [text]="'Fechas'"></app-text-background>
  <app-text-editor *ngIf="item.observations" [text]="item.observations" />
  <div class="ml-4 pt-2 gap-y-2">
    <!-- <p *ngIf="item.dateInvoice">
      Fecha factura:
      <span class="body-border">{{
        item.dateInvoice | date : "dd MMM yyyy"
      }}</span>
    </p>
    <p *ngIf="item.dateAccounting">
      Feche contabilidad:
      <span class="body-border">{{
        item.dateAccounting | date : "dd MMM yyyy"
      }}</span>
    </p>
    <p *ngIf="item.datePayment">
      Fecha pago:
      <span class="body-border">{{
        item.datePayment | date : "dd MMM yyyy"
      }}</span>
    </p> -->
  </div>
  <app-text-background [text]="'Cantidad'"></app-text-background>
  <div class="flex flex-col gap-y-2 ml-4 py-3">
    <div class="body-description flex flex-row gap-4 align-middle">
      <!-- <app-text-border
        *ngIf="item.amount"
        [text]="'(Total) ' + item.amount + ' €'"
      ></app-text-border>
      <app-text-border
        *ngIf="item.iva"
        [text]="'(IVA) ' + item.iva + ' €'"
      ></app-text-border>
      <app-text-border
        *ngIf="item.irpf"
        [text]="'(IRPF) ' + item.irpf + ' €'"
      ></app-text-border>
      =
      <app-text-border
        *ngIf="item.totalAmount"
        [text]="'(IRPF) ' + item.totalAmount + ' €'"
      ></app-text-border> -->
    </div>
    <!-- <app-text-border
      *ngIf="item.totalAmountIrpf"
      [text]="'Total + IRPF = ' + item.totalAmountIrpf + ' €'"
    ></app-text-border> -->
  </div>
  <app-text-background [text]="'Subvención'"></app-text-background>
  <!-- <app-text-icon
    [icon]="'uil uil-building icon'"
    [text]="item.subsidy + ' - ' + item.subsidyYear"
  ></app-text-icon> -->
</div>
