<div class="flex flex-1 flex-col justify-between">
  @if (item.name) {
  <app-text-title [text]="item.name" />
  }
  <app-text-background [text]="'Fechas'"></app-text-background>
  @if (item.observations) {
  <app-text-editor [text]="item.observations" />
  }
  <div class="ml-4 pt-2 gap-y-2"></div>
  <app-text-background [text]="'Cantidad'"></app-text-background>
  <div class="flex flex-col gap-y-2 ml-4 py-3">
    <div class="body-description flex flex-row gap-4 align-middle"></div>
  </div>
  <app-text-background [text]="'Subvención'"></app-text-background>
</div>
