<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>

  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormPartner()"
    [formGroup]="formPartner"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-8">
      <div class="flex gap-x-8">
        <div class="flex flex-col gap-y-4 flex-1">
          <!-- Nombre -->
          <div class="box-input gap-x-4">
            <label for="name">Nombre</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="name"
                placeholder="Nombre de la persona socia"
                type="text"
                [ngClass]="{
                  'is-invalid': submitted && formPartner.get('name')?.invalid
                }"
              />
              @if (submitted && formPartner.get('name')?.invalid) {
              <div class="is-invalid-text">Campo requerido</div>
              }
            </div>
          </div>

          <!-- Apellidos -->
          <div class="box-input gap-x-4">
            <label for="surname">Apellidos</label>
            <input
              formControlName="surname"
              placeholder="Apellidos de la persona socia"
              type="text"
            />
          </div>

          <div class="flex gap-x-4">
            <!-- Fecha de nacimiento -->
            <div class="box-input gap-x-4 flex-1">
              <label for="birthday">Fecha Nac.</label>
              <input
                formControlName="birthday"
                type="date"
                [ngClass]="{
                  'text-placeholder': !formPartner.get('birthday')?.value
                }"
              />
            </div>

            <!-- Teléfono -->
            <div class="box-input">
              <label for="address">Teléfono</label>
              <div class="flex flex-col flex-1">
                <input
                  formControlName="phone"
                  type="text"
                  placeholder="Número de teléfono"
                />
                @if (formPartner.get('phone')?.hasError('pattern') &&
                formPartner.get('phone')?.touched){
                <div class="is-invalid-text">
                  Formato de teléfono no válido.
                </div>
                }
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="box-input flex-1">
            <label for="email">Email</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="email"
                type="text"
                placeholder="Dirección de email"
              />
              @if (formPartner.get('email')?.hasError('email') &&
              formPartner.get('email')?.touched){
              <div class="is-invalid-text">Formato de email no válido.</div>
              }
            </div>
          </div>
        </div>

        <div class="w-60">
          <app-image-control
            [previewImg]="
              formPartner.get('img')?.value
                ? formPartner.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            class="w-full"
            [imageHeightValue]="180"
          ></app-image-control>
        </div>
      </div>

      <hr />

      <div class="box-input flex gap-x-4">
        <!-- Provincia -->
        <div class="box-input flex gap-x-4 flex-1">
          <label for="province">Provincia</label>
          <select
            formControlName="province"
            (change)="onProvinceChange()"
            [ngClass]="{
              'text-placeholder': !formPartner.get('province')?.value
            }"
          >
            <option value="" disabled hidden>Seleccione una provincia</option>
            <option value="">Sin provincia</option>
            @for (prov of provincias; track prov) {
            <option [value]="prov.label">{{ prov.label }}</option>
            }
          </select>
        </div>

        <!-- Municipio -->
        <div class="box-input gap-x-4 flex flex-1">
          <label for="town">Municipio</label>
          <select
            formControlName="town"
            [ngClass]="{ 'text-placeholder': !formPartner.get('town')?.value }"
          >
            <option value="" disabled hidden>Seleccione un municipio</option>
            <option value="">Sin municipio</option>
            @for (mun of municipios; track mun) {
            <option [value]="mun.label">{{ mun.label }}</option>
            }
          </select>
        </div>
      </div>

      <div class="box-input flex gap-x-4">
        <div class="box-input gap-x-4 flex-1">
          <label for="address">Dirección</label>
          <input
            formControlName="address"
            placeholder="Dirección"
            type="text"
          />
        </div>

        <div class="box-input gap-x-4 w-auto">
          <label for="post_code">C. Postal</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="post_code"
              type="text"
              placeholder="Código postal"
            />
            @if (formPartner.get('post_code')?.hasError('pattern') &&
            formPartner.get('post_code')?.touched){
            <div class="is-invalid-text">
              Formato de código postal no válido.
            </div>
            }
          </div>
        </div>
      </div>

      <!-- CUOTAS -->
      <div class="mt-4 p-4 border border-[#cb8dd952]">
        <h3 class="titleCuotas">Cuotas</h3>

        <!-- formArrayName para cuotas -->
        <div formArrayName="cuotas" class="">
          @for (ctrl of cuotasFA.controls; track ctrl; let i = $index) {
          <!-- Cada cuota es un FormGroup -->
          <div
            [formGroupName]="i"
            class="w-full rounded p-3 flex hover:bg-lilaClaro"
          >
            <div class="w-full flex items-center gap-3">
              <div class="flex flex-1 gap-x-4 items-center">
                <!-- Pagado -->
                <mat-checkbox formControlName="paid" color="primary">
                  Pagado
                </mat-checkbox>
                <!-- Año (solo lectura) -->

                <div class="min-w-16 font-semibold">
                  {{ getCuotaGroupAt(i).get("year")?.value }}
                </div>
              </div>
              <div class="flex flex-1 gap-x-4 items-center">
                <p>Fecha de pago</p>
                <!-- Fecha de pago -->
                <input
                  type="date"
                  formControlName="date_payment"
                  class="border rounded px-2 py-1"
                  placeholder="Fecha de pago"
                />
              </div>
              <!-- Método de pago -->
              <div class="flex-1">
                <select
                  formControlName="method_payment"
                  class="border rounded px-2 py-1 w-full"
                >
                  <option [ngValue]="null">Método de pago</option>
                  <option [ngValue]="'cash'">Efectivo</option>
                  <option [ngValue]="'domiciliation'">Domiciliación</option>
                </select>
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <div class="box-input gap-x-4 flex-1">
        <label for="observations">Observaciones</label>
        <textarea
          formControlName="observations"
          maxlength="300"
          rows="2"
          placeholder="Escribe aquí la cualquier observación..."
        ></textarea>
      </div>

      <div class="flex gap-4">
        <mat-checkbox color="primary" formControlName="death"
          >Ha fallecido</mat-checkbox
        >
        <mat-checkbox color="primary" formControlName="unsubscribe"
          >Se ha dado de baja</mat-checkbox
        >
      </div>

      @if (formPartner.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }

      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
