.buttons button {
  padding: 10px 15px;
  width: 150px;
  border-radius: 10px;
  gap: 30px;
  font-size: 1rem;
}
.button-cancel {
  background-color: white;
  border: 1px solid gray;
  margin-right: 20px;
  color: gray;
}
.button-delete {
  background-color: #f24848 !important;
  color: white !important;
  border: none;
}

/* Media Queries para dispositivos más pequeños */
/* Ordenador pequeño */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
}
/* Móvil */
@media (max-width: 768px) {
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
