<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil uil-ticket'"
    [title]="'Programación'"
    [number]="(events$ | async)?.length || 0"
    [type]="'eventos'"
  />
  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      (filterClicked)="filterSelected($event)"
      [loadFirstFilter]="currentYear"
    ></app-filters>
    <div class="flex gap-x-4 items-center">
      <app-button-icon
        [buttonText]="'Nueva evento'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewEventModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />

      <app-icon-action
        [icon]="'uil-print'"
        [tooltip]="'Imprimir tabla'"
        (click)="printTableAsPdf()"
      ></app-icon-action>

      <app-button
        [buttonText]="'Filtrar columnas'"
        [menu]="columnsMenu"
      ></app-button>

      <mat-menu #columnsMenu="matMenu">
        @for (column of headerListEvents; track $index) {
        <button mat-menu-item>
          <mat-checkbox
            [checked]="columnVisibility[column.key]"
            (change)="toggleColumn(column.key)"
          >
            {{ column.title }}
          </mat-checkbox>
        </button>
        }
      </mat-menu>
    </div>
  </div>
</app-sticky-zone>
<div class="flex flex-col px-8">
  @if (eventsFacade.isLoading$ | async) {
  <app-spinner-loading />
  } @else { @if (events$ | async; as events) { @if ((events?.length ?? 0) > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado eventos</h2>
    <app-table
      [data]="events"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="getVisibleColumns()"
      [columnVisibility]="columnVisibility"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay eventos registrados.
  </div>
  } } }
</div>

@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormEventData)="sendFormEvent($event)"
/>
}
