<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil uil-ticket'"
    [title]="'Programación'"
    [number]="list.countSig()"
    [type]="'eventos'"
  />
  <div class="flex flex-col gap-y-10">
    <div class="flex justify-center items-center gap-x-32">
      <app-filters
        [filters]="filters"
        [(selected)]="selectedFilter"
        (filterClicked)="filterSelected($event)"
      ></app-filters>
      <div class="flex gap-x-4 items-center">
        <app-button-filter [name]="'Borradores'" (click)="showDrafts()" />
        <app-button-filter [name]="'Programados'" (click)="showScheduled()" />
      </div>
    </div>
    <app-page-toolbar
      [columns]="headerListEvents"
      [visibility]="col.columnVisSig"
      [addText]="'Nuevo evento'"
      (add)="addNewEventModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    />
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (isLoadingSig()) {
  <app-spinner-loading />
  } @else { @if (list.processedSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado de eventos</h2>

    <app-table
      [data]="list.processedSig()"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
      [eventsWithReport]="eventsWithReportSet"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay eventos registrados.
  </div>
  } }
</div>

<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  [canGoBack]="canGoBack"
  (back)="onBackModal()"
  (openEvent)="onOpenEvent($event)"
  (openMacroevent)="onOpenMacroevent($event)"
  (sendFormEventData)="sendFormEvent($event)"
  (sendFormEventReportData)="sendFormEventReport($event)"
/>
