<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormPitera()"
    [formGroup]="formPitera"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between gap-x-4">
        <!-- Título -->
        <div class="box-input gap-x-4 flex-1">
          <label for="title">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              placeholder="Título de la revista"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formPitera.get('title')?.invalid
              }"
            />
            @if (submitted && formPitera.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <!-- Nº Publicación -->
        <div class="box-input gap-x-4 w-96">
          <label for="publication_number">Nº publicación</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="publication_number"
              placeholder="Número"
              type="number"
              [ngClass]="{
                'is-invalid':
                  submitted && formPitera.get('publication_number')?.invalid
              }"
            />
            @if (submitted && formPitera.get('publication_number')?.invalid) {
            <div class="is-invalid-text">Campo obligatorio</div>
            }
          </div>
        </div>
        <!-- Año -->
        <div class="box-input gap-x-4 w-96">
          <label for="year">Año publicación</label>
          <div class="flex flex-col flex-1">
            <select
              formControlName="year"
              [ngClass]="{
                'is-invalid': submitted && formPitera.get('year')?.invalid,
                'text-placeholder': !formPitera.get('year')?.value
              }"
            >
              <option value="null" disabled hidden>Año publicación</option>
              @for (year of years; track year) {
              <option [value]="year">
                {{ year }}
              </option>
              }
            </select>
            @if (submitted && formPitera.get('year')?.invalid) {
            <div class="is-invalid-text">Selecciona un año</div>
            }
          </div>
        </div>
      </div>
      <div class="flex justify-between gap-x-4">
        <div class="box-input gap-x-4 flex-1">
          <label for="theme">Temática</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="theme"
              placeholder="Temática de la revista"
              type="text"
            />
          </div>
        </div>
        <!-- Nº PÁGINAS -->
        <div class="box-input gap-x-4 w-96">
          <label for="pages">Nº páginas</label>
          <div class="flex flex-col flex-1">
            <input formControlName="pages" placeholder="Número" type="number" />
          </div>
        </div>
      </div>
      <div class="flex gap-x-8">
        <!-- Descripción -->
        <div class="flex-1">
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="description">Descripción</label>
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Descripción"
              class="ql-container-medium w-full text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            <div class="w-full text-right text-xs text-gray-500">
              {{ summaryDescription() }} / 2000
            </div>
          </div>
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="summary">
              Resumen
              <span class="text-[9px]">(Texto para redes sociales)</span></label
            >
            <!-- Resumen (corto) -->
            <div class="box-input flex-1 w-full">
              <textarea
                formControlName="summary"
                maxlength="300"
                rows="2"
                placeholder="Resumen breve del evento (máx. 300 caracteres visibles)"
              ></textarea>
            </div>
            <div class="w-full text-right text-xs text-gray-500">
              {{ summaryLen() }} / 300
            </div>
          </div>
        </div>
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formPitera.get('img')?.value
                ? formPitera.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            [imageHeightValue]="380"
            [textImg]="'Añadir portada'"
            class="w-full"
          ></app-image-control>
        </div>
        <div class="w-72">
          <app-pdf-control
            [type]="typeList"
            [previewPdf]="getPiteraPdfPreview()"
            (pdfSelected)="formPitera.patchValue({ url: $event })"
            [pdfViewerHeight]="380"
            [textPdf]="'Añadir pdf revista'"
          ></app-pdf-control>
        </div>
      </div>
      @if (formPitera.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
