<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormProject()"
    [formGroup]="formProject"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col bg-lilaMuyClaro p-4 gap-y-4">
        <div class="flex justify-between gap-x-4">
          <div class="flex flex-col w-3/4 gap-y-4">
            <div class="box-input gap-x-4">
              <label for="email">Título</label>
              <div class="flex flex-col flex-1">
                <input
                  formControlName="title"
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && formProject.get('title')?.invalid
                  }"
                />
                @if (submitted && formProject.get('title')?.invalid) {
                <div class="is-invalid-text">Campo requerido</div>
                }
              </div>
            </div>
          </div>
          <!-- Año -->
          <div class="box-input gap-x-4">
            <label for="year">Año</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formProject.get('year')?.invalid
                }"
              >
                <option [value]="null">Seleccione un año</option>
                @for (year of years; track year) {
                <option [ngValue]="year">
                  {{ year }}
                </option>
                }
              </select>
              @if (submitted && formProject.get('year')?.invalid) {
              <div class="is-invalid-text">Selecciona un año</div>
              }
            </div>
          </div>
        </div>
        <div class="box-input gap-x-4 flex flex-1">
          <label for="province">Subvención</label>
          <div class="flex flex-col flex-1">
            <select formControlName="subsidy_id">
              <option [ngValue]="null">
                Seleccione una subvención si el proyecto pertenece a alguna
              </option>
              @for (subsidy of subsidies; track subsidy) {
              <option [value]="subsidy.id">
                {{ subsidy.name }} - {{ subsidy.year }}
              </option>
              }
            </select>
            @if (formProject.controls.subsidy_id.disabled) {
            <div>
              <small class="text-gray-500 italic">
                Selecciona un año para habilitar las subvenciones
              </small>
            </div>
            }
          </div>
        </div>
      </div>
      <!-- ACTIVIDADES -->
      <div formArrayName="activities" class="flex flex-col gap-y-4">
        @for (activity of activities.controls; track activity; let i = $index) {
        <div [formGroupName]="i" class="flex gap-x-4 px-8">
          <input formControlName="id" type="hidden" />
          <div class="sala_box flex justify-center items-center pr-4">
            Actividad {{ i + 1 }}
          </div>
          <div class="flex flex-col flex-1 gap-y-4 bg-lilaMuyClaro p-4">
            <div class="box-input gap-x-4">
              <label>Nombre </label>
              <input
                formControlName="name"
                placeholder="Nombre de la actividad"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    activities.get(i.toString())?.get('name')?.invalid
                }"
              />
            </div>
            <div class="box-input gap-x-4">
              <label>Persona a cargo </label>
              <input formControlName="attendant" />
            </div>
            <div class="box-input gap-x-4">
              <label>Presupuesto</label>
              <input formControlName="budget" />
            </div>
            <div class="box-input gap-x-4">
              <label>Observaciones</label>
              <quill-editor
                formControlName="observations"
                [modules]="quillModules"
                placeholder="Escribe aquí la descripción..."
                class="ql-container-small flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200 bg-white"
              />
            </div>
          </div>
          <div class="flex justify-center items-center">
            <button
              type="button"
              class="btn-danger"
              (click)="removeActivity(i)"
            >
              Eliminar
            </button>
          </div>
        </div>
        }
      </div>
      <!-- Botón para añadir -->
      <div class="mt-2">
        <app-button-icon
          [buttonText]="'Añadir actividad'"
          [iconClass]="'uil-plus'"
          (addClicked)="addActivity()"
        />
      </div>
      <div class="flex gap-x-4">
        <div class="flex-col gap-y-4 flex-1">
          <div class="box-input gap-x-4">
            <label for="description">Descripción</label>
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Escribe aquí la descripción..."
              class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
          </div>
        </div>
        <div class="box-input w-72">
          <app-image-control
            [previewImg]="
              formProject.get('img')?.value
                ? formProject.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>

      @if (errorSession) {
      <div>Hay algún campo incorrecto</div>
      }
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
