<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (projectsFacade.isLoadingItem$ | async) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormProject()"
    [formGroup]="formProject"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <!-- IDENTIFICACIÓN -->
      <div class="border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 uppercase mb-8">
          Identificación
        </h2>
        <div class="flex justify-between gap-x-4 mx-8">
          <div class="flex flex-col w-3/4 gap-y-4">
            <div class="box-input gap-x-4">
              <label for="email">Título</label>
              <div class="flex flex-col flex-1">
                <input
                  formControlName="title"
                  placeholder="Título del proyecto"
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && formProject.get('title')?.invalid
                  }"
                />
                @if (submitted && formProject.get('title')?.invalid) {
                <div class="is-invalid-text">Campo requerido</div>
                }
              </div>
            </div>
          </div>
          <!-- Año -->
          <div class="box-input gap-x-4">
            <label for="year">Año</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formProject.get('year')?.invalid,
                  'text-placeholder': !formProject.get('year')?.value
                }"
              >
                <option value="null" disabled hidden>Seleccione un año</option>
                @for (year of years; track year) {
                <option [ngValue]="year">
                  {{ year }}
                </option>
                }
              </select>
              @if (submitted && formProject.get('year')?.invalid) {
              <div class="is-invalid-text">Selecciona un año</div>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- SUBVENCIÓN -->
      <div class="border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 uppercase">Subvención</h2>
        <div class="flex justify-center gap-x-4 py-2">
          <app-button-select
            [buttonText]="'Subvencionado'"
            subText="Está dentro de una subvención"
            [active]="projectTypeSubsidy === 'SUBSIDIZED'"
            (addClicked)="setProjectTypeSubsidy('SUBSIDIZED')"
            iconClass="uil-check-circle"
          /><app-button-select
            [buttonText]="'No subvencionado'"
            subText="No está dentro de una subvención"
            [active]="projectTypeSubsidy === 'UNSUBSIDIZED'"
            (addClicked)="setProjectTypeSubsidy('UNSUBSIDIZED')"
            iconClass="uil-times-circle"
          />
        </div>
        <!-- subvencionado -->
        @if (projectTypeSubsidy=== 'SUBSIDIZED') {
        <div class="pt-4 px-4">
          <p class="text-[15px] text-center mb-10 text-lilaText px-4">
            Si la subvención a la que pertenece el proyecto no aparece se debe
            añadir previamente desde la sección de subvenciones.
          </p>

          <div class="flex gap-x-8">
            <div class="box-input gap-x-4 flex flex-1">
              <label for="province">Subvención</label>
              <div class="flex flex-col flex-1">
                <select formControlName="subsidy_id">
                  <option [ngValue]="null">
                    Seleccione una subvención si el proyecto pertenece a alguna
                  </option>
                  @for (subsidy of subsidies; track subsidy) {
                  <option [value]="subsidy.id">
                    {{ subsidy.name }} - {{ subsidy.year }}
                  </option>
                  }
                </select>
                @if (formProject.controls.subsidy_id.disabled) {
                <div>
                  <small class="text-gray-500 italic">
                    Selecciona un año para habilitar las subvenciones
                  </small>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <!-- ACTIVIDADES -->
      <div class="justify-center border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 uppercase">
          Borrador de tareas y presupuestos
        </h2>
        <div formArrayName="activities" class="flex flex-col gap-y-4">
          @for (activity of activities.controls; track
          activity.get('activity_id')?.value ?? $index; let i = $index) {
          <div [formGroupName]="i" class="flex gap-x-4 px-8 pt-8">
            <input formControlName="activity_id" type="hidden" />

            <div class="flex justify-center items-center pr-4 border-r-2">
              <p
                class="py-2 px-2 rounded-xl text-sm text-lilaText text-center bg-naranjaClaro font-bold"
              >
                Tarea {{ i + 1 }}
              </p>
            </div>

            <div class="flex flex-col flex-1 gap-y-4 p-4">
              <div class="box-input gap-x-4">
                <label>Nombre </label>
                <input
                  formControlName="name"
                  placeholder="Nombre de la tarea"
                />
              </div>
              <div class="box-input gap-x-4">
                <label>Persona a cargo </label>
                <input formControlName="attendant" />
              </div>
              <div class="box-input gap-x-4">
                <label>Presupuesto</label>
                <input formControlName="budget" />
              </div>
              <div class="box-input gap-x-4">
                <label>Observaciones</label>
                <div class="flex flex-col flex-1">
                  <quill-editor
                    formControlName="observations"
                    [modules]="quillModules"
                    placeholder="Escribe aquí cualquier observación..."
                    class="ql-container-medium flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
                  />
                  <div class="w-full text-right text-xs text-gray-500 mt-1">
                    {{ observationsLen() }} / 1000
                  </div>
                </div>
              </div>
            </div>

            <div class="flex justify-center items-center">
              <button
                type="button"
                class="btn-danger"
                (click)="removeActivity(i)"
              >
                Eliminar
              </button>
            </div>
          </div>
          }
        </div>
        <!-- Botón para añadir -->
        <div class="mt-6 flex justify-center">
          <app-button-icon
            [buttonText]="'Añadir tarea'"
            [iconClass]="'uil-plus'"
            (addClicked)="addActivity()"
          />
        </div>
      </div>

      <!-- EVENTOS -->

      @if(itemId ){
      <div class="justify-center border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 uppercase">
          Eventos vinculadas
        </h2>
        @if (events && events.length > 0) {
        <div class="mx-96 flex flex-col gap-y-2 mt-6">
          @for (event of events; track event; let pIndex = $index) {
          <app-card-events-mini
            [event]="event"
            [isDashboard]="true"
            [showButtonsActions]="false"
          />

          }
        </div>
        }
      </div>
      }
      <div class="flex gap-x-4">
        <div class="flex-col gap-y-4 flex-1">
          <div class="box-input gap-x-4">
            <label for="description">Descripción</label>
            <div class="flex flex-col flex-1">
              <quill-editor
                formControlName="description"
                [modules]="quillModules"
                placeholder="Escribe aquí la descripción..."
                class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
              />
              <div class="w-full text-right text-xs text-gray-500 mt-1">
                {{ descriptionLen() }} / 500
              </div>
            </div>
          </div>
        </div>
        <div class="box-input w-72">
          <app-image-control
            [previewImg]="
              formProject.get('img')?.value
                ? formProject.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="TypeList.Projects"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      @if (formProject.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
