<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormProject()"
    [formGroup]="formProject"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between gap-x-4 bg-lilaMuyClaro p-4">
        <div class="flex flex-col w-3/4 gap-y-4">
          <div class="box-input gap-x-4">
            <label for="email">Título</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="title"
                type="text"
                [ngClass]="{
                  'is-invalid': submitted && formProject.get('title')?.invalid
                }"
              />
              <div
                *ngIf="submitted && formProject.get('title')?.invalid"
                class="is-invalid-text"
              >
                Campo requerido
              </div>
            </div>
          </div>
        </div>
        <!-- Año -->
        <div class="box-input gap-x-4">
          <label for="year">Año</label>
          <div class="flex flex-col flex-1">
            <select
              formControlName="year"
              [ngClass]="{
                'is-invalid': submitted && formProject.get('year')?.invalid
              }"
            >
              <option [value]="null">Seleccione un año</option>
              <option *ngFor="let year of years" [ngValue]="year">
                {{ year }}
              </option>
            </select>
            <div
              *ngIf="submitted && formProject.get('year')?.invalid"
              class="is-invalid-text"
            >
              Selecciona un año
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-x-4">
        <div class="flex-col gap-y-4 w-3/4">
          <div class="box-input gap-x-4">
            <label for="description">Descripción</label>
            <textarea
              formControlName="description"
              rows="6"
              class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200 text-sm"
              placeholder="Escribe aquí la descripción del proyecto..."
            ></textarea>
          </div>
        </div>
        <div class="box-input gap-y-2 w-72">
          <app-image-control
            [previewImg]="
              formProject.get('img')?.value
                ? formProject.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
          ></app-image-control>
        </div>
      </div>
      <div class="box-input gap-x-4 flex flex-1">
        <label for="province">Subvención</label>
        <div class="flex flex-col flex-1">
          <select formControlName="subsidy_id">
            <option [ngValue]="null">
              Seleccione una subvención si el proyecto pertenece a alguna
            </option>
            <option *ngFor="let subsidy of subsidies" [value]="subsidy.id">
              {{ subsidy.name }} - {{ subsidy.year }}
            </option>
          </select>
          <div *ngIf="formProject.controls.subsidy_id.disabled">
            <small class="text-gray-500 italic">
              Selecciona un año para habilitar las subvenciones
            </small>
          </div>
        </div>
      </div>
      <div *ngIf="errorSession">Hay algún campo incorrecto</div>
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
