.box-imagen {
  width: 300px;
}
.box-imagen > img {
  width: 100%;
  height: auto;
}
/* Media Queries para dispositivos más pequeños */
/* Ordenador pequeño */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
}
/* Móvil */
@media (max-width: 768px) {
  .box-imagen {
    width: 100%;
    padding: 0 0.5rem;
  }
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
