<div class="flex flex-col mx-3 md:mx-8 mt-2 md:mt-4">
  <app-filters
    [filters]="filterGenderMovies"
    (filterClicked)="filterSelected($event)"
    [loadFirstFilter]="'NOVEDADES'"
  />
  <app-input-search (onDebounce)="applyFilter($event)" class="my-8" />
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="isLoading; else results" />
  <!-- Sección cards -->
  <ng-template #results>
    <app-section-generic
      *ngIf="areThereResults; else notResults"
      [type]="typeList.Movies"
      [data]="filteredMovies"
      [total]="number"
    />
  </ng-template>
  <!-- Sección no hay resultados -->
  <ng-template #notResults
    ><app-no-results [text]="'películas' | lowercase"
  /></ng-template>
</div>
