.table-container {
  padding-top: 170px; /* Crea el espacio inicial para las primeras 8 filas */
}
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Fija el ancho de las columnas */
  border: none !important;
  box-shadow: none !important;
  z-index: 900;
}

th {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: red;
}

td {
  padding: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Evita que el contenido de las celdas se desborde */
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: default;
}
/* Rows body */
.mat-mdc-row {
  border: none !important;
  box-shadow: none !important;
}

.mat-mdc-row:hover {
  background-color: rgb(245, 235, 246);
  font-weight: 500;
}

th.mat-sort-header-sorted {
  color: rgb(232, 148, 243);
}

.genderColumn,
.statusColumn {
  text-align: center;
}
.genderColumn > span,
.statusColumn > span {
  border-radius: 5px;
  padding: 4px;
  font-size: 10px;
}
.genderColumn > span {
  background-color: rgb(245, 235, 246);
}
.statusColumn > span {
  background-color: rgba(209, 66, 53, 0.847);
  color: white;
  font-size: 11px;
}
.mat-mdc-row:hover .genderColumn > span {
  background-color: rgb(245, 205, 250);
}

.startColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.startColumn > div {
  display: flex;
  align-items: center;
}
.startColumn > div > .calendar-icon {
  color: gray;
  font-size: 18px;
}

.startColumn > div > span {
  text-transform: capitalize;
  font-weight: 11px;
  padding-bottom: 2px;
  font-size: 11;
}
.mat-column-start {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  width: 180px;
}
.mat-column-title {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 350px !important;
  width: 350px;
}

.mat-column-author,
.mat-column-director {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 250px !important;
  width: 250px;
}
.mat-column-gender,
.mat-column-category,
.mat-column-inscription,
.mat-column-phone,
.mat-column-status {
  /* text-align: center; */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 150px !important;
  width: 120px;
}
.mat-column-surname,
.mat-column-place,
.mat-column-birthday,
.mat-column-email {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 200px !important;
  width: 200px;
}
.mat-column-name,
.mat-column-town {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 150px !important;
  width: 150px;
}
.mat-column-actions {
  text-align: right;
  flex: 0 0 150px !important;
  width: 130px;
}
.mat-column-year,
.mat-column-price,
.mat-column-img,
.mat-column-cuotas,
.mat-column-inscription,
.mat-column-capacity {
  text-align: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  width: 85px !important;
}
.mat-column-post_code {
  text-align: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  width: 100px !important;
}
.mat-column-number {
  text-align: left;
  flex: 0 0 60px !important;
  width: 60px !important;
}
.mat-column-img > div,
.mat-column-cuotas > div,
.mat-column-inscription > div,
.mat-column-subspacesCount > div {
  display: flex;
  justify-content: center;
}
.mat-column-management {
  text-align: center;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.positive {
  color: rgb(134, 168, 130);
}
.mat-mdc-row:hover .positive {
  background-color: rgb(245, 205, 250);
}

/* .negative {
  background-color: rgb(246, 71, 71);
} */
.positive {
  color: rgb(134, 168, 130);
}
.negative {
  color: rgb(233, 158, 158);
}
.custom-header-row {
  position: sticky;
  top: 170px;
  padding-top: 170px;
  z-index: 999;
}
.custom-list-row {
  top: 800px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
