<div
  class="filterColumns flex justify-end h-14 items-center"
  [ngStyle]="{ top: topFilter + 'px' }"
>
  <app-button
    [buttonText]="'Filtrar columnas'"
    [menu]="columnsMenu"
  ></app-button>
  <mat-menu #columnsMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let column of headerColumns; trackBy: trackByKey"
    >
      <mat-checkbox
        [checked]="columnVisibility[column.key]"
        (change)="toggleColumn(column.key)"
      >
        {{ column.title }}
      </mat-checkbox>
    </button>
  </mat-menu>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8 table"
>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>Nº</th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{ i + 1 }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container
    *ngFor="let column of headerColumns"
    [matColumnDef]="column.key"
  >
    <ng-container *ngIf="column.sortable; else noSort">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="{{ column.key }}"
        [ngClass]="column.width"
      >
        {{ column.title }}
      </th>
    </ng-container>
    <ng-template #noSort>
      <th mat-header-cell *matHeaderCellDef [ngClass]="column.width">
        {{ column.title }}
      </th>
    </ng-template>
    <td mat-cell *matCellDef="let element" [ngClass]="column.width">
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="column.booleanIndicator === true">
          <app-circle-indicator
            [item]="hasValueBoolean(element[column.key])"
          ></app-circle-indicator>
        </ng-container>
        <ng-container
          *ngSwitchCase="
            column.showIndicatorOnEmpty === true &&
            !(element[column.key] | hasValue)
          "
        >
          <app-circle-indicator [item]="false"></app-circle-indicator>
        </ng-container>

        <ng-container *ngSwitchCase="column.showLengthOnly === true">
          <div
            *ngIf="element[column.key]?.length > 0"
            class="flex justify-center"
          >
            <div
              class="w-8 h-8 flex items-center justify-center rounded-full border border-lilaClaro bg-transparent text-black text-sm"
            >
              {{ element[column.key]?.length || 0 }}
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="column.pipe === 'eurosFormat'">
          {{ element[column.key] | eurosFormat }}
        </ng-container>
        <ng-container *ngSwitchCase="column.pipe === 'phoneFormat'">
          {{ element[column.key] | phoneFormat }}
        </ng-container>
        <ng-container
          *ngSwitchCase="column.pipe === 'i18nSelect : nameSubsidy'"
        >
          {{ element[column.key] | i18nSelect : nameSubsidy }}
        </ng-container>
        <ng-container *ngSwitchCase="column.pipe === 'date : dd MMM yyyy'">
          <small>{{ element[column.key] | date : "dd MMM yyyy" }}</small>
        </ng-container>
        <!-- IMAGEN -->
        <ng-container *ngSwitchCase="column.key === 'img'">
          <img
            appImgBroken
            [src]="element[column.key] | itemImage : type"
            alt=""
            class="cover"
          />
        </ng-container>
        <!-- FECHAS -->
        <ng-container *ngSwitchCase="column.key === 'start'">
          <div class="flex justify-center">
            <p
              class="dateColumn"
              *ngIf="element['start'] && element['end'] === element['start']"
            >
              {{ element["start"] | date : "EEE dd MMM yyyy" }}
            </p>
            <div
              class="flex flex-col"
              *ngIf="element['start'] && element['end'] !== element['start']"
            >
              <p class="dateColumn">
                {{ element["start"] | date : "EEE dd MMM yyyy" }}<br />
                AL<br />

                {{ element["end"] | date : "EEE dd MMM yyyy" }}
              </p>
            </div>
          </div>
        </ng-container>
        <!-- Diseño especial para 'espacio en eventos' -->
        <ng-container *ngSwitchCase="column.key === 'titleEvent'">
          <div>
            <ng-container *ngIf="element.title">
              <div>
                {{ element.title }}
              </div>
              <div
                *ngIf="element.macroeventData?.title"
                class="bg-[#f5d7a9] text-[11px] rounded px-[3px] py-[0px] inline-block"
              >
                {{ element.macroeventData.title }}
              </div>
            </ng-container>
          </div>
        </ng-container>

        <!-- Diseño especial para 'gender' -->
        <ng-container *ngSwitchCase="column.key === 'gender'">
          <div class="genderColumn">
            <span>{{ element[column.key] }}</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="column.key === 'birthday'">
          <div class="text-center" *ngIf="element.birthday">
            {{ element.birthday | date : "dd MMM yyyy" }}
            <span class="dateColumn">
              {{ element.birthday | calculateAge }} años
            </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="column.key === 'years'">
          {{ element.years || 0 }} años
        </ng-container>
        <ng-container *ngSwitchCase="column.key === 'subsidy_name'">
          <ng-container *ngIf="element[column.key]">
            <div class="text-center">
              <span
                class="subsidy"
                [ngClass]="{
                  'subsidy-ayunt-equip':
                    element[column.key] === 'AYUNT_EQUIPAMIENTO',
                  'subsidy-ayunt-activ':
                    element[column.key] === 'AYUNT_ACTIVIDADES',
                  'subsidy-gener': element[column.key] === 'GENERALITAT',
                  'subsidy-dipu': element[column.key] === 'DIPUTACION',
                  'subsidy-minis': element[column.key] === 'MINISTERIO'
                }"
                >{{ element[column.key] }}
              </span>
            </div>
          </ng-container>
          <!-- <ng-template #noSubsidy>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template> -->
        </ng-container>
        <ng-container
          *ngSwitchCase="column.key === 'activities' && !column.showLengthOnly"
        >
          <div
            class="box-activities"
            *ngIf="element[column.key] | hasValue; else noActivities"
          >
            <div class="flex items-center gap-x-2">
              <div
                class="flex flex-col gap-y-4 w-3/4 border-r border-gray-300 pr-3"
              >
                <div
                  class="activities-list"
                  *ngFor="let activity of element.activities"
                >
                  <p>{{ activity.name }}</p>
                  <p>{{ activity.budget | eurosFormat }}</p>
                </div>
              </div>
              <div class="invoices-totalAmount w-1/4">
                <p>
                  {{ getTotalActivitiesAmount(element) | eurosFormat }}
                </p>
              </div>
            </div>
          </div>
          <ng-template #noActivities>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <ng-container
          *ngSwitchCase="column.key === 'events' && !column.showLengthOnly"
        >
          <div
            class="box-events"
            *ngIf="element[column.key] | hasValue; else noEvents"
          >
            <div *ngFor="let event of element.events" class="events-list">
              <p>
                {{ event.title }}
              </p>
              <p>{{ event.start | date : "EEE dd/MM/yyyy" }}</p>
            </div>
          </div>
          <ng-template #noEvents>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <ng-container
          *ngSwitchCase="column.key === 'invoices' && !column.showLengthOnly"
        >
          <div
            class="box-invoices"
            *ngIf="element[column.key] | hasValue; else noInvoices"
          >
            <div class="flex items-center gap-x-4">
              <div
                class="flex flex-col gap-y-4 w-3/5 border-r border-gray-300 pr-3"
              >
                <div
                  class="invoices-list"
                  *ngFor="let invoice of element.invoices"
                >
                  <p>{{ invoice.type_invoice }} {{ invoice.number_invoice }}</p>

                  <p>{{ invoice.total_amount | eurosFormat }}</p>
                </div>
              </div>
              <div class="px-3 invoices-totalAmount w-2/5">
                <p>{{ getTotalInvoiceAmount(element) | eurosFormat }}</p>
              </div>
            </div>
          </div>
          <ng-template #noInvoices>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <!-- STATUS -->
        <ng-container *ngSwitchCase="column.key === 'status'">
          <ng-container *ngIf="element[column.key]">
            <div class="statusColumn">
              <span>{{ element[column.key] }}</span>
            </div>
          </ng-container>
        </ng-container>
        <!-- MUNICIPIO -->
        <ng-container *ngSwitchCase="column.key === 'town'">
          <div>
            <ng-container *ngIf="element.town; else noTown">
              <div>
                {{ element.town }}
              </div>
              <div
                *ngIf="element.address"
                style="font-size: 0.75rem; color: #666"
              >
                {{ element.address }}
              </div>
            </ng-container>
            <ng-template #noTown>
              <div class="flex justify-center">
                <app-circle-indicator [item]="false"></app-circle-indicator>
              </div>
            </ng-template>
          </div>
        </ng-container>

        <!-- ESPACIO -->
        <ng-container *ngSwitchCase="column.key === 'espacioTable'">
          <div>
            <ng-container *ngIf="element.placeData?.name; else noPlace">
              <div>
                {{ element.placeData.name }}
              </div>
              <div
                *ngIf="element.salaData?.name"
                style="font-size: 0.75rem; color: #666"
              >
                {{ element.salaData.name }}
              </div>
            </ng-container>
            <ng-template #noPlace>
              <div class="flex justify-center">
                <app-circle-indicator [item]="false"></app-circle-indicator>
              </div>
            </ng-template>
          </div>
        </ng-container>
        <!-- Diseño especial para 'capacity' -->
        <ng-container *ngSwitchCase="column.key === 'capacity'">
          <ng-container *ngIf="element[column.key] !== 0">
            <div>
              {{ element[column.key] }}
            </div>
          </ng-container>
        </ng-container>
        <!-- Diseño especial para 'gestión' -->
        <ng-container *ngSwitchCase="column.key === 'management'">
          <ng-container *ngIf="element[column.key]">
            {{ element[column.key] | filterTransformCode : "PlaceManagement" }}
          </ng-container>
        </ng-container>

        <!-- Organizadores -->
        <ng-container *ngSwitchCase="column.key === 'organizer'">
          <ng-container
            *ngIf="element[column.key] | hasValue; else noOrganizers"
          >
            <ul class="agent-list">
              <li *ngFor="let agent of element[column.key]">
                {{ agent.name }}
              </li>
            </ul>
          </ng-container>
          <ng-template #noOrganizers>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <!-- Colaboradores -->
        <ng-container *ngSwitchCase="column.key === 'collaborator'">
          <ng-container
            *ngIf="element[column.key] | hasValue; else noCollaborators"
          >
            <ul class="agent-list">
              <li *ngFor="let agent of element[column.key]">
                {{ agent.name }}
              </li>
            </ul>
          </ng-container>
          <ng-template #noCollaborators>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <!-- 💰 Patrocinadores -->
        <ng-container *ngSwitchCase="column.key === 'sponsor'">
          <ng-container *ngIf="element[column.key]; else noSponsors">
            <ul class="agent-list">
              <li *ngFor="let agent of element[column.key]">
                {{ agent.name }}
              </li>
            </ul>
          </ng-container>
          <ng-template #noSponsors>
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="column.key === 'name'">
          {{ element[column.key] }}</ng-container
        >
        <ng-container *ngSwitchCase="column.key === 'type_invoice'">
          <span
            [ngClass]="{
                'type-ticket': element.type_invoice === 'Ticket',
                'type-factura': element.type_invoice === 'Factura',
                'type-ingreso': element.type_invoice === 'Ingreso',
              }"
            >{{ element.type_invoice }}</span
          >
        </ng-container>
        <ng-container *ngSwitchCase="column.key === 'creditor_company'">
          {{ element.creditor_company }}<br />
          <small *ngIf="element.creditor_contact">{{
            element.creditor_contact
          }}</small>
        </ng-container>
        <!-- Diseño especial para 'categoría acreedores' -->
        <ng-container *ngSwitchCase="column.key === 'category'">
          <div *ngIf="element.category" class="genderColumn">
            <span>{{ element[column.key] }}</span>
          </div>
        </ng-container>
        <!-- Diseño especial para 'email' -->
        <ng-container *ngSwitchCase="column.key === 'email'">
          <small>{{ element[column.key] }}</small>
        </ng-container>

        <!-- Diseño especial para 'salas' -->
        <ng-container *ngSwitchCase="column.key === 'salasCount'">
          <div>
            <ng-container *ngIf="element[column.key] > 0">
              {{ element[column.key] }}
            </ng-container>
          </div>
        </ng-container>
        <!-- Diseño por defecto para otras columnas -->
        <ng-container *ngSwitchDefault>
          {{ element[column.key] }}
        </ng-container>
      </ng-container>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <ng-container *ngIf="column.footerTotal">
        {{ getColumnTotal(column.key) | eurosFormat }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-icon-action
        *ngIf="type === TypeList.Events"
        [icon]="'uil-copy'"
        [tooltip]="'Duplicar'"
        (click)="onOpenModal(type, typeActionModal.Duplicate, element)"
      ></app-icon-action>
      <app-icon-action
        [icon]="'uil-eye'"
        [tooltip]="'Ver'"
        (click)="onOpenModal(type, typeActionModal.Show, element)"
      ></app-icon-action>
      <app-icon-action
        [icon]="'uil-edit'"
        [tooltip]="'Editar'"
        (click)="onOpenModal(type, typeActionModal.Edit, element)"
      ></app-icon-action>
      <app-icon-action
        [icon]="'uil-trash-alt'"
        [tooltip]="'Eliminar'"
        (click)="onOpenModal(type, typeActionModal.Delete, element)"
      ></app-icon-action>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="custom-header-row"
    [ngClass]="{
      'top-266': topHeader === 266,
      'top-326': topHeader === 326,
      'top-200': topHeader === 200
    }"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="custom-list-row"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer"></tr>
</table>
