<div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 table"
    [class.is-5-buttons-action]="typeSection === TypeList.Events"
    [class.is-4-buttons-action]="
      typeSection === TypeList.Macroevents ||
      typeSection === TypeList.Books ||
      typeSection === TypeList.Movies ||
      typeSection === TypeList.Recipes ||
      typeSection === TypeList.Piteras ||
      typeSection === TypeList.Podcasts ||
      typeSection === TypeList.Articles ||
      typeSection === TypeList.Partners ||
      typeSection === TypeList.Agents
    "
    [class.is-3-buttons-action]="
      typeSection === TypeList.Places ||
      typeSection === TypeList.Projects ||
      typeSection === TypeList.Invoices ||
      typeSection === TypeList.Subsidies
    "
  >
    <!-- Columna de número -->
    <ng-container matColumnDef="number">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.data-print]="printIncludeNumber ? '1' : '0'"
      >
        Nº
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [attr.data-print]="printIncludeNumber ? '1' : '0'"
      >
        {{ i + 1 }}
      </td>
      <td
        mat-footer-cell
        *matFooterCellDef
        [attr.data-print]="printIncludeNumber ? '1' : '0'"
      ></td>
    </ng-container>

    @for (column of headerColumns; track column) {
    <ng-container [matColumnDef]="column.key">
      @if (column.sortable) {
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="{{ column.key }}"
        [ngClass]="column.width"
        [attr.data-print]="shouldPrintColumn(column.key) ? '1' : '0'"
      >
        {{ column.title }}
      </th>
      } @else {
      <th mat-header-cell *matHeaderCellDef [ngClass]="column.width">
        {{ column.title }}
      </th>
      }
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="column.width"
        [style.textAlign]="column.textAlign || 'left'"
        [attr.data-print]="shouldPrintColumn(column.key) ? '1' : '0'"
      >
        @switch (true) { @case (column.booleanIndicator === true) {
        <app-circle-indicator
          [item]="hasValueBoolean(element[column.key])"
        ></app-circle-indicator>
        } @case ( column.showIndicatorOnEmpty === true && !(element[column.key]
        | hasValue) ) {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } @case (column.backColor === true){ @if(element[column.key]){
        <div class="backColor">
          <span>{{ element[column.key] }}</span>
        </div>
        } } @case (column.showLengthOnly === true) { @if
        (element[column.key]?.length > 0) {
        <div class="flex justify-center">
          <div
            class="w-8 h-8 flex items-center justify-center rounded-full border border-lilaClaro bg-transparent text-black text-sm"
          >
            {{ element[column.key]?.length || 0 }}
          </div>
        </div>
        } } @case (column.innerHTML === true) { @if( element[column.key] |
        hasValue){
        <div
          [innerHTML]="element[column.key]"
          class="rich clamp-3 text-[11px] text-gray-600"
        ></div>
        } @else { <app-circle-indicator [item]="false"></app-circle-indicator>}
        } @case (column.pipe === 'eurosFormat') {
        {{ element[column.key] | eurosFormat }}
        } @case (column.pipe === 'phoneFormat') {
        {{ element[column.key] | phoneFormat }}
        } @case (column.pipe === 'date : dd MMM yyyy') {
        <small>{{ element[column.key] | date : "dd MMM yyyy" }}</small>
        } @case (column.pipe === 'filterTransformCode'){
        @if(element[column.key]){
        <div class="backColor">
          <span>
            {{ element[column.key] | filterTransformCode : column.pipeArg! }}
          </span>
        </div>
        } }
        <!-- IMAGEN -->
        @case (column.key === 'img') {
        <img
          appImgBroken
          [src]="element[column.key] | itemImage : typeSection"
          alt=""
          class="cover"
        />
        } @case (column.key === 'invoice_pdf' ||column.key === 'proof_pdf' ) {
        @if (element['invoice_pdf'] ||element['proof_pdf'] ) {
        <div class="flex">
          <i class="uil uil-file-alt text-[25px]"></i>
        </div>
        } }
        <!-- FECHAS -->
        @case (column.key === 'start') {
        <div class="flex justify-center">
          <!-- Caso 1: NO tiene periodicEvents -->
          @if (!element['periodicEvents'] || element['periodicEvents'].length
          === 0) { @if (element['start'] && element['end'] === element['start'])
          {
          <p class="dateColumn">
            {{ element["start"] | date : "EEE dd MMM yyyy" }}
          </p>
          } @if (element['start'] && element['end'] !== element['start']) {
          <div class="flex flex-col">
            <p class="dateColumn">
              {{ element["start"] | date : "EEE dd MMM yyyy" }}<br />
              AL<br />
              {{ element["end"] | date : "EEE dd MMM yyyy" }}
            </p>
          </div>
          } }

          <!-- Caso 2: Tiene periodicEvents -->
          @if (element['periodicEvents'] && element['periodicEvents'].length >
          0) {
          <div class="flex flex-col dateColumn">
            @for (func of element['periodicEvents']; track func) {

            <p class="text-[9px]">
              {{ func.start | date : "EEEE dd MMM" }}
            </p>

            }
          </div>
          }
        </div>
        } @case (column.key === 'title' || column.key === 'name' ||
        column.key==='nameSubsidy'|| column.key==='company' ){
        <div (click)="onOpenModal(typeModal, typeActionModal.Show, element)">
          <p
            class="cursor-pointer hover:underline hover:text-[green] text-[14px]"
          >
            @if (element?.title) {
            {{ element.title }}
            } @else { @if (element?.name && !element?.nameSubsidy) {
            {{ element.name }}
            } @else { @if (element?.nameSubsidy) {
            {{ element.nameSubsidy | i18nSelect : nameSubsidy }}
            } @else { @if (element?.company) {
            {{ element.company }}
            } } } }
          </p>

          @if (typeSection === TypeList.Events && element.macroeventData?.title)
          {
          <div
            class="bg-[#f5d7a9] text-[11px] rounded px-[3px] py-[0px] inline-block"
          >
            {{ element.macroeventData.title }}
          </div>
          }
        </div>
        }

        <!-- Diseño especial para 'espacio en eventos' -->
        @case (column.key === 'title' && typeSection === TypeList.Events) {
        <div>
          @if (element.title) {
          <div>
            {{ element.title }}
          </div>
          @if (element.macroeventData?.title) {
          <div
            class="bg-[#f5d7a9] text-[11px] rounded px-[3px] py-[0px] inline-block"
          >
            {{ element.macroeventData.title }}
          </div>
          } }
        </div>
        } @case (column.key === 'duration') { @if (element.duration) {
        <div class="backColor">
          <span> {{ element.duration | hms }}</span>
        </div>
        } }@case (column.key === 'season') { @if (element.season) {
        <div class="backColor">
          <span>TEMP. {{ element.season }} - EPIS. {{ element.episode }}</span>
        </div>

        } }
        <!-- Diseño especial para 'gender' -->
        @case (column.key === 'birthday') { @if (element.birthday) {
        <div class="text-center">
          {{ element.birthday | date : "dd MMM yyyy" }}<br />
          <span class="dateColumn"> {{ element.birthday | age }} años </span>
        </div>
        } } @case (column.key === 'years') {
        {{ element.years || 0 }} años } @case (column.key === 'subsidy_name') {
        @if (element[column.key]) {
        <div class="text-center">
          <span
            class="subsidy"
            [ngClass]="{
              'subsidy-ayunt-equip':
                element[column.key] === 'AYUNT_EQUIPAMIENTO',
              'subsidy-ayunt-activ':
                element[column.key] === 'AYUNT_ACTIVIDADES',
              'subsidy-gener': element[column.key] === 'GENERALITAT',
              'subsidy-dipu': element[column.key] === 'DIPUTACION',
              'subsidy-minis': element[column.key] === 'MINISTERIO'
            }"
            >{{ element[column.key] | i18nSelect : nameSubsidy }}
          </span>
        </div>
        } } @case (column.key === 'activities' && !column.showLengthOnly) { @if
        (element[column.key] | hasValue) {
        <div class="box-activities">
          <div class="flex items-center gap-x-2 justify-center">
            <div
              class="w-8 h-8 flex items-center justify-center rounded-full border border-lilaClaro bg-transparent text-black text-sm"
            >
              {{ element.activities.length }}
            </div>
            <!-- <div
              class="flex flex-col gap-y-4 w-3/4 border-r border-gray-300 pr-3"
            >
              @for (activity of element.activities; track activity) {
              <div class="activities-list">
                <p>{{ activity.name }}</p>
                <p>{{ activity.budget | eurosFormat }}</p>
              </div>
              }
            </div> -->
            <div class="totalAmount mx-2 bg-emerald-400">
              <p>
                {{ getTotalActivitiesAmount(element) | eurosFormat }}
              </p>
            </div>
          </div>
        </div>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } } @case (column.key === 'events' && !column.showLengthOnly) { @if
        (element[column.key] | hasValue) {
        <div class="box-events">
          @for (event of element.events; track event) {
          <div class="events-list">
            <p>
              {{ event.title }}
            </p>
            <p>{{ event.start | date : "EEE dd/MM/yyyy" }}</p>
          </div>
          }
        </div>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } } @case (column.key === 'invoices' && !column.showLengthOnly) { @if
        (element[column.key] | hasValue) {
        <div class="box-invoices">
          <div class="flex items-center gap-x-4 justify-center">
            <div
              class="w-8 h-8 flex items-center justify-center rounded-full border border-lilaClaro bg-transparent text-black text-sm"
            >
              {{ element.invoices.length }}
            </div>
            <!--  <div
              class="flex flex-col gap-y-4 w-4/5 border-r border-gray-300 pr-3"
            >@for (invoice of element.invoices; track invoice) {
              <div class="invoices-list">
                <p class="flex flex-row">
                  {{ invoice.type_invoice }} {{ invoice.number_invoice }} -
                  {{ invoice.creditor_company }} -
                  <span [innerHTML]="invoice.description"></span>
                </p>
                <p>{{ invoice.total_amount | eurosFormat }}</p>
              </div>
              }
              </div>-->

            <div class="px-3 totalAmount">
              <p>{{ getTotalInvoiceAmount(element) | eurosFormat }}</p>
            </div>
          </div>
        </div>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } } @case (column.key === 'access'){ @if(element[column.key] ===
        'FREE'){
        <p class="text-center">Gratis</p>
        } @if(element[column.key] === 'UNSPECIFIED'){
        <app-circle-indicator [item]="false"></app-circle-indicator>
        }@if ((element.access ?? element[column.key]) === 'TICKETS') {
        <p class="text-center">Entrada</p>
        }}
        <!-- STATUS -->
        @case (column.key === 'status') { @if
        (element[column.key]!=='EJECUCION') {
        <div class="statusColumn">
          <span class="bg-[#f18c8c] text-white">{{ element[column.key] }}</span>
        </div>
        }@else {
        <div class="statusColumn">
          <span class="bg-[#a3ca95] text-white">{{ element[column.key] }}</span>
        </div>
        }}
        <!-- MUNICIPIO -->
        @case (column.key === 'town') {
        <div>
          @if (element.town) {
          <div>
            {{ element.town }}
          </div>
          @if (element.address) {
          <div style="font-size: 0.75rem; color: #666" class="address">
            {{ element.address }}
          </div>
          } } @else {
          <div class="flex justify-center">
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </div>
          }
        </div>
        }
        <!-- ESPACIO -->
        @case (column.key === 'espacioTable') {
        <div>
          @if (element.placeData?.name) {
          <div>
            {{ element.placeData.name }}
          </div>
          @if (element.salaData?.name) {
          <div style="font-size: 0.75rem; color: #666">
            {{ element.salaData.name }}
          </div>
          } } @else {
          <div class="flex justify-center">
            <app-circle-indicator [item]="false"></app-circle-indicator>
          </div>
          }
        </div>
        } @case (column.key === 'salas' && !column.showLengthOnly) { @if
        (element[column.key] | hasValue) {
        <div class="box-activities">
          <div class="flex items-center gap-x-2">
            <div class="totalAmount w-1/4">
              <div
                class="w-8 h-8 flex items-center justify-center rounded-full border border-lilaClaro bg-transparent text-black text-sm"
              >
                {{ element.salas.length || 0 }}
              </div>
            </div>
            <div
              class="flex flex-col gap-y-4 w-3/4 border-l pl-3 border-gray-300"
            >
              @for (sala of element.salas; track sala) {
              <div class="activities-list">
                <p>{{ sala.name }} - {{ sala.capacity }}</p>
              </div>
              }
            </div>
          </div>
        </div>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } }

        <!-- Diseño especial para 'capacity' -->
        @case (column.key === 'capacity') { @if (element[column.key] !== 0) {
        <div>
          {{ element[column.key] }}
        </div>
        } }<!-- PÚBLICO -->
        @case (column.key === 'audience') { @if (element[column.key]) {
        <div class="flex gap-2 flex-wrap justify-center">
          @for (badge of (element.audience | audienceBadges); track badge) {
          <div class="backColor">
            <span class="badge">{{ badge }}</span>
          </div>
          }
        </div>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } }
        <!-- CATEGORíAs -->
        @case (column.key === 'category') { @if (element[column.key] | hasValue)
        {
        <div class="flex gap-2 flex-wrap justify-center">
          @for (category of element[column.key]; track category) {
          <div class="backColor">
            <span class="categories uppercase">{{
              category | dictTranslate : dictType.Categories
            }}</span>
          </div>
          }
        </div>
        }}
        <!-- Organizadores -->
        @case (column.key === 'organizer') { @if (element[column.key] |
        hasValue) {
        <ul class="agent-list">
          @for (agent of element[column.key]; track agent) {
          <li>
            {{ agent.name }}
          </li>
          }
        </ul>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } }
        <!-- Colaboradores -->
        @case (column.key === 'collaborator') { @if (element[column.key] |
        hasValue) {
        <ul class="agent-list">
          @for (agent of element[column.key]; track agent) {
          <li>
            {{ agent.name }}
          </li>
          }
        </ul>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } }
        <!-- 💰 Patrocinadores -->
        @case (column.key === 'sponsor') { @if (element[column.key]) {
        <ul class="agent-list">
          @for (agent of element[column.key]; track agent) {
          <li>
            {{ agent.name }}
          </li>
          }
        </ul>
        } @else {
        <app-circle-indicator [item]="false"></app-circle-indicator>
        } } @case (column.key === 'name') {
        {{ element[column.key] }}
        } @case (column.key === 'type_invoice') {
        <span
          [ngClass]="{
                'type-ticket': element.type_invoice === 'TICKET',
                'type-factura': element.type_invoice === 'INVOICE',
                'type-ingreso': element.type_invoice === 'INCOME',
              }"
          >{{ element.type_invoice | i18nSelect : nameMovement }}</span
        >
        } @case (column.key === 'creditor_company') {
        <p class="text-[12px]">{{ element.creditor_company }}</p>

        @if (element.creditor_contact) {
        <p class="text-[10x] text-[#666]">
          {{ element.creditor_contact }}
        </p>
        } }
        <!-- Diseño especial para 'email' -->
        @case (column.key === 'email') {
        <small>{{ element[column.key] }}</small>
        }
        <!-- Diseño especial para 'salas' -->
        @case (column.key === 'salasCount') {
        <div>
          @if (element[column.key] > 0) {
          {{ element[column.key] }}
          }
        </div>
        }
        <!-- Diseño por defecto para otras columnas -->
        @default {
        {{ element[column.key] }}
        } }
      </td>
      <td
        mat-footer-cell
        *matFooterCellDef
        [attr.data-print]="shouldPrintColumn(column.key) ? '1' : '0'"
      >
        @if (column.footerTotal) {
        <p class="text-right">{{ getColumnTotal(column.key) | eurosFormat }}</p>
        }
      </td>
    </ng-container>
    }

    <!-- Buttons Column -->
    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.data-print]="printIncludeActions ? '1' : '0'"
      ></th>
      <td
        mat-cell
        *matCellDef="let element"
        [attr.data-print]="printIncludeActions ? '1' : '0'"
      >
        <app-icon-action
          [icon]="'uil-eye'"
          [tooltip]="'Ver'"
          (click)="onOpenModal(typeModal, typeActionModal.Show, element)"
        ></app-icon-action>
        <app-icon-action
          [icon]="'uil-edit'"
          [tooltip]="'Editar'"
          (click)="onOpenModal(typeModal, typeActionModal.Edit, element)"
        ></app-icon-action>
        @if (typeSection === TypeList.Events) {
        <app-icon-action
          [icon]="'uil-copy'"
          [tooltip]="'Duplicar'"
          (click)="onOpenModal(typeModal, typeActionModal.Duplicate, element)"
        ></app-icon-action>
        } @if (typeSection === TypeList.Events || typeSection ===
        TypeList.Macroevents || typeSection === TypeList.Books || typeSection
        === TypeList.Movies || typeSection === TypeList.Recipes || typeSection
        === TypeList.Piteras || typeSection === TypeList.Podcasts|| typeSection
        === TypeList.Articles || typeSection === TypeList.Partners ||
        typeSection === TypeList.Agents ){
        <app-icon-action
          [icon]="'uil-image-redo'"
          [tooltip]="'Descargar imagen'"
          (click)="downloadImg(element)"
        ></app-icon-action>
        }
        <app-icon-action
          [icon]="'uil-trash-alt'"
          [tooltip]="'Eliminar'"
          (click)="onOpenModal(typeModal, typeActionModal.Delete, element)"
        ></app-icon-action>
      </td>
      <td
        mat-footer-cell
        *matFooterCellDef
        [attr.data-print]="printIncludeActions ? '1' : '0'"
      ></td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="custom-header-row"
      [ngClass]="{
      'top-210': topHeader === 210,
      'top-246': topHeader === 246,
    }"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="custom-list-row"
    ></tr>
    @if (showFooter) {
    <tr
      mat-footer-row
      *matFooterRowDef="displayedColumns"
      class="footer bg-white"
    ></tr>
    }
  </table>
</div>
