<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil-calculator-alt'"
    [title]="'Macroeventos'"
    [number]="list.countSig()"
    [type]="'Macroeventos'"
  />
  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
    />
    <app-page-toolbar
      [columns]="headerListMacroevents"
      [visibility]="col.columnVisSig"
      [addText]="'Nueva macroevento'"
      (add)="addNewMacroeventModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    >
    </app-page-toolbar>
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (macroeventsFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (list.processedSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado macroeventos</h2>
    <app-table
      [data]="list.processedSig()"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay macroeventos registrados.
  </div>
  } }
</div>

<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormMacroeventData)="sendFormMacroevent($event)"
  [canGoBack]="canGoBack"
  (back)="onBackModal()"
  (openEvent)="onOpenEvent($event)"
  [contentVersion]="contentVersion"
/>
