<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    (ngSubmit)="onSendFormMacroevent()"
    [formGroup]="formMacroevent"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between gap-x-8">
        <div class="flex flex-col flex-1 gap-y-4">
          <div class="box-input gap-x-4">
            <label for="email">Título</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="title"
                type="text"
                [ngClass]="{
                  'is-invalid':
                    submitted && formMacroevent.get('title')?.invalid
                }"
              />
              @if (submitted && formMacroevent.get('title')?.invalid) {
              <div class="is-invalid-text">Campo requerido</div>
              }
            </div>
          </div>
          <!-- Provincia -->
          <div class="box-input gap-x-4 flex flex-1">
            <label for="province">Provincia</label>
            <select
              formControlName="province"
              (change)="onProvinceChange()"
              [ngClass]="{
                'is-invalid':
                  submitted && formMacroevent.get('province')?.invalid
              }"
            >
              <option value="">Seleccione una provincia</option>
              @for (prov of provincias; track prov) {
              <option [value]="prov.label">
                {{ prov.label }}
              </option>
              }
            </select>
            @if (submitted && formMacroevent.get('town')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
          <!-- Municipio -->
          <div class="box-input gap-x-4 flex flex-1">
            <label for="town">Municipio</label>
            <select
              formControlName="town"
              [ngClass]="{
                'is-invalid': submitted && formMacroevent.get('town')?.invalid
              }"
            >
              <option value="">Seleccione un municipio</option>
              @for (mun of municipios; track mun) {
              <option [value]="mun.label">
                {{ mun.label }}
              </option>
              }
            </select>
            @if (submitted && formMacroevent.get('town')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <div class="flex flex-col gap-y-4 w-72 bg-lilaMuyClaro p-4">
          <div class="flex gap-x-4">
            <label for="start" class="w-12">Inicio</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="start"
                type="date"
                [ngClass]="{
                  'is-invalid':
                    submitted && formMacroevent.get('start')?.invalid
                }"
              />
              @if (submitted && formMacroevent.get('start')?.invalid) {
              <div class="is-invalid-text">Campo requerido</div>
              }
            </div>
          </div>
          <div class="flex gap-x-4">
            <label for="end" class="w-12">Fin</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="end"
                type="date"
                [ngClass]="{
                  'is-invalid': submitted && (formMacroevent.get('end')?.invalid || formMacroevent.errors?.['invalidDateRange'])
                }"
              />

              <!-- Mensaje de CAMPO REQUERIDO -->
              @if ( submitted && formMacroevent.get('end')?.hasError('required')
              ) {
              <div class="is-invalid-text">Campo requerido.</div>
              }

              <!-- Mensaje de FECHA INCORRECTA -->
              @if (submitted && formMacroevent.errors?.['invalidDateRange']) {
              <div class="is-invalid-text">
                Fecha fin no puede ser anterior a fecha inicio.
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-x-8">
        <!-- Descripción -->
        <div class="box-input gap-x-4 flex-1">
          <label for="description">Descripción</label>
          <quill-editor
            formControlName="description"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción..."
            class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formMacroevent.get('img')?.value
                ? formMacroevent.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      @if (formMacroevent.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
