<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (macroeventsFacade.isLoadingItem$ | async) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormMacroevent()"
    [formGroup]="formMacroevent"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col flex-1 gap-y-4">
        <div class="box-input gap-x-4">
          <label for="email">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              placeholder="Título del macroevento"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formMacroevent.get('title')?.invalid
              }"
            />
            @if (submitted && formMacroevent.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <div class="flex justify-between gap-x-4">
          <div class="box-input gap-x-4 flex-1">
            <label for="start" class="w-12">Inicio</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="start"
                type="date"
                [ngClass]="{
                  'text-placeholder': !formMacroevent.get('start')?.value,
                  'is-invalid':
                    submitted && formMacroevent.get('start')?.invalid
                }"
              />
              @if (submitted && formMacroevent.get('start')?.invalid) {
              <div class="is-invalid-text">Campo requerido</div>
              }
            </div>
          </div>
          <div class="box-input gap-x-4 flex-1">
            <label for="end" class="w-12">Fin</label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="end"
                type="date"
                [ngClass]="{
                  'text-placeholder': !formMacroevent.get('end')?.value,
                  'is-invalid': submitted && (formMacroevent.get('end')?.invalid || formMacroevent.errors?.['invalidDateRange'])
                }"
              />

              <!-- Mensaje de CAMPO REQUERIDO -->
              @if ( submitted && formMacroevent.get('end')?.hasError('required')
              ) {
              <div class="is-invalid-text">Campo requerido.</div>
              }

              <!-- Mensaje de FECHA INCORRECTA -->
              @if (submitted && formMacroevent.errors?.['invalidDateRange']) {
              <div class="is-invalid-text">
                Fecha fin no puede ser anterior a fecha inicio.
              </div>
              }
            </div>
          </div>
        </div>

        <div class="flex justify-between gap-x-4">
          <!-- Provincia -->
          <div class="box-input gap-x-4 flex flex-1">
            <label for="province">Provincia</label>
            <select
              formControlName="province"
              (change)="onProvinceChange()"
              [ngClass]="{
                'is-invalid':
                  submitted && formMacroevent.get('province')?.invalid,
                'text-placeholder': !formMacroevent.get('province')?.value
              }"
            >
              <!-- Placeholder en gris -->
              <option value="" disabled hidden>Seleccione una provincia</option>

              <!-- Opción libre -->
              <option value="">Sin provincia</option>
              @for (prov of provincias; track prov) {
              <option [value]="prov.label">
                {{ prov.label }}
              </option>
              }
            </select>
            @if (submitted && formMacroevent.get('town')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
          <!-- Municipio -->
          <div class="box-input gap-x-4 flex flex-1">
            <label for="town">Municipio</label>
            <select
              formControlName="town"
              [ngClass]="{
                'is-invalid': submitted && formMacroevent.get('town')?.invalid,
                'text-placeholder': !formMacroevent.get('town')?.value
              }"
            >
              <!-- Placeholder en gris -->
              <option value="" disabled hidden>Seleccione un municipio</option>

              <!-- Opción libre -->
              <option value="">Sin municipio</option>
              @for (mun of municipios; track mun) {
              <option [value]="mun.label">
                {{ mun.label }}
              </option>
              }
            </select>
            @if (submitted && formMacroevent.get('town')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
      </div>
      <hr />
      <!-- Descripción e imagen-->
      <div class="flex gap-x-8">
        <div class="flex-1">
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="description">Descripción</label>
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Descripción"
              class="ql-container-medium w-full text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            <div class="w-full text-right text-xs text-gray-500">
              {{ descriptionLen() }} / 2000
            </div>
          </div>
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="summary">
              Resumen
              <span class="text-[9px]">(Texto para redes sociales)</span></label
            >
            <!-- Resumen (corto) -->
            <div class="box-input flex-1 w-full">
              <textarea
                formControlName="summary"
                maxlength="300"
                rows="2"
                placeholder="Resumen breve del evento (máx. 300 caracteres visibles)"
              ></textarea>
            </div>
            <div class="w-full text-right text-xs text-gray-500">
              {{ summaryLen() }} / 300
            </div>
          </div>
        </div>
        <!-- Portada (Imagen) -->
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formMacroevent.get('img')?.value
                ? formMacroevent.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            [textImg]="'Añadir portada'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      @if (formMacroevent.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
