<app-ui-modal
  [(open)]="isOpen"
  [variant]="action"
  (openChange)="!$event && onCloseModal()"
  [canGoBack]="canGoBack"
  (back)="back.emit()"
>
  <app-modal-router
    [item]="item"
    [typeModal]="typeModal"
    [typePage]="typePage"
    [action]="action"
    (closeRequested)="onCloseModal()"
    (openMacroevent)="openMacroevent.emit($event)"
    (openEvent)="openEvent.emit($event)"
    (openProject)="openProject.emit($event)"
    (openInvoice)="openInvoice.emit($event)"
    (confirmDelete)="onConfirmDelete($event)"
    (sendFormBookData)="sendFormBookData.emit($event)"
    (sendFormEventData)="sendFormEventData.emit($event)"
    (sendFormMacroeventData)="sendFormMacroeventData.emit($event)"
    (sendFormMovieData)="sendFormMovieData.emit($event)"
    (sendFormRecipeData)="sendFormRecipeData.emit($event)"
    (sendFormPiteraData)="sendFormPiteraData.emit($event)"
    (sendFormPartnerData)="sendFormPartnerData.emit($event)"
    (sendFormInvoiceData)="sendFormInvoiceData.emit($event)"
    (sendFormSubsidyData)="sendFormSubsidyData.emit($event)"
    (sendFormCreditorData)="sendFormCreditorData.emit($event)"
    (sendFormAgentData)="sendFormAgentData.emit($event)"
    (sendFormPlaceData)="sendFormPlaceData.emit($event)"
    (sendFormArticleData)="sendFormArticleData.emit($event)"
    (sendFormProjectData)="sendFormProjectData.emit($event)"
    (sendFormPodcastData)="sendFormPodcastData.emit($event)"
  />
</app-ui-modal>
