<div class="modal" (click)="onCloseModalFromOutside($event)">
  <div
    (click)="$event.stopPropagation()"
    class="modal_body relative"
    [class.modal-delete]="action === TypeActionModal.Delete"
    [class.modal-show]="action === TypeActionModal.Show"
    [class.modal-edit]="
      [
        TypeActionModal.Edit,
        TypeActionModal.Create,
        TypeActionModal.Duplicate
      ].includes(action)
    "
    >
    <div
      class="absolute top-3 right-3 block text-gray-500 cursor-pointer hover:text-black"
      (click)="onCloseModal()"
      >
      <i class="uil uil-multiply iconClose"></i>
    </div>
    @switch (action) {
      @case (TypeActionModal.Show) {
        <ng-container
          *ngTemplateOutlet="templateView; context: { item: item }"
        ></ng-container>
      }
      @case (TypeActionModal.Edit) {
        <ng-container
          *ngTemplateOutlet="templateForm; context: { item: item }"
        ></ng-container>
      }
      @case (TypeActionModal.Duplicate) {
        <ng-container
          *ngTemplateOutlet="templateForm; context: { item: item }"
        ></ng-container>
      }
      @case (TypeActionModal.Delete) {
        <ng-container
          *ngTemplateOutlet="templateDelete; context: { item: item }"
        ></ng-container>
      }
      @case (TypeActionModal.Create) {
        <ng-container *ngTemplateOutlet="templateForm"></ng-container>
      }
    }
  </div>
</div>

<!-- Template de vista de un ítem (ej. libro, película) -->
<ng-template #templateView let-item="item">
  <app-modal-show [type]="type" [item]="item" />
</ng-template>

<!-- Template para eliminar un ítem -->
<ng-template #templateDelete let-item="item">
  <app-modal-delete
    [type]="type"
    [item]="item"
    (closeModal)="onCloseModal()"
    (confirmDelete)="onConfirmDelete($event)"
    />
  </ng-template>

  <ng-template #templateForm let-item="item">
    @if (type === TypeList.Books) {
      <app-form-book
        [itemId]="item?.id"
        (sendFormBook)="onSendFormBook($event)"
        />
    }
    @if (type === TypeList.Movies) {
      <app-form-movie
        [itemId]="item?.id"
        (sendFormMovie)="onSendFormMovie($event)"
        />
    }
    @if (type === TypeList.Events) {
      <app-form-event
        [itemId]="item?.id || 0"
        [item]="item"
        (sendFormEvent)="onSendFormEvent($event)"
        />
    }
    @if (type === TypeList.Macroevents) {
      <app-form-macroevent
        [itemId]="item?.id"
        (sendFormMacroevent)="onSendFormMacroevent($event)"
        />
    }
    @if (type === TypeList.Recipes) {
      <app-form-recipe
        [itemId]="item?.id"
        (sendFormRecipe)="onSendFormRecipe($event)"
        />
    }
    @if (type === TypeList.Piteras) {
      <app-form-pitera
        [itemId]="item?.id"
        (sendFormPitera)="onSendFormPitera($event)"
        />
    }
    @if (type === TypeList.Partners) {
      <app-form-partner
        [itemId]="item?.id"
        (sendFormPartner)="onSendFormPartner($event)"
        />
    }
    @if (type === TypeList.Invoices) {
      <app-form-invoice
        [itemId]="item?.id"
        (sendFormInvoice)="onSendFormInvoice($event)"
        />
    }
    @if (type === TypeList.Subsidies) {
      <app-form-subsidy
        [itemId]="item?.id"
        (sendFormSubsidy)="onSendFormSubsidy($event)"
        />
    }
    @if (type === TypeList.Creditors) {
      <app-form-creditor
        [itemId]="item?.id"
        (sendFormCreditor)="onSendFormCreditor($event)"
        />
    }
    @if (type === TypeList.Agents) {
      <app-form-agent
        [itemId]="item?.id"
        (sendFormAgent)="onSendFormAgent($event)"
        />
    }
    @if (type === TypeList.Places) {
      <app-form-place
        [itemId]="item?.id"
        (sendFormPlace)="onSendFormPlace($event)"
        />
    }
    @if (type === TypeList.Podcasts) {
      <app-form-podcast
        [itemId]="item?.id"
        (sendFormPodcast)="onSendFormPodcast($event)"
        />
    }
    @if (type === TypeList.Projects) {
      <app-form-project
        [itemId]="item?.id"
        (sendFormProject)="onSendFormProject($event)"
        />
    }
    @if (type === TypeList.Articles) {
      <app-form-article
        [itemId]="item?.id"
        (sendFormArticle)="onSendFormArticle($event)"
        />
    }
  </ng-template>
