.modal {
  position: fixed;
  inset: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-color: rgba(130, 128, 128, 0.597);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* bloquea fondo */
  overscroll-behavior: none;
}

/* PANEL */
.modal_body {
  position: relative;
  box-sizing: border-box;
  width: var(--modal-w, auto);
  max-width: var(--modal-max-w, min(96vw, 56rem));
  max-height: var(--modal-max-h, calc(100dvh - 4rem));
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f6f0ff;
  border-radius: 16px;
  contain: content;
}
.modal_body > section {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* inercia iOS */
  overscroll-behavior: contain;
  touch-action: pan-y;
  flex: 1 1 auto;
  min-height: 0;
  padding: 45px 64px;
}
.modal-DELETE {
  --modal-w: 25%;
  --modal-max-w: 25%;
}

.modal-SHOW {
  --modal-w: 50%;
  --modal-max-w: 50%;
  background-color: #f6f0ff; /* lo mantienes */
}

.modal-CREATE,
.modal-EDIT,
.modal-DUPLICATE {
  --modal-w: 60%;
  --modal-max-w: 60%;
}

.iconClose {
  font-size: 24px;
}
.iconBack {
  font-size: 24px;
}
:host ::ng-deep .pdf-panel {
  width: 100vw !important;
  height: 100dvh !important;
  max-width: none !important;
  max-height: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

/* Media Queries */
@media (max-width: 1200px) {
  .modal_body {
    --modal-w: 90vw;
    --modal-max-w: 90vw;
    --modal-max-h: 90vh;
  }
  .modal_body > section {
    padding: 4% 6%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .modal_body {
    --modal-w: 95vw;
    --modal-max-w: 95vw;
    --modal-max-h: 90vh;
  }
  .modal_body > section {
    padding: 2% 8% 6% 8%;
  }
  .iconClose {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .modal_body {
    --modal-w: 95vw;
    --modal-max-w: 95vw;
    --modal-max-h: 80vh;
  }
  .modal_body > section {
    padding: 10% 8% 6% 8%;
  }
}
