@if (open) {
<div class="modal" (click)="closeOnBackdrop && close()">
  <div
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="false"
    role="dialog"
    [attr.aria-modal]="true"
    class="modal_body"
    [ngClass]="[sizeClass, variantClass, panelClass]"
    [style.--modal-w]="
      isPdfPanel
        ? '96vw 96vh'
        : size === 'full'
        ? '80vw'
        : size === 'xl'
        ? '60vw'
        : size === 'lg'
        ? '30vw'
        : null
    "
    [style.--modal-max-w]="
      isPdfPanel
        ? '96vw 96vh'
        : size === 'full'
        ? '80vw'
        : size === 'xl'
        ? '60vw'
        : size === 'lg'
        ? '30vw'
        : null
    "
    [style.--modal-max-h]="isPdfPanel ? '92vh' : null"
    (click)="$event.stopPropagation()"
  >
    <!-- Header -->
    <div
      class="absolute top-1 md:top-3 left-2 right-2 md:left-6 md:right-6 flex items-center justify-between"
    >
      @if (canGoBack) {
      <button
        #focusAnchor
        type="button"
        class="p-2 rounded hover:bg-gray-100 text-gray-500 hover:text-black focus:outline-none focus:ring"
        (click)="onBack()"
        aria-label="Volver"
      >
        <i class="uil uil-arrow-left iconBack"></i>
      </button>
      } @else {
      <span #focusAnchor class="w-9 h-9 inline-block"></span>
      <!-- ✅ ancla “inerte” -->
      } @if (showClose) {
      <button
        type="button"
        class="p-2 rounded hover:bg-gray-100 text-gray-500 hover:text-black focus:outline-none focus:ring"
        (click)="close()"
        aria-label="Cerrar"
      >
        <i class="uil uil-multiply iconClose"></i>
      </button>
      }
    </div>

    <!-- Asegúrate de que ESTA sea la ÚNICA zona con scroll -->
    @for (k of [contentVersion]; track k) {
    <section #scrollArea class="flex-1 min-h-0 p-0">
      <ng-content></ng-content>
    </section>
    }
  </div>
</div>
}
