<div>
  <app-dashboard-header
    [icon]="'uil uil-users-alt'"
    [title]="'Asociación'"
    [number]="number"
    [type]="'socias'"
  />
  <div class="flex flex-col py-8 px-4" [class.sticky-toolbar]="isStickyToolbar">
    <app-filters
      [filters]="filtersYears"
      (filterClicked)="filterYearSelected($event)"
      class="mb-6"
    ></app-filters>
    <div class="px-4 flex add mb-4" *ngIf="selectedFilterYear === null">
      <app-button-add
        [buttonText]="'Nueva socia'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewPartnerModal()"
      />
      <app-input-search (onDebounce)="applyFilter($event)" class="flex-1" />
    </div>
  </div>
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="!dataLoaded; else results" />
  <!-- Tabla -->
  <ng-template #results>
    <app-table-partners
      [data]="filteredPartners"
      (openModal)="onOpenModal($event)"
      class="pb-4 px-8 flex"
      [class.sticky-table]="isStickyToolbar"
    />
  </ng-template>
</div>

<!-- Modal -->
<app-modal
  *ngIf="isModalVisible"
  [item]="item"
  [type]="typeList"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeletePartner(item)"
  (sendFormPartnerData)="sendFormPartner($event)"
></app-modal>
