<app-sticky-zone [height]="296">
  <app-dashboard-header
    [icon]="'uil uil-users-alt'"
    [title]="'Asociación'"
    [number]="number"
    [type]="'socias'"
  />
  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      (filterClicked)="filterSelected($event)"
    ></app-filters>
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nueva socia'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewPartnerModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />

      <app-icon-action
        [icon]="'uil-print'"
        [tooltip]="'Imprimir tabla'"
        (click)="printTableAsPdf()"
      ></app-icon-action>

      <app-button
        [buttonText]="'Filtrar columnas'"
        [menu]="columnsMenu"
      ></app-button>

      <mat-menu #columnsMenu="matMenu" class="flex flex-col">
        <button mat-menu-item *ngFor="let column of headerListPartners">
          <mat-checkbox
            [checked]="columnVisibility[column.key]"
            (change)="toggleColumn(column.key)"
          >
            {{ column.title }}
          </mat-checkbox>
        </button>
      </mat-menu>
    </div>
  </div>
</app-sticky-zone>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  @if (isLoading) {
  <app-spinner-loading />
  } @else {@if(filteredPartners.length > 0){
  <div class="pb-4 flex">
    <app-table
      [data]="filteredPartners"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="getVisibleColumns()"
      [columnVisibility]="columnVisibility"
      (openModal)="onOpenModal($event)"
    />
  </div>
  }@else{
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay socias registradas.
  </div>
  } }
  <!-- Tabla -->
</div>

<!-- Modal -->
@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeletePartner(item)"
  (sendFormPartnerData)="sendFormPartner($event)"
></app-modal>
}
