<app-sticky-zone [height]="296">
  <app-dashboard-header
    [icon]="'uil uil-users-alt'"
    [title]="'Asociación'"
    [number]="countPartnersSig()"
    [type]="'socias'"
  />

  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
    ></app-filters>
    <app-page-toolbar
      [columns]="headerListPartners"
      [visibility]="col.columnVisSig"
      [addText]="'Nueva socia'"
      (add)="addNewPartnerModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    />
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (partnersFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (enrichedPartnersSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado socias</h2>

    <app-table
      [data]="enrichedPartnersSig()"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay socias registradas.
  </div>
  } }
</div>

<!-- Modal -->
<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormPartnerData)="sendFormPartner($event)"
/>
