<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormRecipe()"
    [formGroup]="formRecipe"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col bg-lilaMuyClaro p-4 gap-y-4">
        <!-- Título -->
        <div class="box-input gap-x-4">
          <label for="email">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formRecipe.get('title')?.invalid
              }"
            />
            @if (submitted && formRecipe.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>

        <!-- Autor -->
        <div class="box-input gap-x-4">
          <label for="owner">Autor/a</label>
          <input formControlName="owner" type="text" />
        </div>
        <div class="flex gap-x-4">
          <!-- Categoría -->
          <div class="box-input gap-y-2 gap-x-4 flex-1">
            <label for="category">Categoría</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="category"
                [ngClass]="{
                  'is-invalid': submitted && formRecipe.get('category')?.invalid
                }"
              >
                @for (category of FilterRecipes; track category) {
                <option [value]="category.code">
                  {{ category.name }}
                </option>
                }
              </select>
              @if (submitted && formRecipe.get('category')?.invalid) {
              <div class="is-invalid-text">Selecciona una categoría</div>
              }
            </div>
          </div>
          <!-- Año -->
          <div class="box-input gap-x-4">
            <label for="year">Año publicación</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formRecipe.get('category')?.invalid
                }"
              >
                @for (year of years; track year) {
                <option [value]="year">
                  {{ year }}
                </option>
                }
              </select>
              @if (submitted && formRecipe.get('year')?.invalid) {
              <div class="is-invalid-text">Selecciona un año</div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <!-- Ingredientes -->
        <div class="box-input gap-x-4 px-4 w-3/4">
          <label for="ingredients">Ingredientes</label>
          <quill-editor
            formControlName="ingredients"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción..."
            class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
        <!-- Portada (Imagen) -->
        <div class="box-input gap-x-4 px-4 w-72">
          <app-image-control
            [previewImg]="
              formRecipe.get('img')?.value
                ? formRecipe.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
          ></app-image-control>
        </div>
      </div>
      <!-- Receta -->
      <div class="box-input gap-x-4 px-4">
        <label for="recipe">Receta</label>

        <quill-editor
          formControlName="recipe"
          [modules]="quillModules"
          placeholder="Escribe aquí la descripción..."
          class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
        />
      </div>

      <!-- Mensaje de error global -->
      @if (errorSession) {
      <div class="is-invalid-text">
        Ocurrió un error con el envío del formulario
      </div>
      }

      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
