<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (recipesFacade.isLoadingItem$ | async) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormRecipe()"
    [formGroup]="formRecipe"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col bg-lilaMuyClaro p-4 gap-y-4">
        <!-- Título -->
        <div class="box-input gap-x-4">
          <label for="email">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              placeholder="Título de la receta"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formRecipe.get('title')?.invalid
              }"
            />
            @if (submitted && formRecipe.get('title')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>

        <!-- Autor -->
        <div class="box-input gap-x-4">
          <label for="owner">Autor/a</label>
          <input
            formControlName="owner"
            placeholder="Autor/a de la receta"
            type="text"
          />
        </div>
        <div class="flex gap-x-4">
          <!-- Categoría -->
          <div class="box-input gap-y-2 gap-x-4 flex-1">
            <label for="category">Categoría</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="category"
                [ngClass]="{
                  'is-invalid':
                    submitted && formRecipe.get('category')?.invalid,
                  'text-placeholder': !formRecipe.get('category')?.value
                }"
              >
                <option value="" disabled hidden>Género de la receta</option>
                @for (category of FilterRecipes; track category) {
                <option [value]="category.code">
                  {{ category.name }}
                </option>
                }
              </select>
              @if (submitted && formRecipe.get('category')?.invalid) {
              <div class="is-invalid-text">Selecciona una categoría</div>
              }
            </div>
          </div>
          <!-- Año -->
          <div class="box-input gap-x-4 w-96">
            <label for="year">Año publicación</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formRecipe.get('year')?.invalid,
                  'text-placeholder': !formRecipe.get('year')?.value
                }"
              >
                <option value="null" disabled hidden>Año de registro</option>
                @for (year of years; track year) {
                <option [value]="year">
                  {{ year }}
                </option>
                }
              </select>
              @if (submitted && formRecipe.get('year')?.invalid) {
              <div class="is-invalid-text">Selecciona un año</div>
              }
            </div>
          </div>
        </div>
      </div>
      <hr />
      <!-- Resumen (corto) -->
      <div class="flex gap-x-4">
        <div class="box-input">
          <label for="summary">
            Resumen <br />
            <span class="text-[9px]">(Texto redes sociales)</span></label
          >
        </div>
        <div class="box-input flex-1 flex flex-col w-full">
          <textarea
            formControlName="summary"
            maxlength="300"
            rows="2"
            placeholder="Resumen breve del evento (máx. 300 caracteres visibles)"
            class="w-full"
          ></textarea>

          <div class="w-full text-right text-xs text-gray-500">
            {{ summaryLen() }} / 300
          </div>
        </div>
      </div>
      <div class="flex gap-x-4">
        <!-- Ingredientes -->
        <div class="box-input gap-x-4 flex-1">
          <label for="ingredients">Introducción</label>
          <div class="flex flex-col flex-1">
            <quill-editor
              formControlName="introduction"
              [modules]="quillModules"
              placeholder="Contexto de la receta"
              class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            <div class="w-full text-right text-xs text-gray-500">
              {{ introductionLen() }} / 2000
            </div>
          </div>
        </div>

        <!-- Portada (Imagen) -->
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formRecipe.get('img')?.value
                ? formRecipe.get('img')?.value!
                : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            [textImg]="'Añadir imagen'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      <!-- Ingredientes -->
      <div class="box-input gap-x-4">
        <label for="ingredients">Ingredientes</label>
        <div class="flex-1 flex flex-col">
          <quill-editor
            formControlName="ingredients"
            [modules]="quillModules"
            placeholder="Lista los ingredientes con sus cantidades"
            class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
          <div class="w-full text-right text-xs text-gray-500">
            {{ ingredientsLen() }} / 2000
          </div>
        </div>
      </div>
      <!-- Receta -->
      <div class="box-input gap-x-4">
        <label for="recipe">Receta</label>
        <div class="flex-1 flex flex-col">
          <quill-editor
            formControlName="recipe"
            [modules]="quillModules"
            placeholder="Detalla pasa a paso como elaborar la receta"
            class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
          <div class="w-full text-right text-xs text-gray-500">
            {{ recipeLen() }} / 2000
          </div>
        </div>
      </div>
      @if (formRecipe.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }<!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
