<div class="sticky-zone">
  <app-dashboard-header
    [icon]="'uil uil-pen'"
    [title]="''"
    [number]="number"
    [type]="'Proyectos'"
  />
  <div class="flex flex-1 flex-col justify-center px-8 gap-y-8">
    <app-filters
      [filters]="filters"
      (filterClicked)="filterSelected($event)"
      [loadFirstFilter]="currentYear"
    ></app-filters>
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nuevo proyecto'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewProjectModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />
    </div>
  </div>
</div>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="isLoading; else results" />
  <!-- Tabla -->
  <ng-template #results>
    <div class="pb-4 flex">
      <app-table
        [data]="filteredProjects"
        [type]="typeList"
        [headerColumns]="headerListProjects"
        (openModal)="onOpenModal($event)"
      />
    </div>
  </ng-template>
</div>

<!-- Modal -->
<app-modal
  *ngIf="isModalVisible"
  [item]="item"
  [type]="typeList"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeleteProject(item)"
  (sendFormProjectData)="sendFormProject($event)"
></app-modal>
