<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormMovie()"
    [formGroup]="formMovie"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col gap-y-4 bg-lilaMuyClaro p-4">
        <!-- Título -->
        <div class="box-input gap-x-4">
          <label for="email">Título</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="title"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formMovie.get('title')?.invalid
              }"
            />
            <div
              *ngIf="submitted && formMovie.get('title')?.invalid"
              class="is-invalid-text"
            >
              Campo requerido
            </div>
          </div>
        </div>

        <!-- Director -->
        <div class="box-input gap-x-4">
          <label for="director">Director/a</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="director"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formMovie.get('director')?.invalid
              }"
            />
            <div
              *ngIf="submitted && formMovie.get('director')?.invalid"
              class="is-invalid-text"
            >
              Campo requerido
            </div>
          </div>
        </div>
        <!-- Género -->
        <div class="flex flex-row gap-x-4">
          <div class="box-input gap-y-2 gap-x-4 flex flex-1">
            <label for="gender">Género</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="gender"
                [ngClass]="{
                  'is-invalid': submitted && formMovie.get('gender')?.invalid
                }"
              >
                <option
                  *ngFor="let gender of FilterMovies"
                  [value]="gender.code"
                >
                  {{ gender.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && formMovie.get('gender')?.invalid"
                class="is-invalid-text"
              >
                Selecciona un género
              </div>
            </div>
          </div>
          <!-- Año de compra -->
          <div class="box-input gap-x-4">
            <label for="year">Año de compra</label>
            <div class="flex flex-col flex-1">
              <select
                formControlName="year"
                [ngClass]="{
                  'is-invalid': submitted && formMovie.get('year')?.invalid
                }"
              >
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>
              <div
                *ngIf="submitted && formMovie.get('year')?.invalid"
                class="is-invalid-text"
              >
                Selecciona un año
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Descripción -->
      <div class="box-input gap-x-4 px-4">
        <label for="description">Descripción</label>
        <mat-card-content>
          <editor
            apiKey="c8uxjgc7f76nt677zqdn22a8a97bjhc7fyph9y4oxuj7nrx3"
            [init]="{
              height: 300,
              plugins: ['advlist', 'lists', 'wordcount'],
              toolbar:
                'undo redo | bold italic  underline strikethrough | fontfamily fontsize forecolor  backcolor| \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist  | removeformat '
            }"
            formControlName="description"
          ></editor>
        </mat-card-content>
      </div>

      <!-- Portada (Imagen) -->
      <div class="box-input gap-x-4">
        <label for="img">Portada</label>
        <!-- <input
          formControlName="img"
          type="file"
          accept="image/*"
          (change)="onFileChange($event)"

          [ngClass]="{
            'is-invalid': submitted && formMovie.get('img')?.invalid
          }"
        /> -->
        <div *ngIf="formMovie.get('img')?.value">
          Archivo seleccionado: {{ formMovie.get("img")?.value }}
        </div>
        <div
          *ngIf="submitted && formMovie.get('img')?.invalid"
          class="is-invalid-text"
        >
          Debes subir una imagen
        </div>
      </div>

      <!-- Mensaje de error global -->
      <div *ngIf="errorSession" class="is-invalid-text">
        Ocurrió un error con el envío del formulario
      </div>

      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
