<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (isLoading) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormMovie()"
    [formGroup]="formMovie"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <!-- Título -->
      <div class="box-input gap-x-4">
        <label for="email">Título</label>
        <div class="flex flex-col flex-1">
          <input
            formControlName="title"
            placeholder="Título de la película"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && formMovie.get('title')?.invalid
            }"
          />
          @if (submitted && formMovie.get('title')?.invalid) {
          <div class="is-invalid-text">Campo requerido</div>
          }
        </div>
      </div>

      <!-- Director -->
      <div class="box-input gap-x-4">
        <label for="director">Director/a</label>
        <div class="flex flex-col flex-1">
          <input
            formControlName="director"
            placeholder="Director/a de la película"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && formMovie.get('director')?.invalid
            }"
          />
          @if (submitted && formMovie.get('director')?.invalid) {
          <div class="is-invalid-text">Campo requerido</div>
          }
        </div>
      </div>
      <!-- Género y Año de compra-->
      <div class="flex flex-row gap-x-4">
        <div class="box-input gap-y-2 gap-x-4 flex flex-1">
          <label for="gender">Género</label>
          <div class="flex flex-col flex-1">
            <select
              formControlName="gender"
              [ngClass]="{
                'is-invalid': submitted && formMovie.get('gender')?.invalid,
                'text-placeholder': !formMovie.get('gender')?.value
              }"
            >
              <option value="" disabled hidden>Género de la película</option>

              @for (gender of genderMovies; track gender) {
              <option [value]="gender.code">
                {{ gender.name }}
              </option>
              }
            </select>
            @if (submitted && formMovie.get('gender')?.invalid) {
            <div class="is-invalid-text">Selecciona un género</div>
            }
          </div>
        </div>
        <!-- Año de compra -->
        <div class="box-input gap-x-4 w-96">
          <label for="year">Año de compra</label>
          <div class="flex flex-col flex-1">
            <select
              formControlName="year"
              [ngClass]="{
                'is-invalid': submitted && formMovie.get('year')?.invalid,
                'text-placeholder': !formMovie.get('year')?.value
              }"
            >
              <option value="null" disabled hidden>Año de compra</option>
              @for (year of years; track year) {
              <option [value]="year">
                {{ year }}
              </option>
              }
            </select>
            @if (submitted && formMovie.get('year')?.invalid) {
            <div class="is-invalid-text">Selecciona un año</div>
            }
          </div>
        </div>
      </div>
      <hr />
      <!-- Descripción e imagen-->
      <div class="flex gap-x-8">
        <div class="flex-1">
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="description">Descripción</label>
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Descripción"
              class="ql-container-medium w-full text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            <div class="w-full text-right text-xs text-gray-500">
              {{ summaryDescription() }} / 2000
            </div>
          </div>
          <div class="box-input flex flex-col gap-y-2 !items-start">
            <label for="summary">
              Resumen
              <span class="text-[9px]">(Texto para redes sociales)</span></label
            >
            <!-- Resumen (corto) -->
            <div class="box-input flex-1 w-full">
              <textarea
                formControlName="summary"
                maxlength="300"
                rows="2"
                placeholder="Resumen breve del evento (máx. 300 caracteres visibles)"
              ></textarea>
            </div>
            <div class="w-full text-right text-xs text-gray-500">
              {{ summaryLen() }} / 300
            </div>
          </div>
        </div>
        <!-- Portada (Imagen) -->
        <div class="w-72">
          <app-image-control
            [previewImg]="
              formMovie.get('img')?.value ? formMovie.get('img')?.value! : null
            "
            [entityId]="itemId"
            [type]="typeList"
            (imgSelected)="onImageSelected($event)"
            [imageWidthValue]="'full'"
            [textImg]="'Añadir portada'"
            class="w-full"
          ></app-image-control>
        </div>
      </div>
      @if (formMovie.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }
      <!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
  }
</div>
