.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Fija el ancho de las columnas */
  border: none !important;
  box-shadow: none !important;
  z-index: 900;
}

th {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Evita que el contenido de las celdas se desborde */
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: default;
}

.mat-mdc-row {
  border: none !important;
  box-shadow: none !important;
}

.mat-mdc-row:hover {
  background-color: rgb(245, 235, 246);
  font-weight: 500;
}

th.mat-sort-header-sorted {
  color: rgb(232, 148, 243);
}

.mat-column-numberInvoice {
  text-align: left;
  width: 100px;
}
.mat-column-year {
  text-align: center;
  width: 60px;
}

.mat-column-datePresentation,
.mat-column-dateJustification {
  text-align: center;
  width: 110px;
}
.mat-column-period {
  text-align: center;
  width: 190px;
}
.mat-column-activities {
  text-align: center;
  width: 100px;
}
.mat-column-invoices {
  text-align: center;
  width: 80px;
}
.mat-column-urlPresentation {
  width: 80px;
  text-align: center;
}
.mat-column-urlJustification {
  width: 100px;
  text-align: center;
}
/* Cantidades */
.mat-column-amountRequested,
.mat-column-amountGranted,
.mat-column-amountJustified,
.mat-column-amountAssociation {
  text-align: right;
  width: 100px;
}

.mat-column-observations {
  text-align: center;
  width: 120px;
}
.mat-column-activities > div,
.mat-column-urlPresentation > div,
.mat-column-urlJustification > div,
.mat-column-observations > div {
  display: flex;
  justify-content: center;
}
.mat-column-actions {
  text-align: right;
  width: 130px;
}
.mat-column-number {
  text-align: left;
  width: 55px;
}

.custom-header-row {
  position: sticky;
}
.custom-list-row {
  top: 800px;
}
.bg-red {
  background-color: rgba(245, 178, 178, 0.154);
}
.bg-green {
  background-color: rgba(149, 218, 202, 0.111);
}
.bg-yellow {
  background-color: rgba(210, 218, 149, 0.111);
}
.footer {
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footer {
  font-weight: 500;
}
