<div class="flex flex-col mx-3 md:mx-8 mt-4">
  <!-- 🔹 Filtros -->
  <app-filters
    [filters]="filters"
    [(selected)]="selectedFilter"
    (filterClicked)="filterSelected($event)"
  />

  <!-- 🔹 Buscador -->
  <app-input-search (onDebounce)="applyFilterWord($event)" class="my-8" />

  <!-- 🔹 Contenido -->
  @if (moviesFacade.isLoadingList$ | async) {
  <div class="mt-24">
    <app-spinner-loading />
  </div>
  } @else { @if (hasResultsSig()) {
  <app-section-generic
    [typeSection]="typeList.Movies"
    [data]="list.sortedSig()"
    [total]="totalSig()"
    (itemClicked)="openMovieDetails($event)"
  />
  } @else {
  <app-no-results [text]="'películas' | lowercase" />
  } }

  <!-- 🔹 Modal global -->
  @if (modalFacade.isVisibleSig()) {
  <app-modal-shell
    [visible]="modalFacade.isOpenSig()"
    [typeModal]="modalFacade.typeSig()"
    [action]="modalFacade.actionSig()"
    [item]="modalFacade.itemSig()"
    (close)="modalFacade.close()"
  />
  }
</div>
