<div class="flex flex-col mx-3 md:mx-8 mt-4">
  <app-filters
    [filters]="filters"
    [loadFirstFilter]="selectedFilter"
    [loadFilters]="false"
    (filterClicked)="filterSelected($event)"
  />
  <app-input-search (onDebounce)="applyFilterWord($event)" class="my-8" />
  @if (moviesFacade.isLoading$ | async) {
  <app-spinner-loading />
  } @else { @if (areThereResults) {
  <app-section-generic
    [typeSection]="typeList.Movies"
    [typeModal]="typeList.Movies"
    [data]="filteredMovies"
    [total]="number"
  />
  } @else {
  <app-no-results [text]="'películas' | lowercase" />
  } }
</div>
