<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormPlace()"
    [formGroup]="formPlace"
    class="login-auth-form"
    >
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col bg-lilaMuyClaro p-4 gap-y-4">
        <!-- Nombre -->
        <div class="box-input">
          <label for="name">Nombre</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="name"
              type="text"
              [ngClass]="{
                'is-invalid': submitted && formPlace.get('name')?.invalid
              }"
              />

              @if (submitted && formPlace.get('name')?.invalid) {
                <div
                  class="is-invalid-text"
                  >
                  Campo requerido
                </div>
              }
            </div>
          </div>
          <div class="flex justify-between gap-x-4">
            <!-- Provincia -->
            <div class="box-input flex flex-1">
              <label for="province">Provincia</label>
              <select
                formControlName="province"
                (change)="onProvinceChange()"
              [ngClass]="{
                'is-invalid': submitted && formPlace.get('province')?.invalid
              }"
                >
                <option value="">Seleccione una provincia</option>
                @for (prov of provincias; track prov) {
                  <option [value]="prov.label">
                    {{ prov.label }}
                  </option>
                }
              </select>
              @if (submitted && formPlace.get('town')?.invalid) {
                <div
                  class="is-invalid-text"
                  >
                  Campo requerido
                </div>
              }
            </div>
            <!-- Municipio -->
            <div class="box-input flex flex-1">
              <label for="town">Municipio</label>
              <select
                formControlName="town"
              [ngClass]="{
                'is-invalid': submitted && formPlace.get('town')?.invalid
              }"
                >
                <option value="">Seleccione un municipio</option>
                @for (mun of municipios; track mun) {
                  <option [value]="mun.label">
                    {{ mun.label }}
                  </option>
                }
              </select>
              @if (submitted && formPlace.get('town')?.invalid) {
                <div
                  class="is-invalid-text"
                  >
                  Campo requerido
                </div>
              }
            </div>
          </div>
          <div class="flex justify-between gap-x-4">
            <!-- Dirección -->
            <div class="box-input flex-1">
              <label for="address">Dirección</label>
              <input formControlName="address" type="text" />
            </div>
            <!-- Código postal -->
            <div class="box-input w-auto">
              <label for="post_code">C. Postal</label>
              <input formControlName="post_code" type="text" />
            </div>
          </div>
          <div class="flex justify-between gap-x-4">
            <!-- Lat -->
            <div class="box-input flex flex-1">
              <label for="lat">Latitud</label>
              <input formControlName="lat" type="number" />
            </div>
            <div class="box-input flex flex-1">
              <label for="lon">Longitud</label>
              <input formControlName="lon" type="number" />
            </div>
          </div>
        </div>
        <hr />
        <div class="box-input gap-x-4 px-4">
          <label for="gender">Gestión</label>
          <div class="flex flex-col flex-1">
            <select
              formControlName="management"
            [ngClass]="{
              'is-invalid': submitted && formPlace.get('management')?.invalid
            }"
              >
              <option value="">Seleccione el tipo de gestión del espacio</option>
              @for (management of managementPlaces; track management) {
                <option
                  [value]="management.code"
                  >
                  {{ management.name }}
                </option>
              }
            </select>
            @if (submitted && formPlace.get('management')?.invalid) {
              <div
                class="is-invalid-text"
                >
                Selecciona un género
              </div>
            }
          </div>
        </div>
        <div class="flex gap-4">
          <!-- Descripción -->
          <div class="box-input gap-x-4 px-4 w-3/4">
            <label for="description">Descripción</label>

            <textarea
              formControlName="description"
              rows="6"
              class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200 text-sm"
              placeholder="Escribe aquí la descripción del macroevento..."
            ></textarea>
          </div>
          <!-- Imagen -->
          <div class="box-input gap-x-4 px-4 w-72">
            <app-image-control
            [previewImg]="
              formPlace.get('img')?.value ? formPlace.get('img')?.value! : null
            "
              [entityId]="itemId"
              [type]="typeList"
              (imgSelected)="onImageSelected($event)"
              [imageWidthValue]="'full'"
            ></app-image-control>
          </div>
        </div>
        <div class="box-input gap-x-4 px-4">
          <label for="observations">Observaciones</label>
          <input formControlName="observations" type="text" />
        </div>
        <div class="flex justify-start gap-x-4 px-4">
          <input
            type="checkbox"
            formControlName="hassalas"
            (change)="onHassalasChange($event)"
            />
            <label for="hassalas">¿El espacio dispone de más salas?</label>
          </div>
          @if (formPlace.get('hassalas')?.value === true) {
            <div>
              <div formArrayName="salas" class="flex flex-col gap-y-4">
                @for (sala of salas.controls; track sala; let i = $index) {
                  <div
                    [formGroupName]="i"
                    class="flex gap-x-4 px-8"
                    >
                    <input formControlName="id" type="hidden" />
                    <div class="sala_box flex justify-center items-center pr-4">
                      Sala {{ i + 1 }}
                    </div>
                    <div class="flex flex-col flex-1 gap-y-4 bg-lilaMuyClaro p-4">
                      <div class="box-input gap-x-4">
                        <label for="name">Nombre</label>
                        <div class="flex flex-col flex-1">
                          <input
                            formControlName="name"
                            placeholder="Salón de actos"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        formPlace.get('salas')?.get(i.toString())?.get('name')
                          ?.invalid
                    }"
                            />
                            @if (
                              submitted &&
                              formPlace.get('salas')?.get(i.toString())?.get('name')
                              ?.invalid
                              ) {
                              <div
                                class="is-invalid-text"
                                >
                                Campo requerido si se añada una sala
                              </div>
                            }
                          </div>
                        </div>
                        <div class="box-input gap-x-4">
                          <label for="location">Localización</label>
                          <input
                            formControlName="location"
                            placeholder="1ª planta"
                            required
                            />
                          </div>
                          <div class="flex gap-x-4">
                            <div class="box-input gap-x-4 flex flex-1">
                              <label for="name">Situación</label>
                              <div class="flex flex-col flex-1">
                                <select
                                  formControlName="type"
                      [ngClass]="{
                        'is-invalid': submitted && sala.get('type')?.invalid
                      }"
                                  >
                                  <option value="">Seleccione el tipo de espacio</option>
                                  @for (type of typePlaces; track type) {
                                    <option
                                      [value]="type.code"
                                      >
                                      {{ type.name }}
                                    </option>
                                  }
                                </select>
                                @if (submitted && sala.get('type')?.invalid) {
                                  <div
                                    class="is-invalid-text"
                                    >
                                    Campo requerido si se añada una sala
                                  </div>
                                }
                              </div>
                            </div>
                            <div class="box-input gap-x-4">
                              <label for="capacity">Aforo</label>
                              <input
                                formControlName="capacity"
                                type="number"
                                placeholder="Capacidad"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="flex justify-center items-center">
                            <button type="button" (click)="removeSala(i)" class="btn-danger">
                              Eliminar
                            </button>
                          </div>
                        </div>
                      }
                    </div>
                    <div class="mt-4 ml-28">
                      <app-button-icon
                        [buttonText]="'Añadir sala'"
                        [iconClass]="'uil-plus'"
                        (addClicked)="addSala()"
                        />
                      </div>
                    </div>
                  }
                  @if (!formPlace.get('hassalas')?.value) {
                    <div class="flex gap-x-4">
                      <div class="box-input gap-x-4 px-4 flex flex-1">
                        <label for="gender">Espacio</label>
                        <div class="flex flex-col flex-1">
                          <select
                            formControlName="type"
              [ngClass]="{
                'is-invalid': submitted && formPlace.get('type')?.invalid
              }"
                            >
                            <option value="">Seleccione el tipo de espacio</option>
                            @for (type of typePlaces; track type) {
                              <option [value]="type.code">
                                {{ type.name }}
                              </option>
                            }
                          </select>
                          @if (submitted && formPlace.get('type')?.invalid) {
                            <div
                              class="is-invalid-text"
                              >
                              Selecciona un género
                            </div>
                          }
                        </div>
                      </div>
                      <div class="box-input gap-x-4 px-4">
                        <label for="capacity">Aforo</label>
                        <input formControlName="capacity" type="number" />
                      </div>
                    </div>
                  }
                  <!-- Mensaje de error global -->
                  @if (errorSession) {
                    <div class="is-invalid-text">
                      Ocurrió un error con el envío del formulario
                    </div>
                  }
                  <!-- Botón de envío -->
                  <div class="flex justify-center">
                    <button class="bg-black p-4 text-white" type="submit">
                      {{ buttonAction }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
