<div class="modal" (click)="onCloseModalFromOutside($event)">
  <div class="modal_body relative">
    <div
      class="flex justify-end text-gray-500 cursor-pointer hover:text-black"
      (click)="onClose()"
    >
      <i class="uil uil-multiply iconClose text-[20px]"></i>
    </div>
    <h2
      class="text-center text-lg mb-4 uppercase text-lilaOscuro font-semibold"
    >
      Programación eventos
    </h2>
    <div class="flex flex-col gap-y-4">
      @for (event of events; track event.id ?? $index) {
      <div (click)="onSelect(event)" class="cursor-pointer flex gap-x-4">
        <div class="w-[180px] h-[180px] overflow-hidden">
          <img
            appImgBroken
            [src]="(event.img ? event.img : '') | itemImage : typeModal"
            alt="{{ event.title }}"
            class="object-cover rounded"
          />
        </div>

        <div
          class="flex flex-1 flex-col gap-y-2 justify-center bg-gray-100 w-full p-4"
        >
          <div class="text-lg font-bold">
            {{ event.title }}
          </div>

          @if (event.placeData?.name) {
          <div>
            <p class="text-xs">
              {{ event.placeData?.name }} | {{ event.town }}
            </p>
            @if (event.salaData?.name) {
            <p class="text-xs text-gray-500">
              {{ event.salaData?.name }} - {{ event.salaData?.location }}
            </p>
            }
          </div>
          }

          <app-text-background
            [text]="event.start | date : 'EEEE dd MMMM yyyy'"
          >
          </app-text-background>

          @if (event.time_start && event.time_start !== '00:00:00') {
          <app-text-border [text]="event.time_start.slice(0, 5) + ' h'">
          </app-text-border>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
