.body-inscription {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 0.4rem;
  color: rgb(96, 24, 24);
}
.imagen {
  width: 100%;
}
.categories {
  border-radius: 16px;
  font-weight: 500;
  padding: 2px 8px 2px 8px;
  width: max-content;
  text-transform: uppercase;
  background-color: #c1e6dd;
  font-size: 9px;
}
/* Media Queries para dispositivos más pequeños */
/* Ordenador pequeño */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
}
/* Móvil */
@media (max-width: 768px) {
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
