@if (item) {
<div class="flex flex-col justify-between w-full">
  <div>
    @if (item.title) {
    <app-text-title [text]="item.title" />
    } @if (item.town) {
    <app-text-subtitle [text]="item.town" />
    }
    <div class="flex flex-col sm:flex-row gap-4 my-4">
      @if (datesEquals) { @if (item.start) {
      <app-text-background
        [text]="item.start | date : 'EEEE dd MMMM yyyy'"
      ></app-text-background>
      } } @else { @if (item.start && item.end) {
      <app-text-background
        [text]="
          (item.start | date : 'EEEE dd MMMM') +
          ' - ' +
          (item.end | date : 'EEEE dd MMMM yyyy')
        "
      ></app-text-background>
      } }
    </div>
    @if (item.description) {
    <app-text-editor [text]="item.description"></app-text-editor>
    }
  </div>
  @if (item.events && item.events.length > 0) {
  <div class="mt-6 flex flex-1">
    <div class="flex flex-col gap-3 mt-3 w-full">
      @for (event of item.events; track event) {
      <div class="flex w-full gap-x-4" (click)="onOpenEvent(event.id)">
        <div class="w-24 h-32 overflow-hidden flex-shrink-0">
          @if (event.img) {
          <img
            [src]="event.img | itemImage : typeModal"
            alt="{{ event.title }}"
            class="object-cover w-full h-full rounded"
          />
          }
        </div>
        <div class="flex-1 bg-gray-100 p-3 rounded-lg shadow-sm">
          <p class="text-sm font-semibold">{{ event.title }}</p>
          @if (event.start) {
          <p class="text-xs text-gray-600">
            {{ event.start | date : "EEEE dd MMMM yyyy" }} |
            {{ event.time_start?.slice(0, 5) }}h
          </p>
          } @if (event.placeData && event.placeData.name) {
          <p class="text-xs text-gray-600 pt-4">
            {{ event.placeData.name }}
          </p>
          } @if (event.town) {
          <p class="text-xs text-gray-600">
            @if (event.placeData && event.placeData.address) {
            <span> {{ event.placeData.address }}, </span>
            }
            {{ event.town }}
          </p>
          }
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
}
