<div class="nav-bar flex flex-col gap-y-8 justify-center">
  <div class="text-center">
    <h2 class="uppercase">Asociación de Mujeres de Callosa de Segura</h2>
  </div>
  <div>
    <ul class="nav-bar__list list-one">
      <li *ngFor="let item of mainMenu.defaultOptions">
        <a
          [routerLink]="item.router"
          [queryParams]="item.query"
          [routerLinkActive]="['active-link']"
          (click)="setSelectedMenuItem(item.title)"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer p-4 mt-2"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
