<div class="nav-bar">
  <div>
    <h1>Asociación de Mujeres de Callosa de Segura</h1>
  </div>
  <div>
    <ul class="nav-bar_list">
      <li *ngFor="let item of mainMenu.defaultOptions">
        <a
          [routerLink]="item.router"
          [queryParams]="item.query"
          [routerLinkActive]="['active-link']"
          (click)="setSelectedMenuItem(item.title)"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
