<div class="nav-bar">
  <div>
    <h1>Asociación de Mujeres de Callosa de Segura</h1>
  </div>
  <div>
    <div class="nav-bar_list">
      @for (item of mainMenu.defaultOptions; track item) {

      <a
        [routerLink]="item.router"
        [queryParams]="item.query"
        [routerLinkActive]="['active-link']"
        (click)="setSelectedMenuItem(item.title)"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div [innerHTML]="item.title | safeHtml"></div>
      </a>
      }
    </div>
  </div>
</div>
