<div class="flex flex-col mx-3 md:mx-8 mt-4">
  <app-filters
    [filters]="filters"
    [(selected)]="selectedFilter"
    (filterClicked)="filterSelected($event)"
  />
  <app-input-search (onDebounce)="applyFilterWord($event)" class="my-8" />
  @if (booksFacade.isLoadingList$ | async) {
  <div class="mt-24">
    <app-spinner-loading />
  </div>
  } @else { @if (areThereResults) {
  <app-section-generic
    [typeSection]="typeList.Books"
    [data]="filteredBooks"
    [total]="number"
  />
  } @else {
  <app-no-results [text]="'libros' | lowercase" />
  } }
</div>
