<div class="flex flex-col mx-3 md:mx-8 mt-4">
  <app-filters
    [filters]="filtersFacade.filtersSig"
    [selected]="filtersFacade.selectedSig"
    (filterClicked)="filterSelected($event)"
  ></app-filters>

  <app-input-search (onDebounce)="applyFilterWord($event)" class="my-8" />

  @if (booksFacade.isLoadingList$ | async) {
  <div class="mt-24">
    <app-spinner-loading />
  </div>
  } @else { @if (hasResultsSig()) {
  <app-section-generic
    [typeSection]="TypeList.Books"
    [data]="list.sortedSig()"
    [total]="totalSig()"
    (itemClicked)="openBookDetails($event)"
  />
  } @else {
  <app-no-results [text]="'libros' | lowercase" />
  } }
  <app-modal-shell
    [visible]="modalFacade.isVisibleSig()"
    [typeModal]="modalFacade.typeSig()"
    [action]="modalFacade.actionSig()"
    [item]="modalFacade.itemSig()"
    (close)="modalFacade.close()"
  />
</div>
