<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormInvoice()"
    [formGroup]="formInvoice"
    class="login-auth-form"
  >
    <div class="flex gap-x-4">
      <div class="w-full flex flex-col gap-y-4 p-4 bg-lilaMuyClaro">
        <!-- Subvención -->
        <div class="box-input gap-x-4 flex">
          <label for="subsidy">Subvención</label>
          <div class="flex flex-col flex-1">
            <select formControlName="subsidy_id">
              <option [ngValue]="null">En casa subvención</option>
              @for (subsidy of subsidies; track subsidy) {
              <option [ngValue]="subsidy.id">
                {{ subsidy.name }} - {{ subsidy.year }}
              </option>
              }
            </select>
            @if (formInvoice.controls.subsidy_id.disabled) {
            <div>
              <small class="text-gray-500 italic">
                Selecciona FACTURA y también una fecha para habilitar las
                subvecniones de ese año
              </small>
            </div>
            }
          </div>
        </div>
        <div class="box-input gap-x-4 flex">
          <label for="project">Proyecto</label>
          <div class="flex flex-col flex-1">
            <select formControlName="project_id">
              <option [ngValue]="null">En casa proyecto</option>
              @for (project of projects; track project) {
              <option [value]="project.id">
                {{ project.title }} - {{ project.year }}
              </option>
              }
            </select>
            @if (formInvoice.controls.project_id.disabled) {
            <div>
              <small class="text-gray-500 italic">
                Selecciona una fecha para habilitar los proyectos de ese año
              </small>
            </div>
            }
          </div>
        </div>
        <!-- Ingreso o gasto -->
        <div>
          <mat-radio-group
            formControlName="type_invoice"
            class="-ml-3 custom-radio-button"
          >
            <mat-radio-button value="Factura">Gasto Factura</mat-radio-button>
            <mat-radio-button value="Ticket">Gasto Ticket</mat-radio-button>
            <mat-radio-button value="Ingreso">Ingreso</mat-radio-button>
          </mat-radio-group>
          @if (submitted && formInvoice.get('type_invoice')?.invalid) {
          <div class="is-invalid-text">
            Debes seleccionar un tipo de movimiento.
          </div>
          }
        </div>
      </div>
      <div class="w-[450px] flex flex-col gap-y-4 bg-lilaMuyClaro p-4">
        <!-- Fecha Factura -->
        <div class="flex box-input gap-x-4">
          <label for="date_invoice" class="flex-1">F. Compra</label>
          <div class="flex flex-col flex-1">
            <input
              formControlName="date_invoice"
              type="date"
              class="w-54"
              [ngClass]="{
                'strong-border': !formInvoice.get('date_invoice')?.invalid,
                'is-invalid':
                  submitted && formInvoice.get('date_invoice')?.invalid
              }"
            />
            @if (submitted && formInvoice.get('date_invoice')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <!-- Fecha libreta contabilidad -->
        <div class="flex box-input gap-x-4">
          <label for="date_accounting" class="flex-1">F. Libro cont</label>
          <input formControlName="date_accounting" type="date" class="w-54" />
        </div>
        <!-- Fecha pago -->
        <div class="flex box-input gap-x-4">
          <label for="date_payment" class="flex-1">F. Pago</label>
          <input formControlName="date_payment" type="date" class="w-54" />
        </div>
      </div>
    </div>

    <div class="flex gap-x-4 pt-4">
      <div class="w-full flex flex-col gap-y-4 justify-start">
        <!-- Número factura -->
        <div class="flex box-input gap-x-4">
          <label for="number_invoice">Num. Factura</label>
          <input formControlName="number_invoice" type="text" />
        </div>
        <!-- Acreedor -->
        <div class="flex box-input gap-x-4">
          <label for="creditor">Acreedor</label>
          <div class="flex flex-col flex-1">
            <input
              type="text"
              matInput
              [formControl]="searchInput"
              (input)="searchCreditor()"
              [matAutocomplete]="auto"
              style="z-index: 1200"
              [ngClass]="{
                'is-invalid':
                  searchInput.value &&
                  formInvoice.get('creditor_id')?.hasError('notRegistered')
              }"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              style="z-index: 1200; position: fixed"
              (optionSelected)="onSelectedOption($event)"
            >
              @for (creditor of creditors; track creditor) {
              <mat-option
                [value]="creditor"
                (onSelectionChange)="creditorSelected(creditor)"
              >
                {{ creditor.company }}
                @if ( creditor.contact && creditor.contact !== creditor.company
                ) {
                <span>- {{ creditor.contact }}</span>
                }
              </mat-option>
              } @if ( creditors.length === 0 && searchInput.value &&
              searchInput.value.length > 0 ) {
              <mat-option value=""
                >No se encontró ningún acreedor con el término
                {{ searchInput.value }}
              </mat-option>
              }
            </mat-autocomplete>

            @if ( formInvoice.get('creditor_id')?.hasError('notRegistered') &&
            searchInput.value ) {
            <div class="is-invalid-text">
              Acreedor NO registrado. Necesita registrar NUEVO ACREEDOR
              previamente en la sección ACREEDORES
            </div>
            }
          </div>
        </div>
        <div class="flex box-input gap-x-4">
          <!-- Descripción -->
          <label for="description">Descripción</label>
          <div class="flex flex-col flex-1">
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Escribe aquí la descripción..."
              class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            @if (submitted && formInvoice.get('description')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
        </div>
        <!-- Cantidad -->
        <div class="flex gap-x-4 bg-lilaMuyClaro p-4 justify-between">
          <div class="flex flex-col box-input">
            <label for="amount">Cantidad</label>
            <input formControlName="amount" type="number" class="w-[120px]" />
            @if (submitted && formInvoice.get('amount')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
          <!-- IVA -->
          <div class="flex flex-col box-input">
            <label for="iva">IVA</label>
            <input formControlName="iva" type="number" class="w-[120px]" />
          </div>
          <!-- IRPF -->
          <div class="flex flex-col box-input">
            <label for="irpf">IRPF</label>
            <input formControlName="irpf" type="number" class="w-[120px]" />
          </div>
          <!-- TOTAL -->
          <div class="flex flex-col box-input">
            <label for="total_amount" class="font-medium">Total</label>

            <input
              formControlName="total_amount"
              type="number"
              readonly
              class="bg-gray-100 cursor-not-allowed w-full"
            />
          </div>
        </div>
      </div>
      <div class="w-[450px]">
        <app-pdf-control
          [type]="typeList"
          [previewPdf]="selectedPdfValue"
          (pdfSelected)="onPdfSelected($event)"
          [pdfViewerHeight]="318"
        ></app-pdf-control>
      </div>
    </div>

    <!-- Mensaje de error global -->
    @if (errorSession) {
    <div class="is-invalid-text">
      Ocurrió un error con el envío del formulario
    </div>
    }

    <!-- Botón de envío -->
    <div class="flex justify-center mt-8">
      <button class="bg-black p-4 text-white" type="submit">
        {{ buttonAction }}
      </button>
    </div>
  </form>
</div>
