<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  @if (invoicesFacade.isLoadingItem$ |async) {
  <div class="spinner-container">
    <app-spinner-loading />
  </div>
  } @else {
  <form
    appScrollToFirstError
    (ngSubmit)="onSendFormInvoice()"
    [formGroup]="formInvoice"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <!-- TIPO MOVIMIENTO -->
      <div
        class="border-2 pt-2 px-4 pb-6 mb-6"
        [ngClass]="{
          'border-[red]': hasErrorMovementType()
        }"
      >
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">
          Tipo de movimiento económico
        </h2>
        <div class="flex justify-center gap-x-4 py-2">
          <app-button-select
            [buttonText]="'Factura'"
            subText="El gasto dispone de factura"
            [active]="invoiceTypeMovement === 'INVOICE'"
            (addClicked)="setInvoiceTypeMovement('INVOICE')"
            iconClass="uil uil-invoice"
          /><app-button-select
            [buttonText]="'Ticket'"
            subText="El gasto no dispone de factura"
            [active]="invoiceTypeMovement === 'TICKET'"
            (addClicked)="setInvoiceTypeMovement('TICKET')"
            iconClass="uil uil-receipt"
          /><app-button-select
            [buttonText]="'Ingreso'"
            subText="Entrada de dinero a la cuenta"
            [active]="invoiceTypeMovement === 'INCOME'"
            (addClicked)="setInvoiceTypeMovement('INCOME')"
            iconClass="uil uil-money-insert"
          />
        </div>
      </div>
      <!-- FECHAS -->
      <div
        class="border-2 pt-2 px-4 pb-6 mb-6"
        [ngClass]="{
          'border-[red]': submitted && hasErrorsIn(['date_invoice'])
        }"
      >
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">Fecha</h2>
        <div class="flex justify-center gap-x-16 mx-8">
          <!-- Fecha Factura -->
          <div class="flex-1 box-input">
            <label for="date_invoice">
              {{
                invoiceTypeMovement === "INVOICE"
                  ? "F. Factura"
                  : invoiceTypeMovement === "TICKET"
                  ? "F. Ticket"
                  : invoiceTypeMovement === "INCOME"
                  ? "F. Ingreso"
                  : "F. Compra"
              }}
            </label>
            <div class="flex flex-col flex-1">
              <input
                formControlName="date_invoice"
                type="date"
                class="w-full"
                [ngClass]="{
                  'text-placeholder': !formInvoice.get('date_invoice')?.value,
                  'strong-border': !formInvoice.get('date_invoice')?.invalid,
                  'is-invalid':
                    submitted && formInvoice.get('date_invoice')?.invalid
                }"
              />
              @if (submitted && formInvoice.get('date_invoice')?.invalid) { @if
              (submitted &&
              formInvoice.get('date_invoice')?.errors?.['minDate']){
              <div class="is-invalid-text">Debe ser desde 01/01/2018.</div>
              } @else if (submitted &&
              formInvoice.get('date_invoice')?.errors?.['maxDate']){
              <div class="is-invalid-text">Debe ser fecha máxima hoy.</div>
              }@else{
              <div class="is-invalid-text">Campo requerido</div>
              } }
            </div>
          </div>
          <!-- Fecha libreta contabilidad -->
          <div class="flex-1 box-input">
            <label for="date_accounting">F. Libro cont</label>
            <input
              formControlName="date_accounting"
              type="date"
              class="w-full"
              [ngClass]="{
                'text-placeholder': !formInvoice.get('date_accounting')?.value
              }"
            />
          </div>
          <!-- Fecha pago -->
          @if (invoiceTypeMovement !== 'INCOME') {
          <div class="flex-1 box-input">
            <label for="date_payment">F. Pago</label>
            <input
              formControlName="date_payment"
              type="date"
              class="w-full"
              [ngClass]="{
                'text-placeholder': !formInvoice.get('date_payment')?.value
              }"
            />
          </div>
          }
        </div>
      </div>
      <!-- DAtos -->
      <div
        class="border-2 pt-2 px-4 pb-6 mb-6"
        [ngClass]="{
          'border-[red]': submitted && hasErrorsIn(['concept'])
        }"
      >
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">Datos</h2>
        <div class="flex flex-col gap-y-4 justify-start mx-8">
          <!-- ACREEDOR -->
          @if (invoiceTypeMovement !== 'INCOME') {
          <div class="box-input">
            <label for="creditor">Acreedor</label>
            <div class="flex flex-col flex-1">
              <input
                type="text"
                matInput
                [formControl]="searchInput"
                (input)="searchCreditor()"
                [matAutocomplete]="auto"
                placeholder="Busca el acreedor de la fatura"
                style="z-index: 1200"
                [ngClass]="{
                  'is-invalid':
                    searchInput.value &&
                    formInvoice.get('creditor_id')?.hasError('notRegistered')
                }"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="onSelectedOption($event)"
              >
                @for (creditor of (creditorsSorted$ | async) ?? []; track
                creditor.id) {
                <mat-option
                  [value]="creditor"
                  (onSelectionChange)="creditorSelected(creditor)"
                >
                  {{ creditor.company
                  }}<span
                    *ngIf="
                      creditor.contact && creditor.contact !== creditor.company
                    "
                  >
                    - {{ creditor.contact }}</span
                  >
                </mat-option>
                } @if ((creditorsFacade.filteredCreditors$ | async)?.length ===
                0 && searchInput.value?.length) {
                <mat-option value="">
                  No se encontró ningún acreedor con el término
                  {{ searchInput.value }}
                </mat-option>
                }
              </mat-autocomplete>

              @if ( formInvoice.get('creditor_id')?.hasError('notRegistered') &&
              searchInput.value ) {
              <div class="is-invalid-text">
                Acreedor NO registrado. Necesita registrar NUEVO ACREEDOR
                previamente en la sección ACREEDORES
              </div>
              }
            </div>
          </div>
          } @if (invoiceTypeMovement === 'INVOICE') {
          <!-- NÚMERO FACTURA -->
          <div class="box-input">
            <label for="number_invoice">Num. Factura</label>
            <input
              formControlName="number_invoice"
              type="text"
              placeholder="Número de factura"
            />
          </div>
          }
          <!-- CONCEPTO DEL MOVIMIENTO  -->
          <div class="box-input">
            <label for="concept">Concepto</label>
            <div class="flex flex-col flex-1">
              <textarea
                formControlName="concept"
                maxlength="100"
                rows="2"
                placeholder="Concepto del movimiento económico"
              ></textarea>
              <div class="flex justify-end">
                @if (submitted && formInvoice.get('concept')?.invalid) {
                <div class="flex-1 is-invalid-text">Campo requerido</div>
                }
                <div class="text-right text-xs text-gray-500 mt-1">
                  {{ conceptLen() }} / 100
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- DESCRIPCIÓN -->
      <div class="flex gap-x-4">
        <div class="flex box-input flex-1">
          <!-- Descripción -->
          <label for="description">Descripción</label>
          <div class="flex flex-col flex-1">
            <quill-editor
              formControlName="description"
              [modules]="quillModules"
              placeholder="Escribe aquí el concepto del movimiento económico..."
              class="ql-container-large flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
            />
            <div class="w-full text-right text-xs text-gray-500 mt-1">
              {{ descriptionLen() }} / 500
            </div>
          </div>
        </div>
        <div class="w-80">
          <app-pdf-control
            [type]="typeList"
            [previewPdf]="selectedPdfValue"
            (pdfSelected)="onPdfSelected($event)"
            [pdfViewerHeight]="390"
            textPdf="Añadir factura"
          ></app-pdf-control>
        </div>
        <div class="w-80">
          <app-pdf-control
            [type]="typeList"
            [previewPdf]="selectedProofPdfValue"
            (pdfSelected)="onProofPdfSelected($event)"
            [pdfViewerHeight]="390"
            textPdf="Añadir justificante pago"
          ></app-pdf-control>
        </div>
      </div>
      <!-- CANTIDAD -->
      <div
        class="border-2 pt-2 px-4 pb-6 mb-6"
        [ngClass]="{
          'border-[red]': submitted && hasErrorsIn(['amount'])
        }"
      >
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">Cantidad</h2>

        <div class="flex gap-x-16 justify-between mx-8">
          <div class="flex flex-col box-input flex-1">
            <label for="amount">Cantidad</label>
            <input
              formControlName="amount"
              type="number"
              class="w-full"
              [ngClass]="{
                'text-placeholder': !formInvoice.get('amount')?.value,
                'is-invalid': submitted && formInvoice.get('amount')?.invalid
              }"
            />
            @if (submitted && formInvoice.get('amount')?.invalid) {
            <div class="is-invalid-text">Campo requerido</div>
            }
          </div>
          <!-- IVA -->
          <div class="flex flex-col box-input flex-1">
            <label for="iva">IVA</label>
            <input
              formControlName="iva"
              type="number"
              class="w-full"
              [ngClass]="{
                'is-invalid': submitted && formInvoice.get('iva')?.invalid
              }"
            />
          </div>
          <!-- IRPF -->
          <div class="flex flex-col box-input flex-1">
            <label for="irpf">IRPF</label>
            <input
              formControlName="irpf"
              type="number"
              class="w-full"
              [ngClass]="{
                'is-invalid': submitted && formInvoice.get('irpf')?.invalid
              }"
            />
          </div>
          <!-- TOTAL -->
          <div class="flex flex-col box-input">
            <label for="total_amount" class="font-medium">Total</label>
            <input
              formControlName="total_amount"
              type="number"
              readonly
              class="bg-gray-100 cursor-not-allowed w-full"
              [ngClass]="{
                'is-invalid':
                  submitted && formInvoice.get('total_amount')?.invalid
              }"
            />
          </div>
        </div>
      </div>
      <!-- SUBVENCIÓN -->
      @if (invoiceTypeMovement === 'INVOICE') {
      <div class="border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">Subvención</h2>
        <div class="flex justify-center gap-x-4 py-2">
          <app-button-select
            [buttonText]="'No está dentro de una subvención'"
            subText="Es un evento gasto propio"
            [active]="invoiceTypeSubsidy === 'NO_SUBSIDY'"
            (addClicked)="setInvoiceTypeSubsidy('NO_SUBSIDY')"
            iconClass="uil-times-circle"
          /><app-button-select
            [buttonText]="'Está dentro de una subvención'"
            subText="Evento subvencionado"
            [active]="invoiceTypeSubsidy === 'SUBSIDY'"
            (addClicked)="setInvoiceTypeSubsidy('SUBSIDY')"
            iconClass="uil-check-circle"
          />
        </div>
        @if (invoiceTypeSubsidy === 'SUBSIDY') {
        <div class="pt-4 px-4">
          <p class="text-[15px] text-center mb-10 text-lilaText px-4">
            Si la subvención al que pertenece la factura no aparece se debe
            registrar previamente la subvención desde la sección de
            SUBVENCIONES.
          </p>

          <div class="flex gap-x-8">
            <div class="box-input gap-x-4 flex flex-1">
              <label for="province">Subvención</label>
              <div class="flex flex-col flex-1">
                <select formControlName="subsidy_id">
                  <option [ngValue]="null"></option>
                  @for (subsidy of subsidies; track subsidy.id) {
                  <option [ngValue]="subsidy.id">
                    {{ subsidy.name }} - {{ subsidy.year }}
                  </option>
                  }
                </select>
                @if (formInvoice.controls.subsidy_id.disabled) {
                <div>
                  <small class="text-gray-500 italic">
                    Selecciona una fecha de factura para habilitar las
                    subvenciones de ese año
                  </small>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      }
      <!-- PROYECTO -->
      <div class="border-2 pt-2 px-4 pb-6 mb-6">
        <h2 class="font-bold text-lilaText mt-4 mb-6 uppercase">Proyecto</h2>
        <div class="flex justify-center gap-x-4 py-2">
          <app-button-select
            [buttonText]="'No está dentro de un proyecto'"
            subText="Es un evento único"
            [active]="invoiceTypeProject === 'NO_PROJECT'"
            (addClicked)="setInvoiceTypeProject('NO_PROJECT')"
            iconClass="uil-minus-circle"
          /><app-button-select
            [buttonText]="'Está dentro de un proyecto'"
            subText="Está dentro de una programación más amplia"
            [active]="invoiceTypeProject === 'PROJECT'"
            (addClicked)="setInvoiceTypeProject('PROJECT')"
            iconClass="uil-folder-open"
          />
        </div>
        @if (invoiceTypeProject === 'PROJECT') {
        <div class="pt-4 px-4">
          <p class="text-[15px] text-center mb-10 text-lilaText px-4">
            Si el proyecto al que pertenece la factura no aparece se debe
            registrar previamente el proyecto desde la sección de PROYECTOS.
          </p>

          <div class="flex gap-x-8">
            <div class="box-input gap-x-4 flex flex-1">
              <label for="province">Proyecto</label>
              <div class="flex flex-col flex-1">
                <select formControlName="project_id">
                  <option [ngValue]="null">
                    Seleccione una subvención si el proyecto pertenece a alguna
                  </option>
                  @for (project of projects; track project) {
                  <option [value]="project.id">
                    {{ project.title }} - {{ project.year }}
                  </option>
                  }
                </select>

                @if (formInvoice.controls.project_id.disabled) {
                <div>
                  <small class="text-gray-500 italic">
                    Selecciona una fecha de movimiento para habilitar los
                    proyectos de ese año
                  </small>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    @if (formInvoice.invalid && submitted) {
    <div class="flex justify-center mt-4">
      <div class="error">Hay algún campo incorrecto</div>
    </div>
    }
    <!-- Botón de envío -->
    <div class="flex justify-center mt-8">
      <button class="bg-black p-4 text-white" type="submit">
        {{ buttonAction }}
      </button>
    </div>
  </form>
  }
</div>
