<div class="flex flex-col mx-3 md:mx-8 mt-4">
  <app-filters
    [filters]="filterGenderPhotos"
    (filterClicked)="filterSelected($event)"
    [loadFirstFilter]="'CONCENTRACIONES'"
  />
  <!-- Galería de imágenes con Grid -->
  <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-4 mt-8">
    @for (column of splitPhotos(photos, 4); track column) {
    <div class="flex flex-col gap-4">
      @for (photo of column; track photo) {
      <div>
        <img
          [src]="photo.url"
          [alt]="photo.text"
          class="w-full h-auto object-cover"
        />
      </div>
      }
    </div>
    }
  </div>
</div>
