<div>
  <div class="text-center">
    <div
      class="inline-block border-b border-[#1C1C3A] pb-4 mb-4 md:pb-4 md:mb-8"
    >
      <app-text-title [text]="item.title" />
      @if (item.placeData?.name) {
      <app-text-subtitle [text]="item.placeData?.name + ' | ' + item.town" />
      } @if (item.macroeventData && item.macroeventData.title) {
      <p
        class="macro cursor-pointer my-2"
        (click)="onOpenMacroevent(item.macroeventData.id)"
      >
        {{ item.macroeventData.title }}
      </p>
      }
      <app-social-media-share
        [url]="
          'https://asociaciondemujerescallosadesegura.com/share/events/' +
          item.id
        "
        [title]="item.title"
      ></app-social-media-share>
    </div>
  </div>
  <div class="flex flex-col-reverse gap-y-8 lg:flex-row lg:gap-x-10 lg:gap-y-0">
    <div class="lg:w-2/5">
      <img
        appImgBroken
        [src]="(item.img ? item.img : '') | itemImage : typeModal"
        [alt]="item.title"
        class="w-full"
        (click)="openZoom()"
      />
    </div>
    <div class="lg:w-3/5 flex flex-col justify-between gap-y-4">
      @if (item.category){
      <div class="flex gap-x-2 flex-wrap">
        @for (category of item.category; track (category + '-' + $index)) {
        <app-text-background
          [text]="category | dictTranslate : dictType.Categories"
          colorBack="#C1E6DD"
        ></app-text-background>
        }
      </div>
      } @if (item.description){
      <app-text-editor [text]="item.description"></app-text-editor>
      } @if (item.periodicEvents === null){
      <div class="flex flex-row gap-x-4">
        <ng-container class="lowercase">
          @if (item.start && item.end === item.start) {
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaOscuro"
          >
            {{ item.start | date : "EEEE dd MMMM yyyy" }}
          </p>
          }
        </ng-container>
        @if (item.start && item.end !== item.start) {
        <div class="flex items-center gap-x-2 flex-wrap">
          <span
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaOscuro"
            >{{ item.start | date : "EEEE dd MMMM" }}</span
          >
          al
          <span
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaOscuro"
            >{{ item.end | date : "EEEE dd MMMM yyyy" }}</span
          >
        </div>
        }@if ( item.time_start && item.time_start !== '00:00:00') {
        <div class="flex justify-start">
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaClaro"
          >
            {{ item.time_start.slice(0, 5) + " h" }}
          </p>
        </div>
        }
      </div>
      } @if (item.periodicEvents && item.periodicEvents.length > 0) {
      <p
        class="text-[16px] leading-[16px] uppercase text-lilaOscuro font-semibold"
      >
        Pases
      </p>
      <div class="pl-6 flex flex-col gap-y-4">
        @for (func of item.periodicEvents; track (func?.id ?? (func.start + '-'
        + (func.time_start ?? '') + '-' + $index))) {
        <div class="flex sm:flex-row gap-x-4 items-center">
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaOscuro"
          >
            {{ func.start | date : "EEEE dd MMMM yyyy" }}
          </p>

          @if (func.time_start !== '00:00:00') {
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaClaro"
          >
            {{ func.time_start.slice(0, 5) + " h" }}
          </p>
          }
        </div>
        }
      </div>
      }@if (item.audience) {
      <div class="flex">
        <div
          class="border-r-[1px] border-lilaOscuro w-[120px] text-[10px] flex justify-start items-center mr-4"
        >
          Público recomendado
        </div>
        @for (badge of (item.audience | audienceBadges); track (badge + '-' +
        $index)) {
        <app-text-background
          [text]="badge"
          colorBack="#bed8f7"
        ></app-text-background>
        }
      </div>

      } @if(item.access === 'FREE'){
      <app-text-background [text]="'Acceso gratuito'"></app-text-background>}
      @if (item.access === 'TICKETS'){
      <p
        class="text-[16px] leading-[16px] uppercase text-lilaOscuro font-semibold"
      >
        Precio
      </p>
      <div class="pl-6 flex flex-col gap-y-4">
        @for (ticket of item.ticket_prices; track (ticket.type + '-' +
        ticket.price + '-' + $index)){
        <div class="flex sm:flex-row gap-x-4 items-center">
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaClaro"
          >
            {{ ticket.type }}
          </p>

          @if (ticket.price.toString() !== "0") {
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaClaro"
          >
            {{ ticket.price + " €" }}
          </p>
          }@if (ticket.price.toString() === "0") {
          <p
            class="text-[9px] md:text-[12px] px-[6px] pt-1 pb-[3px] rounded-[4px] border-[1px] border-lilaClaro"
          >
            Gratis
          </p>
          }
        </div>
        }
      </div>

      }@if (item.organizer && item.organizer.length > 0) {
      <div class="flex">
        <div
          class="border-r-[1px] border-lilaOscuro w-[60px] text-[10px] flex justify-start items-center"
        >
          Organiza
        </div>
        <div class="flex flex-col justify-center">
          @for (organizer of item.organizer; track (organizer?.id ??
          (organizer.name + '-' + $index))) {
          <p class="text-[10px] font-bold pl-3">{{ organizer.name }}</p>
          }
        </div>
      </div>
      } @if (item.collaborator && item.collaborator.length > 0) {
      <div class="flex">
        <div
          class="border-r-[1px] border-lilaOscuro w-[60px] text-[10px] flex justify-start items-center"
        >
          Colabora
        </div>

        <div class="flex flex-col justify-center">
          @for (colab of item.collaborator; track (colab?.id ?? (colab.name +
          '-' + $index))) {
          <p class="text-[10px] font-bold pl-3">{{ colab.name }}</p>
          }
        </div>
      </div>
      } @if (item.sponsor && item.sponsor.length > 0) {
      <div class="flex">
        <div
          class="border-r-[1px] border-lilaOscuro w-[60px] text-[10px] flex justify-start items-center"
        >
          Patrocina
        </div>

        <div class="flex flex-col justify-center">
          @for (sponsor of item.sponsor; track (sponsor?.id ?? (sponsor.name +
          '-' + $index))) {
          <p class="text-[10px] font-bold pl-3">{{ sponsor.name }}</p>
          }
        </div>
      </div>
      }
      <div>
        @if (item.inscription_method ) {
        <p class="text-[12px]" [innerHTML]="item.inscription_method"></p>
        }@if (item.tickets_method) {
        <p class="text-[12px]" [innerHTML]="item.tickets_method"></p>
        } @if (item.status === enumStatusEnum.CANCELADO) {
        <app-text-background
          [text]="'Evento ' + item.status"
          [colorBack]="'#de7a71'"
        ></app-text-background>
        } @if (item.status === enumStatusEnum.AGOTADO) {
        <div class="flex justify-center my-4">
          <app-text-background
            [text]="'Plazas agotadas'"
            [colorBack]="'#de7a71'"
            [colorText]="'white'"
            [number]="12"
          ></app-text-background>
        </div>
        } @if (item.status_reason) {
        <app-text-editor [text]="item.status_reason"></app-text-editor>
        }
      </div>
      <hr class="mt-2 mb-2 border-b-1 border-[#1C1C3A]" />
      <div class="flex items-center gap-x-6">
        <div>
          <span
            class="inline-block w-7 h-7 shrink-0 text-red-500"
            [style.maskImage]="'url(assets/icons/building.svg)'"
            [style.webkitMaskImage]="'url(assets/icons/building.svg)'"
            style="
              mask-size: contain;
              mask-repeat: no-repeat;
              mask-position: center;
              -webkit-mask-size: contain;
              -webkit-mask-repeat: no-repeat;
              -webkit-mask-position: center;
              background-color: currentColor;
            "
          >
          </span>
        </div>
        <div class="flex flex-col border-l-[1px] border-lilaOscuro pl-4">
          <p>{{ item.placeData?.name }}</p>
          <p>
            {{ item.placeData?.address }} @if(item.placeData?.address){, }
            {{ item.town }}
          </p>
          @if (item.salaData?.name) {
          <p class="text-gray-500 pb-2">
            {{ item.salaData?.name }}
            {{
              item.salaData?.room_location
                ? ", " +
                  (item.salaData?.room_location
                    | filterTransformCode : "roomLocationPlaces")
                : ""
            }}
          </p>
          }
        </div>
      </div>
      @if (item.placeData && item.placeData.lat && item.placeData.lon) {
      <app-map [lat]="item.placeData.lat" [lon]="item.placeData.lon"></app-map>
      }
    </div>
  </div>
</div>
@if (showZoom) {
<app-image-zoom-overlay
  [open]="showZoom"
  [src]="(item.img ? item.img : '') | itemImage : typeModal"
  [alt]="item.title"
  [maxScale]="5"
  [minScale]="1"
  [caption]="item.title"
  (closed)="closeZoom()"
></app-image-zoom-overlay>
}
