<div class="flex flex-col justify-between">
  <div>
    <p *ngIf="item.macroeventData && item.macroeventData?.title" class="macro">
      {{ item.macroeventData.title }}
    </p>
    <app-text-title [text]="item.title" />
    <app-text-subtitle
      *ngIf="item.placeData?.name"
      [text]="item.placeData?.name + ' | ' + item.town"
    />

    <p class="text-xs text-gray-500 pl-2" *ngIf="item.salaData?.name">
      Sala: {{ item.salaData?.name }} - {{ item.salaData?.location }}
    </p>
    <div class="flex flex-col sm:flex-row gap-4 my-4">
      <ng-container *ngIf="datesEquals; else dateRange" class="lowercase">
        <app-text-background
          *ngIf="item.start"
          [text]="item.start | date : 'EEEE dd MMMM yyyy'"
        ></app-text-background>
      </ng-container>
      <ng-template #dateRange>
        <app-text-background
          *ngIf="item.start && item.end"
          [text]="
            (item.start | date : 'EEEE dd MMMM') +
            ' - ' +
            (item.end | date : 'EEEE dd MMMM yyyy')
          "
        ></app-text-background>
      </ng-template>
      <app-text-border
        *ngIf="item.time !== ''"
        [text]="item.time?.slice(0, 5) + ' h'"
      >
      </app-text-border>
    </div>
    <div class="mb-6">
      <app-text-background
        *ngIf="item.organizer && item.organizer.length > 0"
        [text]="'Organiza'"
      ></app-text-background>
      <p
        *ngFor="let organizer of item.organizer"
        class="text-sm text-gray-700 pl-6 pt-2"
      >
        - {{ organizer.name }}
      </p>
    </div>
    <div class="mb-6">
      <app-text-background
        *ngIf="item.collaborator && item.collaborator.length > 0"
        [text]="'Colabora'"
      ></app-text-background>
      <p
        *ngFor="let colab of item.collaborator"
        class="text-sm text-gray-700 pl-6 pt-2"
      >
        - {{ colab.name }}
      </p>
    </div>
    <div class="mb-6">
      <app-text-background
        *ngIf="item.sponsor && item.sponsor.length > 0"
        [text]="'Patrocina'"
      ></app-text-background>

      <p
        *ngFor="let sponsor of item.sponsor"
        class="text-sm text-gray-700 pl-6 pt-2"
      >
        - {{ sponsor.name }}
      </p>
    </div>
    <!-- <p class="body-subtitle">Aforo - {{ item.capacity }}</p> -->
    <app-text-editor [text]="item.description"></app-text-editor>
    <div class="my-4">
      <app-text-border *ngIf="item.price" [text]="item.price"></app-text-border>
    </div>
    <app-map
      *ngIf="item.placeData && item.placeData.lat && item.placeData.lon"
      [lat]="item.placeData.lat"
      [lon]="item.placeData.lon"
    ></app-map>
  </div>
  <div>
    <p class="body-inscription" *ngIf="item.inscription === true">
      * Se requiere inscripción previa en el email
      asociacionmujerescallosa&#64;gmail.com
    </p>
    <app-text-background
      *ngIf="item.status === enumStatusEnum.CANCELADO"
      [text]="'Evento ' + item.status"
      [colorBack]="'#de7a71'"
    ></app-text-background>
    <app-text-background
      *ngIf="item.status === enumStatusEnum.AGOTADO"
      [text]="'Inscripciones ' + item.status"
      [colorBack]="'#de7a71'"
      [colorText]="'white'"
    ></app-text-background>
    <app-text-editor
      *ngIf="item.status_reason"
      [text]="item.status_reason"
    ></app-text-editor>
  </div>
</div>
