.macro {
  background-color: rgba(239, 159, 128, 0.792);
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 6px 3px 6px;
  width: auto;
  display: inline-block;
}
img[appPinchZoom] {
  cursor: grab;
}
img[appPinchZoom]:active {
  cursor: grabbing;
}
/* Media Queries para dispositivos más pequeños */
/* Ordenador pequeño */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 1024px) {
}
/* Móvil */
@media (max-width: 768px) {
}
/* Móvil pequeño */
@media (max-width: 480px) {
}
