.tableTotalYears {
  width: 100%;
}
.tableTotalYears th {
  border-top: 1px solid #1c1c3a;
  border-bottom: 1px solid #1c1c3a;
  color: #1c1c3a;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 0;
}
.tableTotalYears td {
  font-size: 10px;
  color: #1c1c3a;
}
.tableTotalYears .fila {
  border-bottom: 1px solid #a4a4a7;
}

.tableTotalYears .total_table {
  border-top: 1px solid #1c1c3a;
  border-bottom: 1px solid #1c1c3a;
}
.tableTotalYears .total_table td {
  padding: 12px 0;
}
