<app-sticky-zone [height]="210">
  <app-dashboard-header
    [icon]="'uil uil-newspaper'"
    [title]="'Revistas'"
    [number]="number"
    [type]="'Piteras'"
  />
  <div class="flex flex-col gap-y-8">
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nueva Pitera'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewPiteraModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />

      <app-icon-action
        [icon]="'uil-print'"
        [tooltip]="'Imprimir tabla'"
        (click)="printTableAsPdf()"
      ></app-icon-action>
      <app-column-menu
        [columns]="headerListPiteras"
        [visibility]="columnVisSig()"
        (toggle)="toggleColumn($event)"
      />
    </div>
  </div>
</app-sticky-zone>
<div class="flex flex-col px-8">
  @if (piterasFacade.isLoading$ | async) {
  <app-spinner-loading />
  } @else {@if(filteredPiteras.length > 0){
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado piteras</h2>
    <app-table
      [data]="filteredPiteras"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="getVisibleColumns()"
      [columnVisibility]="columnVisSig()"
      (openModal)="onOpenModal($event)"
      [displayedColumns]="displayedColumnsSig()"
      [topHeader]="210"
      [showNumberColumn]="false"
      [printIncludeNumber]="false"
    />
  </div>
  }@else{
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay piteras registradas.
  </div>
  } }
</div>

<!-- Modal -->

<app-modal-shell
  [visible]="isModalVisible"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  [canGoBack]="false"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormPiteraData)="sendFormPitera($event)"
>
</app-modal-shell>
