<!-- Diseño del mode (big)-->
<div [ngClass]="type === typeList.Piteras ? 'card card-pitera' : 'card'">
  <img appImgBroken [src]="item.img | itemImage : type" alt="" class="cover" />
  <div class="flex flex-col gap-y-1 text-center py-4">
    <div class="item-title">{{ item.title }}</div>
    @if (type === typeList.Events && item.place_name) {
    <div class="flex justify-center">
      <app-text-border [text]="item.place_name"> </app-text-border>
    </div>
    } @if (type === typeList.Events && item.time_start && item.time_start !==
    '00:00:00') {
    <div class="flex justify-center">
      <app-text-border [text]="item.time_start?.slice(0, 5) + ' h'">
      </app-text-border>
    </div>
    } @if (type !== typeList.Piteras) {
    <div class="item-subTitle">
      {{ item.author || item.director || item.place }}
    </div>
    } @if (type === typeList.Piteras) {
    <div class="item-subTitle">
      {{ item.year }}
    </div>
    }
    <div class="flex justify-center">
      @if ( type === typeList.Books || type === typeList.Movies || type ===
      typeList.Recipes ) {
      <app-text-background [text]="item.gender || item.category">
      </app-text-background>
      } @if (type === typeList.Piteras && item.url) {
      <app-text-link
        [text]="'Ver pdf'"
        [url]="'/uploads/pdf/PITERAS/' + item.url"
      >
        Ver Documento ></app-text-link
      >
      }
    </div>
    @if (type === typeList.Events) { @if (item.periodicEvents === null){
    <div class="item-date">
      <div class="flex justify-center">
        <ng-container class="lowercase">
          @if (item.start && item.end === item.start) {
          <app-text-background
            [text]="item.start | date : 'EEEE dd MMMM yyyy'"
          ></app-text-background>
          }
        </ng-container>
        @if (item.start && item.end !== item.start) {
        <app-text-background
          [text]="
            (item.start | date : 'EEEE dd MMMM') +
            ' - ' +
            (item.end | date : 'EEEE dd MMMM yyyy')
          "
        ></app-text-background>
        }
      </div>
    </div>

    }
    <div class="flex gap-x-4 justify-center">
      @if (item.periodicEvents && item.periodicEvents.length > 0){ @for (func of
      item.periodicEvents; track func) {
      <div
        class="flex flex-col rounded-[4px] font-medium px-[6px] py-[4px] pb-[3px] w-max uppercase bg-lilaClaro"
      >
        <p>{{ func.start | date : "EEEE" }}</p>
        <p>{{ func.start | date : "dd MMM" }}</p>
      </div>
      } }
    </div>
    }

    <div class="flex justify-center">
      @if (item.status === 'Cancelado') {
      <app-text-background
        [text]="'Evento ' + item.status"
        [colorBack]="'#de7a71'"
      ></app-text-background>
      } @if (item.status === 'Agotadas') {
      <app-text-background
        [text]="'Inscripciones ' + item.status"
        [colorBack]="'#de7a71'"
        [colorText]="'white'"
      ></app-text-background>
      }
    </div>
  </div>
</div>
