<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil-users-alt'"
    [title]="'Agentes'"
    [number]="list.countSig()"
    [type]="'Agentes'"
  />
  <div class="flex flex-1 flex-col justify-start p-8 gap-y-8">
    <app-filters
      [filters]="filtersFacade.filtersSig"
      [selected]="filtersFacade.selectedSig"
      (filterClicked)="filterSelected($event)"
    />
    <app-page-toolbar
      [columns]="headerListAgents"
      [visibility]="col.columnVisSig"
      [addText]="'Añadir agente'"
      (add)="addNewAgentModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    />
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (agentsFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (hasRowsSig()) {
  <div #printArea>
    <h2 class="only-on-pdf print-title">Listado de agentes</h2>
    <app-table
      [data]="list.processedSig()"
      [typeSection]="TypeList.Agents"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay agentes registrados.
  </div>
  } }
</div>

<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="currentModalTypeSig()"
  [action]="currentModalActionSig()"
  [item]="currentItemSig()"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  (sendFormAgentData)="sendFormAgent($event)"
  (back)="onBackModal()"
  (openEvent)="onOpenEvent($event)"
/>
