<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil-comments'"
    [title]="'Entidades colaboradoras'"
    [number]="list.countSig()"
    [type]="'agentes'"
  />
  <app-page-toolbar
    [addText]="'Nuevo agente'"
    [columns]="headerListAgents"
    [visibility]="col.columnVisSig"
    (add)="addNewAgentModal()"
    (search)="applyFilterWord($event)"
    (print)="printTableAsPdf()"
    (toggle)="col.toggleColumn($event)"
  >
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
      class="ml-2"
    />
  </app-page-toolbar>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (agentsFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (list.processedSig().length > 0) {
  <div class="pb-4" #printArea>
    <h2 class="only-on-pdf print-title">Listado agentes</h2>
    <app-table
      [data]="list.processedSig()"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="col.getVisibleColumns()"
      [columnVisibility]="col.columnVisSig()"
      [displayedColumns]="col.displayedColumnsSig()"
      (openModal)="onOpenModal($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay agentes registrados.
  </div>
  } }
</div>

<!-- Modal -->
<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  [canGoBack]="canGoBack"
  (back)="onBackModal()"
  (close)="onCloseModal()"
  (openEvent)="onOpenEvent($event)"
  (confirmDelete)="onDelete($event)"
  (sendFormAgentData)="sendFormAgent($event)"
/>
