<div class="sticky-zone">
  <app-dashboard-header
    [icon]="'uil-building'"
    [title]="''"
    [number]="number"
    [type]="'Espacios'"
  />
  <div class="flex flex-1 flex-col justify-center px-8 gap-y-8">
    <div class="flex gap-x-4">
      <app-button-icon
        [buttonText]="'Nuevo espacio'"
        [iconClass]="'uil-plus'"
        (addClicked)="addNewPlaceModal()"
      />
      <app-input-search (onDebounce)="applyFilterWord($event)" class="flex-1" />
    </div>
  </div>
</div>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  @if (isLoading) {
  <app-spinner-loading />
  } @else {
  <div class="pb-4 flex">
    <app-table
      [data]="filteredPlaces"
      [typeSection]="typeSection"
      [typeModal]="typeModal"
      [headerColumns]="headerListPlaces"
      (openModal)="onOpenModal($event)"
      [topFilter]="210"
      [topHeader]="266"
    />
  </div>
  }
  <!-- Tabla -->
</div>

<!-- Modal -->
@if (isModalVisible) {
<app-modal
  [item]="item"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeletePlace(item)"
  (sendFormPlaceData)="sendFormPlace($event)"
></app-modal>
}
