<div
  class="control-container"
  [style.width]="imageWidthValue ? imageWidthValue + 'px' : '100%'"
>
  <div class="image-container">
    <img
      [src]="imageSource()"
      [style.width]="imageWidthValue ? imageWidthValue + 'px' : '100%'"
      [height]="imageHeight()"
      class="mat-elevation-z5"
      [style.opacity]="uploading() ? 0.5 : 1"
    />
  </div>
  <input
    #inputField
    hidden
    type="file"
    accept="image/*"
    (change)="imageSelected($event)"
    (click)="inputField.value = ''"
  />

  <button type="button" mat-raised-button (click)="inputField.click()">
    Seleccionar imagen
  </button>
  <button
    *ngIf="
      previewUrl &&
      previewUrl !== placeholder &&
      previewUrl !== placeholderPartner
    "
    type="button"
    mat-raised-button
    color="warn"
    (click)="removeImage()"
    style="margin-left: 10px"
  >
    Eliminar imagen
  </button>
</div>
