<div class="control-container" [style.width]="imageWidth() + 'px'">
  <div class="image-container">
    <img
      [src]="imageSource()"
      [width]="imageWidth()"
      [height]="imageHeight()"
      class="mat-elevation-z5"
      [style.opacity]="uploading() ? 0.5 : 1"
    />
  </div>
  <input
    #inputField
    hidden
    type="file"
    accept="image/*"
    (change)="imageSelected($event)"
    (click)="inputField.value = ''"
  />

  <button type="button" mat-raised-button (click)="inputField.click()">
    Seleccionar imagen
  </button>

  <!-- <button
    type="button"
    mat-raised-button
    (click)="onSubmit()"
    *ngIf="selectedFile"
  >
    Subir foto
  </button> -->
</div>
