<div class="section--generic">
  <div class="flex flex-row justify-start section--generic--total">
    Total: <span>{{ total }} {{ typeSection }}</span>
  </div>

  <div class="section--generic--list">
    <ul class="list">
      @if (typeSection === TypeList.Events) { @for (item of data; track
      item.id){
      <li [ngClass]="{ 'opacity-50 grayscale': item.isPast }">
        <app-card-events
          [item]="item"
          [type]="typeSection"
          (click)="onClickItem(item)"
        />
      </li>
      } } @else { @for (item of data; track item.id){
      <li>
        <app-card
          [item]="item"
          [type]="typeSection"
          (click)="onClickItem(item)"
        />
      </li>
      } }
    </ul>
  </div>
</div>
