.side-bar {
  width: 16.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 20px 0 10px 0;
  overflow-y: auto;
}

.side-bar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}
.side-bar__list .list-wrapper-item {
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-family: "poppins";
  padding: 7px 10px 7px 30px;
}
.side-bar__list .list-wrapper-item.active {
  background-color: #8fe489;
  cursor: pointer;
  color: black;
}
.side-bar__list .list-wrapper-item.active:hover {
  color: black;
}
.side-bar__list .list-wrapper-item:hover {
  cursor: pointer;
  color: #8fe489;
}

.side-bar__list .list-label {
  font-size: 14px;
  font-weight: 400;
}

.side-bar__list .list-wrapper-item .uil {
  font-size: var(--font-size-3);
  padding-right: 0.5rem;
}

.side-bar__separator {
  margin: 1rem 0;
}

.side-bar__separator.line-separator {
  border-bottom: solid 0.5px var(--color-4);
  margin-left: 20px;
}

.side-bar__list.list-three .list-wrapper-item {
  padding: 0.25rem 0;
}
