<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil uil-ticket'"
    [title]="'Calendario'"
    [number]="(events$ | async)?.length || 0"
    [type]="'eventos'"
  />
  <div class="flex flex-col gap-y-10">
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
    >
    </app-filters>
  </div>
</app-sticky-zone>

<div class="w-full">
  @if (eventsFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (events$ | async; as events) { @if ((events?.length ?? 0) > 0 &&
  selectedFilter) {
  <div class="w-full">
    <app-calendar
      [events]="(events$ | async) ?? []"
      [filterYear]="selectedFilter"
      [isDashboard]="true"
      (createEvent)="onCreateEventAtDate($event)"
      (viewEvent)="onOpenEvent($event)"
      (editEvent)="onEditEvent($event)"
      (deleteEvent)="onDeleteEvent($event)"
      (openMulti)="onOpenMulti($event)"
    ></app-calendar>
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay eventos registrados.
  </div>
  } } }
</div>

<!-- Modal de ficha de evento -->
<app-modal-shell
  [visible]="isModalVisible"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  [canGoBack]="canGoBack"
  (back)="onBackModal()"
  (close)="onCloseModal()"
  (openEvent)="onOpenEvent($event)"
  (openMacroevent)="onOpenMacroEvent($event)"
  (confirmDelete)="onDeleteEvent($event)"
  (sendFormEventData)="sendFormEvent($event)"
  (addEvent)="onCreateEventAtDate($event)"
  (viewEvent)="onOpenEvent($event)"
  (editEvent)="onEditEvent($event)"
  (removeEvent)="onDeleteEvent($event)"
/>
