<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil uil-ticket'"
    [title]="'Calendario'"
    [number]="(events$ | async)?.length || 0"
    [type]="'eventos'"
  />
  <div class="flex flex-col gap-y-10">
    <!-- ✅ OJO: usar () en signals -->
    <app-filters
      [filters]="filtersFacade.filtersSig"
      [selected]="filtersFacade.selectedSig"
      (filterClicked)="filterSelected($event)"
    />
  </div>
</app-sticky-zone>

<div class="w-full">
  @if (eventsFacade.isListLoading$ | async) {
  <app-spinner-loading />
  } @else { @if (events$ | async; as events) { @if ((events?.length ?? 0) > 0 &&
  selectedFilter) {
  <div class="w-full" #printArea>
    <app-calendar
      [events]="events"
      [filterYear]="filterYearNumber"
      [isDashboard]="true"
      (createEvent)="onCreateEventAtDate($event)"
      (viewEvent)="onOpenEvent($event)"
      (editEvent)="onEditEvent($event)"
      (deleteEvent)="onDeleteEvent($event)"
      (openMulti)="onOpenMulti($event)"
    />
  </div>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay eventos registrados.
  </div>
  } } }
</div>

<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="currentModalTypeSig()"
  [action]="currentModalActionSig()"
  [item]="currentItemSig()"
  (back)="onBackModal()"
  (close)="onCloseModal()"
  (openEvent)="onOpenEvent($event)"
  (openMacroevent)="onOpenMacroEvent($event)"
  (confirmDelete)="onDeleteEvent($event)"
  (sendFormEventData)="sendFormEvent($event)"
  (addEvent)="onCreateEventAtDate($event)"
  (viewEvent)="onOpenEvent($event)"
  (editEvent)="onEditEvent($event)"
/>
