<app-sticky-zone>
  <app-dashboard-header
    [icon]="'uil-euro-circle'"
    [title]="'Subvenciones'"
    [number]="list.countSig()"
    [type]="'Subvenciones'"
  />
  <div class="flex flex-1 flex-col justify-start p-8 gap-y-8">
    <app-filters
      [filters]="filters"
      [(selected)]="selectedFilter"
      (filterClicked)="filterSelected($event)"
    />
    @if (showAllSubsidies) {
    <app-page-toolbar
      [columns]="headerListSubsidies"
      [visibility]="col.columnVisSig"
      [addText]="'Añadir subvención'"
      (add)="addNewSubsidyModal()"
      (search)="applyFilterWord($event)"
      (print)="printTableAsPdf()"
      (toggle)="col.toggleColumn($event)"
    />
    }
  </div>
</app-sticky-zone>

<div class="flex flex-col px-8">
  @if (subsidiesFacade.isLoadingList$ | async) {
  <app-spinner-loading />
  } @else { @if (showAllSubsidies) {
  <div #printArea>
    <h2 class="only-on-pdf print-title">Listado subvenciones</h2>

    @for (group of (groupedByYearSig() | keyvalue : sortYearsDesc); track
    group.key) {
    <div class="pb-4">
      <h3 class="year-title text-[14px] font-bold mb-4">Año {{ group.key }}</h3>
      <div class="pb-4 flex">
        <app-table
          [data]="group.value"
          [typeSection]="typeModal"
          [typeModal]="typeModal"
          [headerColumns]="col.getVisibleColumns()"
          [columnVisibility]="col.columnVisSig()"
          [displayedColumns]="col.displayedColumnsSig()"
          (openModal)="onOpenModal($event)"
        />
      </div>
    </div>
    }
  </div>
  <hr />
  } @else { @if (visibleTabs.length > 0) {
  <mat-tab-group
    (selectedTabChange)="tabActive($event)"
    [selectedIndex]="selectedIndex"
  >
    @for (tab of visibleTabs; track tab) {
    <mat-tab [label]="tab.label">
      <app-tab-subsidy
        [item]="tab.item"
        [loadInvoices]="true"
        (openModal)="onOpenModal($event)"
      />
    </mat-tab>
    }
  </mat-tab-group>
  } @else {
  <div class="text-center text-gray-600 my-12 text-lg">
    No hay subvenciones registradas en este año.
  </div>
  } } }
</div>

<app-modal-shell
  [visible]="modalVisibleSig()"
  [typeModal]="typeModal"
  [action]="currentModalAction"
  [item]="item"
  (close)="onCloseModal()"
  (confirmDelete)="onDelete($event)"
  [canGoBack]="canGoBack"
  (back)="onBackModal()"
  (sendFormSubsidyData)="sendFormSubsidy($event)"
  (sendFormProjectData)="sendFormProject($event)"
  (sendFormInvoiceData)="sendFormInvoice($event)"
  (openProject)="onOpenProject($event)"
  (openInvoice)="onOpenInvoice($event)"
/>
