<div class="sticky-zone">
  <app-dashboard-header
    [icon]="'uil-euro-circle'"
    [title]="''"
    [number]="number"
    [type]="'Subvenciones'"
  />
  <div class="flex flex-1 flex-col justify-start p-8 gap-y-8">
    <app-filters
      [filters]="filtersYears"
      (filterClicked)="filterSelected($event)"
    ></app-filters>
    <ng-container *ngIf="showAllSubsidies">
      <div class="flex gap-x-4">
        <app-button-icon
          [buttonText]="'Añadir subveción'"
          [iconClass]="'uil-plus'"
          (addClicked)="addNewSubsidyModal()"
        />
        <app-input-search
          (onDebounce)="applyFilterWord($event)"
          class="flex-1"
        />
      </div>
    </ng-container>
  </div>
</div>
<div class="flex flex-col px-8">
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="isLoading" />
  <!-- Tabla -->
  <ng-container *ngIf="showAllSubsidies">
    <div class="pb-4 flex">
      <app-table
        [data]="filteredSubsidies"
        [headerColumns]="headerListSubsidies"
        [type]="typeListModal"
        (openModal)="onOpenModal($event)"
      ></app-table>
    </div>
  </ng-container>
  <ng-container
    *ngIf="!showAllSubsidies && !isLoading && visibleTabs.length > 0"
  >
    <mat-tab-group
      (selectedTabChange)="tabActive($event)"
      [selectedIndex]="selectedIndex"
    >
      <mat-tab *ngFor="let tab of visibleTabs" [label]="tab.label">
        <app-tab-subsidy
          [item]="tab.item"
          [loadInvoices]="true"
          (openModal)="onOpenModal($event)"
        ></app-tab-subsidy>
      </mat-tab>
    </mat-tab-group> </ng-container
  ><!-- Mensaje cuando no hay subvenciones -->
  <ng-container
    *ngIf="!showAllSubsidies && !isLoading && visibleTabs.length === 0"
  >
    <div class="text-center text-gray-600 my-12 text-lg">
      No hay subvenciones registradas en este año.
    </div>
  </ng-container>
</div>
<!-- Modal -->
<app-modal
  *ngIf="isModalVisible"
  [item]="item"
  [type]="typeListModal"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeleteSubsidy(item)"
  (sendFormSubsidyData)="sendFormSubsidy($event)"
></app-modal>
