<div>
  <app-dashboard-header
    [icon]="'uil uil-video'"
    [title]="'Filmoteca'"
    [number]="number"
    [type]="'peliculas'"
  />
  <div
    class="pt-8 px-8 flex add"
    [class.sticky-toolbar]="isStickyToolbar"
    #toolbar
  >
    <app-button-add
      [buttonText]="'Nueva película'"
      [iconClass]="'uil-plus'"
      (addClicked)="addNewMovieModal()"
    />
    <div class="flex-1">
      <app-input-search (onDebounce)="applyFilter($event)" />
    </div>
  </div>
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="!dataLoaded; else results" />
  <!-- Tabla -->
  <ng-template #results>
    <div class="pb-4 px-8 flex" [class.sticky-table]="isStickyToolbar">
      <app-table
        [data]="filteredMovies"
        [type]="typeList"
        [headerColumns]="headerListMovies"
        (openModal)="onOpenModal($event)"
      />
    </div>
  </ng-template>
</div>

<!-- Modal -->
<app-modal
  *ngIf="isModalVisible"
  [item]="item"
  [type]="typeList"
  [action]="currentModalAction"
  (closeModal)="onCloseModal()"
  (confirmDelete)="confirmDeleteMovie(item)"
  (sendFormMovieData)="sendFormMovie($event)"
></app-modal>
