.search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.search > i {
  color: #5d4364;
  font-size: 25px;
  padding-right: 6px;
  border-radius: 6px;
  height: 40px;
  padding-left: 6px;
  margin-right: 10px;
}
.search > input {
  flex: 1;
  border: 1px solid #cb8dd952;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  height: 40px;
  border-radius: 16px;
}
