<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8 table"
>
  <!-- NUM -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>Num.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- TIPO -->
  <ng-container matColumnDef="type_invoice">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por tipo de factura"
    >
      Tipo
    </th>
    <td mat-cell *matCellDef="let element">
      <div>
        <span
          [ngClass]="{
            'type-ticket': element.type_invoice === 'Ticket',
            'type-factura': element.type_invoice === 'Factura',
            'type-ingreso': element.type_invoice === 'Ingreso',
          }"
          >{{ element.type_invoice }}</span
        >
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- NUM FACTURA -->
  <ng-container matColumnDef="number_invoice">
    <th mat-header-cell *matHeaderCellDef>Num. Factura</th>
    <td mat-cell *matCellDef="let element">{{ element.number_invoice }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- FECHA FACTURA -->
  <ng-container matColumnDef="date_invoice">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Fecha factura
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.date_invoice | date : "dd MMM yyyy" : "Europe/Madrid" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- FECHA CUENTAS -->
  <ng-container matColumnDef="date_accounting">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by accounting date"
    >
      Fecha cuentas
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.date_accounting | date : "dd MMM yyyy" : "Europe/Madrid" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- FECHA PAGO -->
  <ng-container matColumnDef="date_payment">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by payment date"
    >
      Fecha pago
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.date_payment !== null; else noPayment">
        <span class="dateColumn">
          {{ element.date_payment | date : "dd MMM yyyy" : "Europe/Madrid" }}
        </span>
      </div>
      <ng-template #noPayment>
        <div class="flex justify-center">
          <app-circle-indicator [item]="false"></app-circle-indicator>
        </div>
      </ng-template>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- ACREEDOR -->
  <ng-container matColumnDef="creditor">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by creditor"
    >
      Acreedor
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        *ngIf="
          element.creditor_company !== element.creditor_contact;
          else noCreditor
        "
      >
        {{ element.creditor_company }}<br />
        <small>{{ element.creditor_contact }}</small>
      </ng-container>
      <ng-template #noCreditor>{{ element.creditor_company }} -</ng-template>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- DESCRIPCIÓN -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let element">
      <div class="tableTextEditor" [title]="element.description">
        <span [innerHTML]="element.description"></span>
        <span *ngIf="element.description">...</span>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- CANTIDAD -->
  <ng-container matColumnDef="amount">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by amount"
    >
      Cantidad
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.amount !== null">{{
        element.amount | eurosFormat
      }}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- IVA -->
  <ng-container matColumnDef="iva">
    <th mat-header-cell *matHeaderCellDef>IVA</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.iva !== null">{{ element.iva | eurosFormat }} </span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- IRPF -->
  <ng-container matColumnDef="irpf">
    <th mat-header-cell *matHeaderCellDef>IRPF</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.irpf !== null">{{
        element.irpf | eurosFormat
      }}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotalIrpf() | eurosFormat }}
    </td>
  </ng-container>

  <!-- TOTAL -->
  <ng-container matColumnDef="total_amount">
    <th mat-header-cell *matHeaderCellDef>TOTAL</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.total_amount !== null">{{
        element.total_amount | eurosFormat
      }}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotalAmount() | eurosFormat }}
    </td>
  </ng-container>

  <!-- SUBVENCIÓN -->
  <ng-container matColumnDef="subsidy">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by IRPF"
    >
      SUBVENCIÓN
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.subsidy">
        <span
          [ngClass]="{
            'subsidy-ayunt-equip': element.subsidy === 'AYUNT_EQUIPAMIENTO',
            'subsidy-ayunt-activ': element.subsidy === 'AYUNT_ACTIVIDADES',
            'subsidy-gener': element.subsidy === 'GENERALITAT',
            'subsidy-dipu': element.subsidy === 'DIPUTACION',
            'subsidy-minis': element.subsidy === 'MINISTERIO'
          }"
          >{{ element.subsidy | i18nSelect : nameSubsidy }} -
          {{ element.subsidy_year }}</span
        >
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <!-- ACCIONES -->
  <ng-container matColumnDef="actions">
    <th
      mat-header-cell
      *matHeaderCellDef
      [ngClass]="{
        show: !edit && !delete
      }"
    ></th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        show: !edit && !delete
      }"
    >
      <app-icon-action
        [icon]="'uil-eye'"
        (click)="onOpenModal(type, typeActionModal.Show, element)"
      ></app-icon-action>
      <app-icon-action
        *ngIf="edit"
        [icon]="'uil-edit'"
        (click)="onOpenModal(type, typeActionModal.Edit, element)"
      ></app-icon-action>
      <app-icon-action
        *ngIf="delete"
        [icon]="'uil-trash-alt'"
        (click)="onOpenModal(type, typeActionModal.Delete, element)"
      ></app-icon-action>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="custom-header-row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="custom-list-row"
    [ngClass]="{
      'bg-red': row.type_invoice === 'Ticket',
      'bg-green': row.type_invoice === 'Ingreso',
      'bg-yellow': row.type_invoice === 'Factura'
    }"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer"></tr>
</table>
