<div class="flex flex-col">
  <div class="text-center pb-5 uppercase">
    <p class="text-2xl">{{ titleForm }}</p>
  </div>
  <form
    (ngSubmit)="onSendFormSubsidy()"
    [formGroup]="formSubsidy"
    class="login-auth-form"
  >
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between gap-x-4">
        <div class="flex flex-col flex-1 gap-y-4">
          <div class="flex flex-row">
            <!-- SUBVENCIÓN -->
            <div class="flex flex-1 justify-between gap-x-4">
              <div class="flex box-input gap-y-2 gap-x-4 flex-1">
                <label for="name">Subvención</label>
                <select formControlName="name">
                  @for (subsidy of FilterSubsidies; track subsidy) {
                  <option [value]="subsidy.code">
                    {{ subsidy.name }}
                  </option>
                  }
                </select>
              </div>
              <!-- AÑO -->
              <div class="flex box-input gap-x-4 w-1/3">
                <label for="subsidy_year">Año solicitud</label>
                <div class="flex flex-col flex-1">
                  <select
                    formControlName="year"
                    [ngClass]="{
                      'is-invalid':
                        submitted && formSubsidy.get('year')?.invalid
                    }"
                  >
                    @for (year of years; track year) {
                    <option [value]="year">
                      {{ year }}
                    </option>
                    }
                  </select>
                  @if (submitted && formSubsidy.get('year')?.invalid) {
                  <div class="is-invalid-text">
                    Campo requerido si hay subvención
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <!-- PERIODO -->
          <div class="flex box-input gap-x-4">
            <label for="period" class="flex-1">Periodo actividades </label>
            <input formControlName="start" type="date" class="w-54" />
            <span> a </span>
            <input formControlName="end" type="date" class="w-54" />
          </div>
        </div>
        <div class="flex flex-col gap-y-4 w-1/3 bg-lilaMuyClaro p-4">
          <!-- Fecha PRESENTACIÓN -->
          <div class="flex box-input gap-x-4">
            <label for="date_presentation" class="flex-1"
              >F. Presentación</label
            >
            <input
              formControlName="date_presentation"
              type="date"
              class="w-54"
            />
          </div>
          <!-- Fecha JUSTIFICACIÓN -->
          <div class="flex box-input gap-x-4">
            <label for="date_justification" class="flex-1"
              >F. Justificación</label
            >
            <input
              formControlName="date_justification"
              type="date"
              class="w-54"
            />
          </div>
        </div>
      </div>
      <!-- URL -->
      <div class="box-input gap-x-4">
        <label for="url_presentation">Url subvención</label>
        <input type="text" formControlName="url_presentation" />
      </div>
      <div class="box-input gap-x-4">
        <label for="url_justification">Url resolución</label>
        <input type="text" formControlName="url_justification" />
      </div>
      <div
        class="flex justify-between gap-x-4 bg-lilaMuyClaro pt-4 pb-8 px-4 my-4"
      >
        <!-- CANTIDAD SOLICITADA -->
        <div class="flex flex-col flex-1 box-input gap-y-2">
          <label for="amount_requested">Cantidad solicitada</label>
          <input formControlName="amount_requested" type="number" />
        </div>
        <!-- CANTIDAD ADJUDICADA -->
        <div class="flex flex-col flex-1 box-input gap-y-2">
          <label for="amount_granted" class="font-medium"
            >Cantidad adjudicada</label
          >
          <input formControlName="amount_granted" type="number" />
        </div>
        <!-- CANTIDAD JUSTIFICADA -->
        <div class="flex flex-col flex-1 box-input gap-y-2">
          <label for="amount_justified">Cantidad necesaria justificar</label>
          <input formControlName="amount_justified" type="number" />
        </div>
        <!-- CANTIDAD JUSTIFICADA -->
        <!-- <div class="flex flex-col box-input gap-x-4">
                  <label for="amount_association">Cantidad aporta asociaión</label>
                  <input formControlName="amount_association" type="number" />
                </div> -->
      </div>

      <!-- OBSERVACIONES -->
      <div class="flex box-input gap-x-4 mt-4">
        <label for="observations">Observaciones</label>
        <div class="flex flex-col flex-1">
          <quill-editor
            formControlName="observations"
            [modules]="quillModules"
            placeholder="Escribe aquí la descripción..."
            class="flex-1 text-sm focus:outline-none focus:ring focus:ring-blue-200"
          />
        </div>
      </div>
      @if (formSubsidy.invalid && submitted) {
      <div class="flex justify-center">
        <div class="error">Hay algún campo incorrecto</div>
      </div>
      }<!-- Botón de envío -->
      <div class="flex justify-center">
        <button class="bg-black p-4 text-white" type="submit">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </form>
</div>
