<div class="relative w-full" [style.height]="pdfViewerHeight + 'px'">
  @if (previewUrl && isPdfAvailable) {
    <object
      [data]="previewUrl"
      type="application/pdf"
      width="100%"
      [style.height]="pdfHeight + 'px'"
    ></object>
    <div
      class="absolute top-0 left-0 w-full h-full cursor-pointer"
      (click)="openPdfNewWindow()"
      style="z-index: 10"
      [style.height]="pdfHeight + 'px'"
    ></div>
  } @else {
    <img
      [src]="placeholder"
      alt="No se pudo cargar el PDF"
      class="w-full h-full"
      />
    }


    <input
      #pdfInput
      type="file"
      accept="application/pdf"
      hidden
      (change)="onFileSelected($event)"
      (click)="pdfInput.value = ''"
      />

      <button
        mat-raised-button
        type="button"
        (click)="pdfInput.click()"
        class="w-full my-4"
        >
        Seleccionar PDF
      </button>

      @if (isPdfAvailable) {
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="removePdf()"
          class="w-full"
          >
          Eliminar PDF
        </button>
      }
    </div>
