<div class="flex flex-col mx-3 md:mx-8">
  <div>
    <button (click)="filterSelected('')" class="btn btn-primary">
      Todos los Acreedores
    </button>
    <app-filters
      [filters]="filterGenderBooks"
      (filterClicked)="filterSelected($event)"
      [loadFirstFilter]="''"
    />
  </div>
  <app-input-search (onDebounce)="applyFilter($event)" class="my-4 md:my-6" />
  <!-- Spinner Loading -->
  <app-spinner-loading *ngIf="isLoading; else results" />
  <!-- Sección cards -->
  <ng-template #results>
    <app-section-generic
      *ngIf="areThereResults; else notResults"
      [type]="typeList.Books"
      [data]="filteredBooks"
      [total]="number"
    />
  </ng-template>
  <!-- Sección no hay resultados -->
  <ng-template #notResults
    ><app-no-results [text]="'libros' | lowercase"
  /></ng-template>
</div>
