.share-icons {
  display: flex;
  gap: 0.5rem;
}

.share-icons a,
.share-icons button {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.share-icons button {
  padding: 0;
}
.share-icons a:hover,
.share-icons button:hover {
  background-color: rgba(203, 141, 217, 0.32);
  border: none;
}
